{% extends 'layouts/application.html' %}{% block bodyClass %}class="page-internal"{% endblock %}{% block content %}
<main id="main-content" role="main">
  <div class="space-100"></div>
  <section id="mod-404">
    <div class="d-table w-100 h-100">
      <div class="d-table-cell align-middle text-center">
        <div class="container">
          <h1>404</h1>
          <p>Page not found</p>
          <h4>Please try one of the following pages:</h4>
          <a href="index.html" title="Back to home" class="btn btn-custom btn-custom-primary"><span>Back to home</span><span>Back to home</span></a>
        </div>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
</main>
{% endblock %}
