{% extends 'layouts/application.html' %}{% block bodyClass %}class="page-internal"{% endblock %}{% block content %}
<main id="main-content" role="main">
  <style>
    .glyph {
  font-size: 16px;
  width: 15em;
  padding-bottom: 1em;
  margin-right: 4em;
  margin-bottom: 1em;
  float: left;
  overflow: hidden;
}
.liga {
  width: 80%;
  width: calc(100% - 2.5em);
}
.talign-right {
  text-align: right;
}
.talign-center {
  text-align: center;
}
.bgc1 {
  background: #f1f1f1;
}
.fgc1 {
  color: #999;
}
.fgc0 {
  color: #000;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mvm {
  margin-top: .75em;
  margin-bottom: .75em;
}
.mtn {
  margin-top: 0;
}
.mtl, .mal {
  margin-top: 1.5em;
}
.mbl, .mal {
  margin-bottom: 1.5em;
}
.mal, .mhl {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.mhmm {
  margin-left: 1em;
  margin-right: 1em;
}
.mls {
  margin-left: .25em;
}
.ptl {
  padding-top: 1.5em;
}
.pbs, .pvs {
  padding-bottom: .25em;
}
.pvs, .pts {
  padding-top: .25em;
}
.unit {
  float: left;
}
.unitRight {
  float: right;
}
.size1of2 {
  width: 50%;
}
.size1of1 {
  width: 100%;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden-true {
  display: none;
}
.textbox0 {
  width: 3em;
  background: #f1f1f1;
  padding: .25em .5em;
  line-height: 1.5;
  height: 1.5em;
}
#testDrive {
  display: block;
  padding-top: 24px;
  line-height: 1.5;
}
.fs0 {
  font-size: 16px;
}
.fs1 {
  font-size: 32px;
}
.fs2 {
  font-size: 32px;
}
.fs3 {
  font-size: 24px;
}
.fs4 {
  font-size: 20px;
}
.fs5 {
  font-size: 32px;
}
    </style>
  <div class="space-100"></div>
  <div class="container">
    <div class="bgc1 clearfix">
      <h1 class="mhmm mvm">
        <span class="fgc1">Font Name:</span> icomoon
        <small class="fgc1">(Glyphs:&nbsp;67)</small>
      </h1>
    </div>
    <div class="clearfix mhl ptl">
      <h1 class="mvm mtn fgc1">Grid Size: 16</h1>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-subtract">

          </span>
          <span class="mls"> icon-subtract</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e92a" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe92a;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-minus-alt">

          </span>
          <span class="mls"> icon-minus-alt</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e929" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe929;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-plus-alt">

          </span>
          <span class="mls"> icon-plus-alt</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e91b" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe91b;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-add">

          </span>
          <span class="mls"> icon-add</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e91b" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe91b;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-radio-checked">

          </span>
          <span class="mls"> icon-radio-checked</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e919" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe919;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-radio-checked2">

          </span>
          <span class="mls"> icon-radio-checked2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e91a" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe91a;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-radio-unchecked">

          </span>
          <span class="mls"> icon-radio-unchecked</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e900" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe900;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-radio-button">

          </span>
          <span class="mls"> icon-radio-button</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e900" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe900;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-circle">

          </span>
          <span class="mls"> icon-circle</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e900" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe900;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-phone">

          </span>
          <span class="mls"> icon-phone</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e943" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe943;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="phone, telephone" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-location">

          </span>
          <span class="mls"> icon-location</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e948" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe948;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="location, map-marker" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-location2">

          </span>
          <span class="mls"> icon-location2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e949" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe949;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="location2, map-marker2" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-search">

          </span>
          <span class="mls"> icon-search</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e987" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe987;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="search, magnifier" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-bin">

          </span>
          <span class="mls"> icon-bin</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e9ad" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe9ad;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="bin, trashcan" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-download3">

          </span>
          <span class="mls"> icon-download3</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e9c8" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe9c8;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="download3, save5" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-attachment">

          </span>
          <span class="mls"> icon-attachment</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e9ce" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe9ce;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="attachment, paperclip" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-plus4">

          </span>
          <span class="mls"> icon-plus4</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea0a" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea0a;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="plus, add" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-minus">

          </span>
          <span class="mls"> icon-minus</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea0b" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea0b;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="minus, subtract" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-cancel-circle">

          </span>
          <span class="mls"> icon-cancel-circle</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea0e" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea0e;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="cancel-circle, close" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-arrow-up2">

          </span>
          <span class="mls"> icon-arrow-up2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea3b" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea3b;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="arrow-up2, up2" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-arrow-down2">

          </span>
          <span class="mls"> icon-arrow-down2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea3f" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea3f;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="arrow-down2, down2" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-google-plus">

          </span>
          <span class="mls"> icon-google-plus</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea8b" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea8b;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="google-plus, brand5" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-facebook">

          </span>
          <span class="mls"> icon-facebook</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea90" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea90;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="facebook, brand10" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-facebook2">

          </span>
          <span class="mls"> icon-facebook2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea92" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea92;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="facebook2, brand11" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-instagram">

          </span>
          <span class="mls"> icon-instagram</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea93" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea93;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="instagram, brand12" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-twitter">

          </span>
          <span class="mls"> icon-twitter</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea96" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea96;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="twitter, brand16" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-rss">

          </span>
          <span class="mls"> icon-rss</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea9b" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea9b;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="feed2, rss" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-rss2">

          </span>
          <span class="mls"> icon-rss2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea9d" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea9d;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="feed3, rss2" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-youtube">

          </span>
          <span class="mls"> icon-youtube</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea9e" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea9e;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="youtube, brand21" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-youtube2">

          </span>
          <span class="mls"> icon-youtube2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="ea9f" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xea9f;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="youtube2, brand22" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-linkedin">

          </span>
          <span class="mls"> icon-linkedin</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="eacb" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xeacb;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="linkedin, brand64" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-linkedin2">

          </span>
          <span class="mls"> icon-linkedin2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="eaca" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xeaca;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="linkedin2, brand65" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-file-pdf">

          </span>
          <span class="mls"> icon-file-pdf</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="eae0" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xeae0;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="file-pdf, file10" class="liga unitRight" />
        </div>
      </div>
    </div>
    <div class="clearfix mhl ptl">
      <h1 class="mvm mtn fgc1">Grid Size: 32</h1>
      <div class="glyph fs2">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-minus4">

          </span>
          <span class="mls"> icon-minus4</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e927" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe927;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs2">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-minus5">

          </span>
          <span class="mls"> icon-minus5</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e928" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe928;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs2">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-plus">

          </span>
          <span class="mls"> icon-plus</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e91c" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe91c;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs2">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-add3">

          </span>
          <span class="mls"> icon-add3</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e91c" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe91c;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs2">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-plus3">

          </span>
          <span class="mls"> icon-plus3</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e91d" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe91d;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs2">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-add4">

          </span>
          <span class="mls"> icon-add4</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e91d" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe91d;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs2">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-mail-envelope-closed2">

          </span>
          <span class="mls"> icon-mail-envelope-closed2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e902" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe902;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs2">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-mail-envelope-closed">

          </span>
          <span class="mls"> icon-mail-envelope-closed</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e901" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe901;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
    </div>
    <div class="clearfix mhl ptl">
      <h1 class="mvm mtn fgc1">Grid Size: 24</h1>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-add2">

          </span>
          <span class="mls"> icon-add2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e91e" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe91e;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-close">

          </span>
          <span class="mls"> icon-close</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e91f" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe91f;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-menu">

          </span>
          <span class="mls"> icon-menu</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e920" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe920;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-check_box_outline_blank">

          </span>
          <span class="mls"> icon-check_box_outline_blank</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e903" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe903;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-check_box">

          </span>
          <span class="mls"> icon-check_box</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e904" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe904;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-vertical_align_bottom">

          </span>
          <span class="mls"> icon-vertical_align_bottom</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e905" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe905;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-keyboard_arrow_down">

          </span>
          <span class="mls"> icon-keyboard_arrow_down</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e906" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe906;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-arrow_drop_down">

          </span>
          <span class="mls"> icon-arrow_drop_down</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e907" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe907;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-minus3">

          </span>
          <span class="mls"> icon-minus3</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e926" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe926;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-plus2">

          </span>
          <span class="mls"> icon-plus2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e921" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe921;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-menu2">

          </span>
          <span class="mls"> icon-menu2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e922" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe922;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevrons-right">

          </span>
          <span class="mls"> icon-chevrons-right</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e908" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe908;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevrons-left">

          </span>
          <span class="mls"> icon-chevrons-left</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e909" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe909;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevron-right">

          </span>
          <span class="mls"> icon-chevron-right</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e90a" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe90a;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevron-left">

          </span>
          <span class="mls"> icon-chevron-left</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e90b" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe90b;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevron-down">

          </span>
          <span class="mls"> icon-chevron-down</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e90c" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe90c;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs3">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevron-up">

          </span>
          <span class="mls"> icon-chevron-up</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e90d" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe90d;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
    </div>
    <div class="clearfix mhl ptl">
      <h1 class="mvm mtn fgc1">Grid Size: 20</h1>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-minus2">

          </span>
          <span class="mls"> icon-minus2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e925" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe925;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-cross">

          </span>
          <span class="mls"> icon-cross</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e923" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe923;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevron-with-circle-up">

          </span>
          <span class="mls"> icon-chevron-with-circle-up</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e90f" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe90f;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevron-with-circle-right">

          </span>
          <span class="mls"> icon-chevron-with-circle-right</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e910" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe910;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevron-with-circle-left">

          </span>
          <span class="mls"> icon-chevron-with-circle-left</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e911" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe911;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevron-with-circle-down">

          </span>
          <span class="mls"> icon-chevron-with-circle-down</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e912" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe912;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevron-thin-up">

          </span>
          <span class="mls"> icon-chevron-thin-up</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e913" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe913;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevron-thin-right">

          </span>
          <span class="mls"> icon-chevron-thin-right</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e914" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe914;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevron-thin-left">

          </span>
          <span class="mls"> icon-chevron-thin-left</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e915" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe915;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-chevron-thin-down">

          </span>
          <span class="mls"> icon-chevron-thin-down</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e916" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe916;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-close2">

          </span>
          <span class="mls"> icon-close2</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e924" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe924;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-arrow-thin-right">

          </span>
          <span class="mls"> icon-arrow-thin-right</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e917" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe917;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
      <div class="glyph fs4">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-arrow-thin-left">

          </span>
          <span class="mls"> icon-arrow-thin-left</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e918" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe918;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
    </div>
    <div class="clearfix mhl ptl">
      <h1 class="mvm mtn fgc1">Grid Size: Unknown</h1>
      <div class="glyph fs5">
        <div class="clearfix bshadow0 pbs">
          <span class="icomoon icon-pencil">

          </span>
          <span class="mls"> icon-pencil</span>
        </div>
        <fieldset class="fs0 size1of1 clearfix hidden-false">
          <input type="text" readonly value="e90e" class="unit size1of2" />
          <input type="text" maxlength="1" readonly value="&#xe90e;" class="unitRight size1of2 talign-right" />
        </fieldset>
        <div class="fs0 bshadow0 clearfix hidden-true">
          <span class="unit pvs fgc1">liga: </span>
          <input type="text" readonly value="" class="liga unitRight" />
        </div>
      </div>
    </div>
  </div>
  <div class="space-50"></div>
</main>
{% endblock %}
