{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-internal"{% endblock %}
{% block content %}
<main id="main-content" role="main">
	<section class="module mod-content-editor">
		<div class="container">
			<div class="mod-forgot um-password um-err um-um_password_id" data-module="forgot">
	
				<div class="um-form-forgot">
					<h1>Password Reset</h1>
					<form method="post" action="">
	
	
						<input type="hidden" name="_um_password_reset" id="_um_password_reset" value="1" />
	
	
						<div class="um-field um-field-password_reset_text um-field-block um-field-type_block" data-key="password_reset_text">
							<div class="um-field-block">
								<div style="text-align:center">To reset your password, please enter your email address or username below</div>
							</div>
						</div>
						<div class="um-field um-field-username_b um-field-text um-field-type_text" data-key="username_b">
							<div class="um-field-area">
								<input autocomplete="off" class="um-form-field um-error " type="text" name="username_b" id="username_b" value="" placeholder="Enter your username or email"
								 data-validate="" data-key="username_b" />
	
							</div>
							<div class="um-field-error">
								<span class="um-field-arrow">
									<i class="um-faicon-caret-up"></i>
								</span>We can't find an account registered with that address or username</div>
						</div>
	
						<div class="um-col-alt um-col-alt-b">
	
							<div class="um-center">
								<input type="submit" value="Reset my password" class="um-button" id="um-submit-btn" />
							</div>
	
							<div class="um-clear"></div>
	
						</div>
					</form>
				</div>
			</div>
			<style type="text/css">
				.um-um_password_id.um {
					max-width: 450px;
				}
			</style>
	
		</div>
	</section>
</main>
{% endblock %}
