{% extends 'layouts/application.html' %}{% block bodyClass %}class="page-internal"{% endblock %} {% block content %}
<main id="main-content">
    {% include "modules/mod-banner.html" %}
    <div class="news-link container">
        <a class="btn btn-custom btn-custom-primary" href="press.html">
            <span><i class="icomoon icon-chevron-left" aria-hidden="true"></i> Back to Press &amp; Media</span>
            <span><i class="icomoon icon-chevron-left" aria-hidden="true"></i> Back to Press &amp; Media</span>
        </a>
    </div>
    {% include "modules/mod-content-editor.html" %}
</main>
{% endblock %}