{% from 'macros/form.html' import formBlock, formHorizontal, select, selectHorizontal, textarea, textareaHorizontal %} {%
from 'macros/helpers.html' import image %} {% extends 'layouts/application.html' %}{% block bodyClass %}class="page-internal"{%
endblock %} {% block content %}
<main id="main-content" role="main">
  {% set banner_data = banner_story %}
  {% include "modules/mod-banner.html" %}
  {% include 'modules/mod-our-story.html' %}
  {% include 'modules/mod-product-image.html' %}
  {% set status = true %}
  {% include 'modules/mod-group-quote-cta.html' %}
  {% include 'modules/mod-cta.html' %}
  {% set list_instagram = instagram %}
  {% include 'modules/mod-insta-link.html' %}
</main>
{% endblock %}
