{% extends 'layouts/application.html' %}{% block bodyClass %}class="page-internal"{% endblock %}{% block content %}
<main id="main-content" role="main">
	<div class="space-200"></div>
	<div class="container">
		<ul class="">
			<li><a href="index.html">index.html</a></li>
			<li><a href="shop.html">shop.html</a></li>
			<!-- <li><a href="universal.html">universal.html</a></li> -->
			<li><a href="contact.html">contact.html</a></li>
      <li><a href="our-story.html">our-story.html</a></li>
      <li><a href="benefits.html">benefits.html</a></li>
      <li><a href="faq.html">faq.html</a></li>
			<li><a href="press.html">press.html</a></li>
			<li><a href="news-post.html">news-post.html</a></li>
			<li><a href="404.html">404.html</a></li>
		</ul>
	</div>
	<div class="space-50"></div>
</main>
{% endblock %}
