
{% extends 'layouts/application.html' %}{% block bodyClass %}class="internal student-main"{% endblock %}
{% block content %}

<section class="mod-facial-rec" onload="init();">

  <div class="facial-rec">
    {% include "modules/facial-recog.html" %}
  </div>

  <div class="container">
    <div class="card center">

      <div class="card-content">
        <div class="card-action">
          <a class="btn-floating btn-large waves-effect waves-light red" onclick="startWebcam();"><i class="material-icons">camera</i></a>
          <a class="btn-floating btn-large waves-effect waves-light red" onclick="snapshot();"><i class="material-icons">verified_user</i></a>
        </div>
        <div class="input-field col s6">
          <input placeholder="Name" type="text" class="validate" id="ip">
          <input placeholder="Age" type="text" class="validate" id="age">
          <input placeholder="Level of Study" type="text" class="validate" id="lvlstdy">
          <input placeholder="Field of Study" type="text" class="validate" id="fos">
          <input placeholder="Location of Study" type="text" class="validate" id="locstdy">
          <input placeholder="Extracurriculars" type="text" class="validate" id="extrac">
        </div>
        <p>
          <video onclick="snapshot(this);" width=300 height=300 id="video" controls autoplay></video>
          <br>
          <canvas id="myCanvas" width="300" height="220"></canvas>
        </p>
      </div>

    </div>
  </div>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>

  <script type="text/javascript">
    //--------------------
    // GET USER MEDIA CODE
    //--------------------
    navigator.getUserMedia = (navigator.getUserMedia ||
      navigator.webkitGetUserMedia ||
      navigator.mozGetUserMedia ||
      navigator.msGetUserMedia);

    var video;
    var webcamStream;

    function startWebcam() {
      if (navigator.getUserMedia) {
        navigator.getUserMedia(

          // constraints
          {
            video: true,
            audio: false
          },

          // successCallback
          function (localMediaStream) {
            video = document.querySelector('video');
            video.src = window.URL.createObjectURL(localMediaStream);
            webcamStream = localMediaStream;
          },

          // errorCallback
          function (err) {
            console.log("The following error occured: " + err);
          }
        );
      } else {
        console.log("getUserMedia not supported");
      }
    }

    var database = firebase.database();

    //---------------------
    // TAKE A SNAPSHOT CODE
    //---------------------
    var canvas, ctx;

    function init() {
      // Get the canvas and obtain a context for
      // drawing in it
      canvas = document.getElementById("myCanvas");
      ctx = canvas.getContext('2d');
    }

    function snapshot() {

      ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
      var img1 = new Image();
      img1.src = canvas.toDataURL();
      var ip = document.getElementById('ip').value;
      var age = document.getElementById('age').value;
      var lvlstdy = document.getElementById('lvlstdy').value;
      var fos = document.getElementById('fos').value;
      var locstdy = document.getElementById('locstdy').value;
      var extrac = document.getElementById('extrac').value;

      var id = database.ref().push().key;
      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "https://api.kairos.com/enroll",
        "method": "POST",
        "headers": {
          "content-type": "application/json",
          "app_id": "9a9338e2",
          "app_key": "87dccea595a1f11022e9fbd6fd474424",
          "cache-control": "no-cache"
        },
        "processData": false,
        "data": JSON.stringify({
          "image": img1.src,
          "gallery_name": "Arti",
          "subject_id": id
        })
      }

      $.ajax(settings).done(function (response) {
        console.log(JSON.stringify(response));
      });

      var data = {
        "name": ip,
        "age": age,
        "levelofstudy": lvlstdy,
        "fieldofstudy": fos,
        "locstudy": locstdy,
        "extracurriculars": extrac
      }
      database.ref('users/' + id).set(data)
        .then(function () {
          console.log('Synchronization succeeded');
        })
        .catch(function (error) {
          console.log('Synchronization failed');
        });
    }

  </script>

</section>

{% endblock %}