html#ecwid_html {
  body#ecwid_body.page-internal {
    div.ecwid-AddressForm {
      .ecwid-fieldWrapper {
        .ecwid-fieldLabel {
          &~table {
            width: 100%;
          }
        }
      }
    }
    div.ecwid-AddressBook {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      div.ecwid-Person {
        overflow-wrap: break-word;
      }
      div.ecwid-btn.ecwid-btn--secondary.ecwid-btn--secondary-inverse {
        padding-top: 5px !important;
      }
    }
    div.ecwid-AddressBook-shipToButton {
      text-align: center;
    }
    .ecwid-AddressBook-block {
      background-color: $menu-gray;
      height: 100%;
    }
    .ecwid-AddressBook-addButton {
      height: 100%;
      padding: 10px 0;
      div {
        top: 50%;
        transform: translateY(-50%);
        text-transform: uppercase;
      }
    }
  }
}