html#ecwid_html {
  body#ecwid_body.page-internal {
    .ecwid-productBrowser-AccountSettingsPage,
    .ecwid-productBrowser-AddressBookPage,
    .ecwid-productBrowser-OrdersPage,
    .ecwid-productBrowser-FavoritesPage,
    .ecwid-productBrowser-CheckoutPlaceOrderExternalFormPage {
      margin-top: 40px;
      margin-bottom: 130px;
    }
    .ecwid-Checkout-BreadCrumbs-section {
      display: none;
    }
    div.ecwid-productBrowser-head {
      @include font(null, rem(26), $black, 700);
      text-transform: uppercase;
      text-align: center;
    }
    .ecwid-productBrowser-CartPage {
      &::before {
        @include font($os , rem(26), $black, 700);
        display: block;
        text-align: center;
        letter-spacing: 1.5px;
        content: "YOUR CART";
      }
    }
    td.ecwid-productBrowser-cart-itemsTable-headerCell {
      border-bottom: 2px solid $black;
    }
    td.ecwid-Invoice-itemsTable-headerCell-thumbnail,
    td.ecwid-productBrowser-cart-itemsTable-headerCell-thumbnail,
    .ecwid-productBrowser-cart-itemsTable-headerCell-descr,
    .ecwid-productBrowser-cart-itemsTable-headerCell-price,
    .ecwid-productBrowser-cart-itemsTable-headerCell-qty,
    .ecwid-productBrowser-cart-itemsTable-headerCell-subtotal {
      @include font($font-family-base, 18px !important, $black-two, $weight: 700);
      padding-bottom: 10px !important;
    }
    .ecwid-productBrowser-cart-itemsTable-headerCell-qty {
      text-transform: uppercase;
    }
    .ecwid-productBrowser-cart-itemsTable-headerCell-price {
      text-align: right;
    }
    div.ecwid-productBrowser-cart {
      div.ecwid-productBrowser-price {
        @include font(null, 22px, $orange, 400);
        text-align: right;
      }
      input.ecwid-productBrowser-cart-qtyTextField {
        @include font($font-family-base, 18px,$black-two, 700);
        width: 60px;
        padding: 6px 3px;
        text-align: center !important;
        margin: 14px 0 30px;
        border: 1px solid $color-c5;
      }
    }
    div.ecwid-productBrowser-productNameLink a {
      @include font($font-family-base, 18px,$black-two, 700);
    }
    td.ecwid-productBrowser-cart-itemsTable-cell {
      padding: 30px 9px 15px;
      border-bottom: 2px solid $black;
    }
    .ecwid-productBrowser-cart-itemsTable-cell-price-compact-subtotal {
      .ecwid-productBrowser-price {
        padding: 10px 0 0 30px;
      }
    }
    div.ecwid-productBrowser-cart-itemsTable-price-compact-times {
      top: 30px;
      color: $black;
      font-size: 15px;
      left: -20px;
    }
    div.ecwid-productBrowser-cart-optionsList {
      @include font($font-family-base, 15px, $black);
    }
    div.ecwid-productBrowser-cart-hint {
      @include font($font-family-base, 15px, $border-gray);
      padding: 40px 0 20px;
      text-align: center;
    }
    .ecwid-productBrowser-cart-totalLabel {
      @include font($os, 18px, $black, 700);
      text-transform: uppercase;
    }
    div.ecwid-productBrowser-cart-shippingLabel {
      font-size: rem(15);
      font-family: $font-family-base;
      letter-spacing: .4px;
    }
    div.ecwid-productBrowser-cart-totalAmount {
      @include font($os, 24px, $orange, 500);
    }
    div.ecwid-productBrowser-cart-estimationNote {
      color: $border-gray;
      font-style: italic;
    }
    .ecwid-productBrowser-cart-estimation {
      margin: 25px auto 0;
    }
    .ecwid {
      .ecwid-btn--secondary {
        background: none;
      }
      div.ecwid-productBrowser-CheckoutPaymentDetailsPage,
      div.ecwid-productBrowser-CheckoutPlaceOrderPage,
      div.ecwid-productBrowser-CheckoutShippingAddressPage {
        margin: 20px 0 85px;
      }
    }
    div.ecwid-productBrowser-backgroundedPanel {
      background: $menu-gray;
    }
    div.ecwid-productBrowser-cart-EnterCouponBox {
      position: relative;
      background: $menu-gray;
      padding: 51px 30px 90px !important;
      .ecwid-fieldEnvelope-label {
        display: none !important;
      }
      table {
        width: 100%;
        div {
          width: 100%;
        }
      }
      .ecwid-fieldEnvelop {
        width: 100%;
      }
      .ecwid-fieldEnvelope-label {
        display: none !important;
      }
      .ecwid-fieldEnvelope-around {
        input {
          @include sizeEx(100%, 39px !important);
          padding: 0 21px 3px !important;
          max-width: 100%;
          border-bottom: 3px solid $menu-gray;
          &:focus {
            border-bottom: 3px solid $color-c6;
          }
        }
      }
      div.ecwid-productBrowser-cart-EnterCouponBox-couponPanelControls {
        width: calc(100% - 118px);
        margin-left: 22px;
        button {
          @include position(absolute, $bottom: 28px, $left: 50%);
          transform: translateX(-50%);
          margin: 0;
        }
      }
      div.ecwid-productBrowser-cart-EnterCouponBox-couponCodeContainer {
        @include position(relative, $top: -4px);
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 529px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      div.ecwid-productBrowser-cart-qtyTextField-multiplication {
        display: none;
      }
      div.ecwid-productBrowser-cart {
        input.ecwid-productBrowser-cart-qtyTextField {
          margin: 0;
        }
        td.ecwid-productBrowser-cart-itemsTable-cell-qty {
          padding-top: 15px;
        }
        div.ecwid-productBrowser-price {
          text-align: center;
        }
      }
      td.ecwid-productBrowser-cart-itemsTable-cell {
        padding: 15px 10px;
      }
      td.ecwid-productBrowser-cart-itemsTable-cell-thumbnail,
      td.ecwid-productBrowser-cart-itemsTable-cell-descr {
        padding: 30px 10px;
      }
      .ecwid-productBrowser-cart-itemsTable-cell-price,
      .ecwid-productBrowser-cart-itemsTable-cell-qty,
      .ecwid-productBrowser-cart-itemsTable-cell-subtotal {
        vertical-align: middle;
      }
      .ecwid-productBrowser-cart-itemsTable-cell-thumbnail {
        width: 17%;
        img {
          @include sizeEx(120px !important, auto !important);
          max-height: none !important;
          max-width: 120px !important;
        }
      }
      div.ecwid-productBrowser-cart-hint {
        text-align: left;
        padding-left: 30px;
      }
      table.ecwid-productBrowser-cart-subtotalAmountPanel {
        td {
          padding-bottom: 15px;
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-productBrowser-CartPage {
        div.ecwid-productBrowser-cart-removeItemButton {
          @include font($icomoon, 17px, null, 400);
          @include sizeEx(17px,20px);
          display: block;
          position: static;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          background: none;
          &::after {
            content: "\e932";
            display: block;
          }
          &:hover {
            &::after {
              color: $orange;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      div.ecwid-productBrowser-productNameLink a {
        &:hover {
          color: $orange !important;
        }
      }
      .ecwid-productBrowser-CartPage {
        margin-top: 40px;
        margin-bottom: 130px;
        &::before {
          font-size: rem(30);
          letter-spacing: 2.5px;
          text-align: left;
        }
        div.ecwid-productBrowser-head {
          text-align: left;
        }
      }
      .ecwid {
        div.ecwid-productBrowser-CheckoutPaymentDetailsPage,
        div.ecwid-productBrowser-CheckoutPlaceOrderPage,
        div.ecwid-productBrowser-CheckoutShippingAddressPage,
        div.ecwid-productBrowser-CheckoutPlaceOrderExternalFormPage {
          margin: 100px 0 70px;
        }
      }
      td.ecwid-productBrowser-cart-itemsTable-headerCell {
        padding: 0 50px;
      }
      .ecwid-productBrowser-cart-itemsTable-cell-qty {
        * {
          width: 100%;
        }
        table {
          table {
            td {
              &:first-child {
                width: 0;
              }
              &:last-child {
                text-align: center;
              }
            }
          }
        }
      }
      div.ecwid-productBrowser-cart {
        input.ecwid-productBrowser-cart-qtyTextField {
          margin: 0 auto;
        }
      }
      div.ecwid-productBrowser-cart-EnterCouponBox {
        padding: 51px 30px 44px !important;
        .ecwid-fieldEnvelope-label,
        .ecwid-fieldEnvelope-around {
          width: calc(100% - 83px) !important;
        }
      }
      .ecwid-productBrowser-cart-EnterCouponBox-couponCodeLabel {
        display: inline-block !important;
        padding-right: 100px;
        margin-bottom: -20px;
      }
      div.ecwid-productBrowser-cart-EnterCouponBox-couponPanelControls {
        width: calc(100% - 140px) !important;
        margin-left: -82px !important;
        button.ecwid-btn--apply,
        button.ecwid-btn--cancel {
          @include position($top: 46px, $left: auto !important, $right: 0, $bottom: auto !important);
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid {
        div.ecwid-productBrowser {
          &.ecwid-productBrowser-CartPage,
          &.ecwid-productBrowser-CheckoutPaymentDetailsPage,
          &.ecwid-productBrowser-CheckoutPlaceOrderPage {
            padding: 60px;
          }
        }
      }
      div.ecwid-productBrowser-cart {
        div.ecwid-productBrowser-backgroundedPanel {
          min-width: 268px;
          padding: 40px 40px 27px;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-responsive {
        div.ecwid-productBrowser-cart-non-compact {
          > div {
            > table {
              display: block !important;
              position: relative !important;
              > tbody {
                display: block !important;
                > tr {
                  display: block !important;

                  > td {
                    display: block !important;
                    &:nth-child(2) {
                      margin-top: 20px;
                      margin-bottom: -30px;
                      text-align: center;
                      > table {
                        display: inline-table !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        div.ecwid-productBrowser-cart-compact {
          table.ecwid-productBrowser-cart-rightPanel {
            margin-left: 0;
            width: 100%;
          }
        }
      }
      div.ecwid-productBrowser-cart {
        div.ecwid-productBrowser-backgroundedPanel {
          min-width: auto;
          max-width: 375px;
          margin: 0 auto;
          height: 100% !important;
          padding: 0;
        }
      }
      .ecwid-productBrowser-backgroundedPanelInner {
        padding: 25px 23px !important;
      }
      table.ecwid-productBrowser-cart-estimation {
        width: 100%;
        max-width: 375px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      div.ecwid-productBrowser-cart-EnterCouponBox {
        div.ecwid-productBrowser-cart-EnterCouponBox-couponCodeContainer {
          padding-right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 509px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ec-size.ec-size--xs:not(.ec-size--s) {
        .ec-store {
          .product-details--layout-sidebar-right {
            .product-details__sidebar {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1499px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      //
    }
  }
}

@media screen and (min-width: 631px) and (max-width: 991.98px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-productBrowser-CartPage {
        margin-bottom: 40px !important;
      }
    }
  }
}