html#ecwid_html {
  body#ecwid_body.page-internal {
    .ecwid {
      .ecwid-Account-content {
        .ecwid-btn--secondary:not(.ecwid-btn--changeAddress) {
          padding-bottom: 2px !important;
        }
      }
    }
    div.ecwid-AccountSettings-NameAndEmail {
      max-width: 600px !important;

      label.ecwid-fieldLabel {
        padding-left: 6px;
      }
      table.ecwid-fieldEnvelope {
        width: 100% !important;
      }
    }
    div.ecwid-Checkout-ShippingAddress-top {
      background: transparent;
      text-align: left;
      padding: 0;
    }
    .ecwid-switched-layer {
      position: relative;
    }
    .ecwid-Checkout-ShippingAddress-top {
      @include position(absolute, 30px, 0);
    }
    .ec-size {
      .ec-store {
        .form-control--label {
          .form-control__text {
            box-shadow: none;
          }
        }
        .ecwid-productBrowser-head {
          font-size: 18px;
        }
      }
    }
    .ecwid {
      div.ecwid-productBrowser-head {
        font-size: 18px;
      }
      .ecwid-productBrowser-CheckoutShippingAddressPage,
      .ecwid-fieldWrapper, {
        table {
          width: 100%;
        }
      }
      div.ecwid-Checkout-EmailBlock {
        .ecwid-form {
          width: 100%;
        }
      }
      .ecwid-PaymentMethodsBlock-PaymentOption {
        input {
          @include position(absolute, 0, $left: 0);
        }
        span {
          min-height: 28px;
          display: block;
        }
      }
      div.ecwid-AddressForm {
        .ecwid-fieldEnvelope-around {
          input {
            &:focus {
              height: 38px !important;
              border-bottom: solid 3px $color-c6;
            }
          }
          select {
            background-image: url("../images/arrow.png");
            background-position: center right;
            background-repeat: no-repeat;
            &::-ms-expand {
              display: none;
            }
          }
        }
        .ecwid-btn--secondary-inverse {
          border: 0 !important;
          padding: 0;
          background: transparent !important;
          .gwt-HTML {
            padding: 2px 0 0 30px;
          }
          label {
            &::after,
            &::before {
              content: "";
              display: block;
            }
            &::before {
              @include sizeEx(28px);
              @include position(absolute, $top: 0, $left: 0);
              background: $white;
            }
            &::after {
              @include sizeEx(16px);
              @include position(absolute, $top: 6px, $left: 6px);
              background: $color-c6;
              opacity: 0;
            }
          }
          input {
            opacity: 0;
            &:checked {
              ~label {
                color: $black;
                &::after {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      .ecwid-AddressForm-fields {
        display: block;
      }
      div.ecwid-productBrowser-CheckoutPlaceOrderExternalFormPage {
        padding: 20px !important;
        div.ecwid-amexPaymentForm,
        div.ecwid-ppReview-sidebar-ver {
          margin-top: 0;
        }
        .ecwid-SpacerImage {
          display: none !important;
        }
        div.ecwid-amexPaymentForm {
          width: 67%;
          margin-right: 1.6%;
        }
        div.ecwid-ppReview-sidebar-ver {
          min-width: auto;
        }
        div.ecwid-ppReview {
          margin-top: 0;
        }
        div.ecwid-ppReview-block {
          margin: 0 0 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        div.ecwid-amexParagraph,
        .ecwid-amexDatePanel {
          margin: 15px 0 0;
          padding: 0;
        }
        .ecwid-amexField-hint {
          font-size: 15px;
        }
      }
    }
    table.ecwid-Checkout-blockTitle div.gwt-HTML,
    div.ecwid-Checkout-blockTitle {
      @include font($os, 18px, $black, 700);
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
      letter-spacing: 1px;
      margin-left: 0;
    }
    div.ecwid-fieldWrapper {
      margin-bottom: 12px;
      label.ecwid-fieldLabel {
        @include font($font-family-base, 15px, $border-gray, 400, null);
        margin: 0 0 8px !important;
      }
      &.has-text {
        label.ecwid-fieldLabel {
          color: $black;
        }
      }
      table.ecwid-fieldEnvelope {
        float: none;
      }
    }
    div.ecwid-AddressForm {
      overflow: hidden;
      * {
        box-sizing: border-box;
      }
      div.ecwid-form {
        width: 100%;
      }
    }
    div.ecwid-Checkout-DeliveryMethod {
      div.ecwid-form {
        width: 100%;
      }
    }
    div.ecwid-form {
      background: $menu-gray;
      padding: 45px 20px !important;
    }
    .ecwid-Checkout-ShippingAddress {
      .ecwid-btn--address_book_sign_in {
        margin-top: -6px;
        border: 3px solid #f9a13e;
        display: inline-block;
        vertical-align: middle;
      }
    }
    div.ecwid-Checkout-blockTitle,
    table.ecwid-Checkout-blockTitle {
      margin-bottom: 17px;
    }
    .ecwid-note {
      @include font($font-family-base, 12px, $border-gray, 400, italic);
      text-align: center;
      margin-top: 5px;
      width: 100% !important;
    }
    .ecwid-PaymentMethodsBlock-PaymentOption {
      padding: 10px 0;
    }
    .ecwid-shippingOptions-List span.ecwid-shippingOption,
    span.gwt-RadioButton {
      position: relative;
      margin: 0;
      label {
        @include font($font-family-base, 18px, $border-gray, 700, null);
        margin: 0;
        padding: 2px 0 0 60px;
        position: relative;
        max-width: none;
        &::after,
        &::before {
          content: "";
          display: block;
        }
        &::before {
          @include sizeEx(28px);
          @include position(absolute, $top: 0, $left: 0);
          background: $white;
        }
        &::after {
          @include sizeEx(16px);
          @include position(absolute, $top: 6px, $left: 6px);
          background: $color-c6;
          opacity: 0;
        }
      }
      .ecwid-shippingOption-rate {
        color: $black;
      }
      input {
        opacity: 0;
        &:checked {
          ~label {
            color: $black;
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
    .ecwid-PaymentMethodsBlock-PaymentOption-htmlBlock {
      padding-left: 60px;
    }
    div.ecwid-AddressForm-secureLockIcon {
      background: none;
      overflow: hidden;
      &::after {
        @include sizeEx(0);
        @include position(absolute, -7px, -14px, null, null);
        content: "";
        display: block;
        border-left: 42px solid transparent;
        border-right: 42px solid transparent;
        border-top: 42px solid $color-c6;
        transform: rotate(-45deg);
        transform-origin: right;
      }
    }
    .ecwid-Checkout-EmailBlock {
      div.ecwid-fieldWrapper {
        margin-bottom: 0;
        input.gwt-TextBox {
          width: 100%;
        }
      }
      .ecwid-Checkout-blockTitle {
        span {
          display: block;
        }
        .ecwid-btn {
          margin: 0;
        }
      }
    }
    div.ecwid-productBrowser-CartPage {
      div.ecwid-productBrowser-relatedProducts {
        margin: 110px 0 40px;
      }
    }
    div.ecwid-productBrowser-relatedProducts {
      display: none;
      .grid__products--classic {
        padding-bottom: 0;
      }
      .ecwid-productBrowser-relatedProducts-title {
        @include font($os, 30px, $black, 700);
        text-transform: uppercase;
        margin: 0 0 20px;
        position: relative;
        &::after {
          @include sizeEx(79px,5px);
          content: "";
          display: block;
          background: $color-c6;
          margin-top: 25px;
        }
      }
      .ecwid-productBrowser-productNameLink {
        @include font($os, 18px, $black, 700);
        text-transform: uppercase;
      }
      .ecwid-productBrowser-price {
        @include font($os, 18px !important, $orange, 500 !important);
      }
    }
    table.ecwid-Checkout-BreadCrumbs {
      @include position(absolute, -150px, 0, null, 0);
      display: block;
      width: 100%;
      max-width: 740px;
      .ecwid-Checkout-BreadCrumbs-point {
        display: none;
      }
      div.ecwid-Checkout-BreadCrumbs-link {
        @include font($font-family-base, 15px, $border-gray, 500);
        margin: 20px 16px 0;
        width: 158px;
        padding-bottom: 22px;
        border-bottom: solid 2px $border-gray;
        text-align: center;
        &.ecwid-Checkout-BreadCrumbs-link-visited {
          border-bottom-color: $black;
          transition: all .05s;
          color: $black;
          &:hover {
            color: $blue;
            //border-bottom: solid 4px $blue;
            //padding-bottom: 20px !important;
          }
        }
        &.ecwid-Checkout-BreadCrumbs-link-current {
          border-bottom: solid 4px $blue;
          color: $blue;
        }
      }
      >tbody >tr:first-child {
        display: none;
      }
    }
    .ecwid-PaymentCommentsBlock {
      .ecwid-PaymentCommentsBlock-textarea {
        border: 0;
        height: 289px;
        padding: 25px 20px;
      }
    }


    // Style Setting Page Shop
    div.ecwid-AccountSettings-NameAndEmail {
      div.ecwid-form {
        text-align: left;
      }
    }
    .ecwid-AccountSettings {
      td[align="left"] {
        text-align: center;
      }
    }
    td.ecwid-OrdersList-OrderBox-thumbnail {
      img[width][height] {
        max-width: 120px !important;
        max-height: 150px !important;
        width: 120px !important;
        height: auto !important;
      }
    }
    div.ecwid-Account-ContinueShoppingButtonContainer {
      max-width: 1000px;
      margin: auto;
    }
    div.ecwid-AccountSettings {
      .ecwid-AccountSettings-NameAndEmail {
        margin: auto;
      }
    }
    div.ecwid-AddressBook-buttonsPanel {
      width: 100%;
      padding: 0 19%;
    }
    div.ecwid-AddressBook {
      text-align: center;
      div.ecwid-AddressBook-blockContainer {
        text-align: left;
        padding: 0 20px 20px;
      }
    }
    div.ecwid-Account-AddressBook {
      > table {
        max-width: 1000px;
        margin: auto;
      }
    }
    div.ecwid-Orders-SearchPanel {
      .ecwid-btn--orders {
        margin-bottom: 5px !important;
      }
      .gwt-TextBox {
        height: 32px;
      }
      .ecwid-DateRangeBox-range,
      .gwt-TextBox {
        font-size: rem(15);
      }
      .ecwid-DateRangeBox {
        height: 40px;
      }
    }
    td.ecwid-DateRangeBox-icon {
      width: 40px;
    }
    .ecwid-Orders {
      margin: auto;
    }
    .ecwid-OrdersList {
      td.ecwid-OrdersList-OrderBox-header-orderdescr {
        div {
          vertical-align: middle;
          font-size: rem(15);
        }
      }
      td.ecwid-OrdersList-OrderBox-footer {
        td[align="right"] {
          float: right;
          tr.ecwid-OrdersList-OrderBox-totals-shippingRow,
          tr.ecwid-OrdersList-OrderBox-totals-total {
            display: table-row;
            td {
              display: table-cell;
            }
          }
        }
      }
    }
    table.ecwid-categoriesTabBar {
      max-width: 1000px !important;
      margin: auto;
      table.gwt-TabBarItem {
        td.tabTopLeft,
        td.tabTopRight {
          border: 0;
          border-radius: 0;
        }
      }
      table.gwt-TabBarItem:hover {
        a {
          span.ecwid-categories-category {
            color: $orange !important;
          }
        }
      }
      table.gwt-TabBarItem-selected {
        a {
          span.ecwid-categories-category {
            color: $orange !important;
          }
        }
        td.tabTopLeft,
        td.tabTopRight {
          border-top: solid 1px #ababab;
        }
        td.tabTopLeft {
          border-left: solid 1px #ababab;
        }
        td.tabTopRight{
          border-right: solid 1px #ababab;
        }
      }
      div.tabMiddleCenterInner {
        padding: 0 10px 8px;
      }
    }

    div.ecwid-Orders {
      div.ecwid-results-topPanel div {
        font-size: rem(15);
        color: $black;
      }
    }
    div.ecwid-Account {
      table.ecwid-categoriesTabBar {
        table.gwt-TabBarItem a span {
          @include font($os, 20px, $black, 700);
        }
      }
      td.ecwid-OrdersList-OrderBox-cellOdd {
        background-color: $white;
      }
      div.ecwid-OrdersList-OrderBox-status span {
        color: $orange;
      }
      td.ecwid-OrdersList-OrderBox-header,
      td.ecwid-OrdersList-OrderBox-footer {
        background-color: $menu-gray;
      }
      div.ecwid-OrdersList-OrderBox-product a {
        font-size: rem(17.7);
        letter-spacing: 1.3px;
        color: $black-two;
        font-weight: 700;
      }
      div.ecwid-OrdersList-OrderBox-sku {
        font-size: rem(15);
        letter-spacing: .4px;
        color: $black;
      }
      td.ecwid-DateRangeBox-range {
        text-align: left;
      }
    }
    table.ecwid-productBrowser-auth-mini {
      display: none;
    }
  }
}

@include media-breakpoint-up(md) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      div.ecwid-AccountSettings-NameAndEmail {
        label.ecwid-fieldLabel {
          width: 25% !important;
          padding-left: 6px;
          margin-top: 8px !important;
        }
        table.ecwid-fieldEnvelope {
          width: 75% !important;
        }
      }
      div.ecwid-Checkout {
        div.ecwid-floatLeftPanel {
          width: 100%;
        }
      }
      .ecwid-productBrowser-CartPage {
        .ecwid-productBrowser-cart-itemsTable-cell-removeItem {
          vertical-align: middle !important;
          padding: 0 20px;
          >div {
            @include sizeEx(auto !important);
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      div.ecwid-Checkout-ShippingAddress {
        .ecwid-btn--address_book {
          margin-top: 18px;
        }
      }
      .ecwid-shippingOption {
        label {
          cursor: pointer !important;
        }
      }
      div.ecwid-Orders-SearchPanel {
        .ecwid-DateRangeBox {
          margin: 0;
        }
        .gwt-TextBox {
          width: 300px;
        }
      }
      .ecwid {
        div.ecwid-productBrowser-head {
          font-size: 30px;
        }
        .ecwid-fieldEnvelope-around {
          input,
          select {
            padding: 0 40px 1px;
          }
        }
        .ecwid-fieldWrapper {
          &::after {
            clear: both;
            content: "";
            display: block;
          }
          .ecwid-fieldLabel {
            margin: 8px 0 0 !important;
            width: 140px;
            &~table {
              // width: 59%;
              float: left;
              margin: 0;
            }
          }
        }
        table.ecwid-fieldEnvelope {
          margin: 0;
        }
        .ecwid-btn {
          margin-top: 0;
        }
        .ecwid-popup-content {
          .ecwid-fieldWrapper {
            .ecwid-fieldLabel {
              &~table {
                width: 70%;
              }
            }
          }
        }
      }
      div.ecwid-AddressForm {
        div.ecwid-fieldWrapper {
          label.ecwid-fieldLabel {
            width: 140px;
          }
        }
      }
      .ecwid-productBrowser-head-panel {
        ~div {
          margin: 0 -15px;
        }
      }
      div.ecwid-Checkout {
        div.ecwid-floatLeftPanel {
          width: 50%;
          margin: 0 !important;
          padding: 0 15px;
        }
      }
      .ecwid-Checkout-ShippingAddress-container,
      .ecwid-Checkout-BillingAddress-container {
        div.ecwid-form {
          padding: 57px 45px 83px !important;
        }
      }
      div.ecwid-form {
        padding: 57px 45px !important;
      }
      div.ecwid-AddressForm-secureLockIcon {
        @include sizeEx(67px);
        &::after {
          @include position(absolute, -10px, -24px, null, null);
          border-left: 67px solid transparent;
          border-right: 67px solid transparent;
          border-top: 67px solid $color-c6;
        }
      }
      div.ecwid-productBrowser-relatedProducts {
        display: block;
      }
      .ecwid-PaymentCommentsBlock {
        .ecwid-PaymentCommentsBlock-textarea {
          padding: 25px 40px;
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid {
        .ecwid-Checkout-ShippingAddress {
          .ecwid-btn--address_book {
            margin-top: 8px;
          }
        }
        .ecwid-fieldWrapper {
          .ecwid-fieldLabel {
            &~table {
              width: 64%;
            }
          }
        }
        // .ecwid-popup-content {
        //   .ecwid-fieldWrapper {
        //     .ecwid-fieldLabel {
        //       &~table {
        //         width: 70%;
        //       }
        //     }
        //   }
        // }
        .ecwid-PaymentMethodsBlock-PaymentOption {
          span:hover {
            label {
              color: $black;
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
@include media-custom-up(1500) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid {
        table.ecwid-AccentedContinueButton {
          max-width: none;
          td[align="center"] {
            text-align: right;
          }
        }
      }
      .ecwid-Checkout-ShippingAddress {
        .ecwid-btn--address_book_sign_in {
          position: absolute;
          transform: translateY(-7px);
        }
      }
      div.ecwid-AddressForm,
      div.ecwid-Checkout-EmailBlock {
        div.ecwid-fieldWrapper {
          label.ecwid-fieldLabel {
            width: 180px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1499.999px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-Checkout-ShippingAddress {
        .ecwid-btn--address_book_sign_in {
          margin-top: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-Checkout-ShippingAddress-top {
        top: 20px;
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      div.ecwid-Orders-SearchPanel {
        .gwt-TextBox {
          width: calc(100% - 10px);
        }
        > table {
          > tbody {
            > tr {
              td:first-child {
                td:first-child {
                  position: relative;
                  min-width: 150px;
                  width: calc(100% - 148px);
                }
              }
              > td {
                width: 100%;
              }
            }
          }
        }
        button.ecwid-btn--orders.ecwid-btn--secondary {
          margin-right: 0 !important;
        }
      }
      table.ecwid-Checkout-BreadCrumbs {
        position: static;
        display: block;
        width: 100% !important;
        margin: 20px 0 0 !important;
        table,
        tr,
        td,
        tbody {
          display: block;
          width: 100%;
        }
        > tbody {
          > tr:last-child {
            display: block;
            >td {
              display: block;
            }
          }
        }
        div.ecwid-Checkout-BreadCrumbs-link {
          display: block;
          margin: 30px auto 0;
          padding-bottom: 15px;
        }
        td {
          &:first-child {
            display: none;
          }
          &:last-child {
            display: block;
          }
        }
        table {
          tr {
            &:first-child {
              display: none;
            }
            &:last-child {
              display: block;
            }
          }
        }
      }
      table.ecwid-Checkout-BreadCrumbs-Vertical {
        > tbody {
          > tr:first-child {
            display: block;
          }
        }
      }
      .ecwid {
        div.ecwid-productBrowser-CheckoutPlaceOrderExternalFormPage {
          div.ecwid-amexPaymentForm {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 648px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-productBrowser-CheckoutPaymentDetailsPage {
        padding-bottom: 80px !important;
      }
    }
  }
}

@media screen and (max-width: 529px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-Checkout-ShippingAddress-top {
        position: static;
        margin-bottom: 46px;
      }
      .ecwid-Checkout-ShippingAddress {
        .ecwid-btn--address_book_sign_in {
          margin: 0;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-OrdersList {
        td.ecwid-OrdersList-OrderBox-header-orderdescr {
          div {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 358px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      div.ecwid-Orders-SearchPanel {
        .ecwid-btn.ecwid-btn--orders {
          margin-left: 0 !important;
        }
        > table {
          > tbody {
            >tr {
              td:first-child {
                td:first-child {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
