html#ecwid_html {
  body#ecwid_body.page-internal {
    .ec-size {
      .ec-store {
        .form-control--label {
          .form-control__text {
            box-shadow: none;
          }
        }
        .ecwid-productBrowser-head {
          font-size: 18px;
        }
      }
    }
    .ecwid {
      div.ecwid-productBrowser-head {
        font-size: 18px;
      }
      .ecwid-fieldEnvelope-around {
        padding: 0;
        input,
        select {
          @include font($os, 18px, $black-two, 700, null);
          @include sizeEx(100%, 35px);
          border: 0;
          padding: 0 20px;
          border-radius: 0;
          box-sizing: border-box;
          background: $white;
        }
      }
      .ecwid-productBrowser-CheckoutShippingAddressPage,
      .ecwid-fieldWrapper, {
        table {
          width: 100%;
        }
      }
      div.ecwid-Checkout-EmailBlock {
        .ecwid-form {
          width: 100%;
        }
      }
      .ecwid-PaymentMethodsBlock-PaymentOption {
        input {
          @include position(absolute, -9999px, $left: -9999px);
        }
        span {
          min-height: 28px;
          display: block;
        }
      }
      div.ecwid-AddressForm {
        .ecwid-btn--secondary-inverse {
          border: 0 !important;
          padding: 0;
          background: transparent !important;
          .gwt-HTML {
            padding: 2px 0 0 30px;
          }
          label {
            &::after,
            &::before {
              content: "";
              display: block;
            }
            &::before {
              @include sizeEx(28px);
              @include position(absolute, $top: 0, $left: 0);
              background: $white;
            }
            &::after {
              @include sizeEx(16px);
              @include position(absolute, $top: 6px, $left: 6px);
              background: $color-c6;
              opacity: 0;
            }
          }
          input {
            opacity: 0;
            &:checked {
              ~label {
                color: $black;
                &::after {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      .ecwid-AddressForm-fields {
        display: block;
      }
    }
    table.ecwid-Checkout-blockTitle div.gwt-HTML,
    div.ecwid-Checkout-blockTitle {
      @include font($os, 18px, $black, 700);
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
    }
    div.ecwid-fieldWrapper {
      margin-bottom: 12px;
      label.ecwid-fieldLabel {
        @include font($font-family-base, 15px, $border-gray, 400, null);
        margin: 0 0 8px !important;
      }
      table.ecwid-fieldEnvelope {
        float: none;
      }
    }
    div.ecwid-AddressForm {
      overflow: hidden;
      * {
        box-sizing: border-box;
      }
      div.ecwid-form {
        width: 100%;
      }
    }
    div.ecwid-Checkout-DeliveryMethod {
      div.ecwid-form {
        width: 100%;
      }
    }
    div.ecwid-form {
      background: $menu-gray;
      padding: 45px 20px !important;
    }
    .ecwid-Checkout-ShippingAddress {
      .ecwid-btn--address_book_sign_in {
        margin-top: -10px;
        border: 3px solid #f9a13e;
        display: inline-block;
        vertical-align: middle;
      }
    }
    div.ecwid-Checkout-blockTitle,
    table.ecwid-Checkout-blockTitle {
      margin-bottom: 17px;
    }
    .ecwid-note {
      @include font($font-family-base, 12px, $border-gray, 400, null);
      text-align: center;
      margin-top: 5px;
      width: 100% !important;
    }
    .ecwid-shippingOptions-List span.ecwid-shippingOption,
    span.gwt-RadioButton {
      position: relative;
      margin: 10px 0;
      label {
        @include font($font-family-base, 18px, $border-gray, 700, null);
        margin: 0;
        padding-left: 60px;
        position: relative;
        &::after,
        &::before {
          content: "";
          display: block;
        }
        &::before {
          @include sizeEx(28px);
          @include position(absolute, $top: 0, $left: 0);
          background: $white;
        }
        &::after {
          @include sizeEx(16px);
          @include position(absolute, $top: 6px, $left: 6px);
          background: $color-c6;
          opacity: 0;
        }
      }
      .ecwid-shippingOption-rate {
        color: $black;
      }
      input {
        opacity: 0;
        &:checked {
          ~label {
            color: $black;
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
    .ecwid-PaymentMethodsBlock-PaymentOption-htmlBlock {
      padding-left: 60px;
    }
    div.ecwid-AddressForm-secureLockIcon {
      background: none;
      &::after {
        @include sizeEx(0);
        @include position(absolute, -7px, -14px, null, null);
        content: "";
        display: block;
        border-left: 42px solid transparent;
        border-right: 42px solid transparent;
        border-top: 42px solid $color-c6;
        transform: rotate(-45deg);
        transform-origin: right;
      }
    }
    .ecwid-Checkout-EmailBlock {
      div.ecwid-fieldWrapper {
        margin-bottom: 0;
        input.gwt-TextBox {
          width: 100%;
        }
      }
      .ecwid-Checkout-blockTitle {
        span {
          display: block;
          margin-top: 15px;
        }
        .ecwid-btn {
          margin: 0;
        }
      }
    }
    div.ecwid-productBrowser-CartPage {
      div.ecwid-productBrowser-relatedProducts {
        margin: 110px 0 40px;
      }
    }
    div.ecwid-productBrowser-relatedProducts {
      display: none;
      .grid__products--classic {
        padding-bottom: 0;
      }
      .ecwid-productBrowser-relatedProducts-title {
        @include font($os, 30px, $black, 700);
        text-transform: uppercase;
        margin: 0 0 20px;
        position: relative;
        &::after {
          @include sizeEx(79px,5px);
          content: "";
          display: block;
          background: $color-c6;
          margin-top: 25px;
        }
      }
      .ecwid-productBrowser-productNameLink {
        @include font($os, 18px, $black, 700);
        text-transform: uppercase;
      }
      .ecwid-productBrowser-price {
        @include font($os, 18px !important, $orange, 500 !important);
      }
    }
    table.ecwid-Checkout-BreadCrumbs {
      @include position(absolute, -150px, 0, null, 0);
      width: 100%;
      max-width: 740px;
      .ecwid-Checkout-BreadCrumbs-point {
        display: none;
      }
      div.ecwid-Checkout-BreadCrumbs-link {
        @include font($font-family-base, 15px, $border-gray, 500);
        margin: 20px 16px 0;
        width: 158px;
        padding-bottom: 22px;
        border-bottom: solid 2px $border-gray;
        text-align: center;
        &.ecwid-Checkout-BreadCrumbs-link-visited {
          border-bottom-color: $black;
          color: $black;
        }
        &.ecwid-Checkout-BreadCrumbs-link-current {
          border-bottom: solid 4px $blue;
          color: $blue;
        }
      }
      >tbody >tr:first-child {
        display: none;
      }
    }
    .ecwid-PaymentCommentsBlock {
      .ecwid-PaymentCommentsBlock-textarea {
        border: 0;
        height: 289px;
        padding: 25px 20px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      div.ecwid-Checkout {
        div.ecwid-floatLeftPanel {
          width: 100%;
        }
      }
      .ecwid-productBrowser-CartPage {
        div.ecwid-productBrowser-cart-removeItemButton {
          @include font($icomoon, 17px, null, 400);
          @include sizeEx(17px,20px);
          display: block;
          position: static;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          background: none;
          &::after {
            content: "\e932";
            display: block;
          }
        }
        .ecwid-productBrowser-cart-itemsTable-cell-removeItem {
          vertical-align: middle !important;
          padding: 0 20px;
          >div {
            @include sizeEx(auto !important);
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid {
        div.ecwid-productBrowser-head {
          font-size: 30px;
        }
        .ecwid-fieldEnvelope-around {
          input,
          select {
            padding: 0 40px;
          }
        }
        .ecwid-fieldWrapper {
          &::after {
            clear: both;
            content: "";
            display: block;
          }
          .ecwid-fieldLabel {
            margin: 8px 0 0 !important;
            width: 140px;
            &~table {
              width: 59%;
              float: left;
              margin: 0;
            }
          }
        }
        table.ecwid-fieldEnvelope {
          margin: 0;
        }
        .ecwid-btn {
          margin-top: 0;
        }
      }
      div.ecwid-AddressForm {
        div.ecwid-fieldWrapper {
          label.ecwid-fieldLabel {
            width: 140px;
          }
        }
      }
      .ecwid-productBrowser-head-panel {
        ~div {
          margin: 0 -15px;
        }
      }
      div.ecwid-Checkout {
        div.ecwid-floatLeftPanel {
          width: 50%;
          margin: 0 !important;
          padding: 0 15px;
        }
      }
      .ecwid-Checkout-ShippingAddress-container,
      .ecwid-Checkout-BillingAddress-container {
        div.ecwid-form {
          padding: 57px 45px 83px !important;
        }
      }
      div.ecwid-form {
        padding: 57px 45px !important;
      }
      div.ecwid-AddressForm-secureLockIcon {
        @include sizeEx(67px);
        &::after {
          @include position(absolute, -10px, -24px, null, null);
          border-left: 67px solid transparent;
          border-right: 67px solid transparent;
          border-top: 67px solid $color-c6;
        }
      }
      div.ecwid-productBrowser-relatedProducts {
        display: block;
      }
      .ecwid-PaymentCommentsBlock {
        .ecwid-PaymentCommentsBlock-textarea {
          padding: 25px 40px;
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid {
        .ecwid-fieldWrapper {
          .ecwid-fieldLabel {
            &~table {
              width: 65%;
            }
          }
        }
        .ecwid-Checkout-ShippingAddress {
          .ecwid-btn {
            margin-top: -10px;
          }
        }
      }
    }
  }
}
@include media-custom-up(1500) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid {
        table.ecwid-AccentedContinueButton {
          max-width: none;
          td[align="center"] {
            text-align: right;
          }
        }
      }
      div.ecwid-AddressForm,
      div.ecwid-Checkout-EmailBlock {
        div.ecwid-fieldWrapper {
          label.ecwid-fieldLabel {
            width: 180px;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      table.ecwid-Checkout-BreadCrumbs {
        position: static;
        display: block;
        width: 100% !important;
        margin: 20px 0 0 !important;
        table,
        tr,
        td,
        tbody {
          display: block;
          width: 100%;
        }
        > tbody {
          > tr:last-child {
            display: block;
            >td {
              display: block;
            }
          }
        }
        div.ecwid-Checkout-BreadCrumbs-link {
          display: block;
          margin: 30px auto 0;
          padding-bottom: 15px;
        }
        td {
          &:first-child {
            display: none;
          }
          &:last-child {
            display: block;
          }
        }
        table {
          tr {
            &:first-child {
              display: none;
            }
            &:last-child {
              display: block;
            }
          }
        }
      }
      table.ecwid-Checkout-BreadCrumbs-Vertical {
        > tbody {
          > tr:first-child {
            display: block;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 648px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-productBrowser-CheckoutPaymentDetailsPage {
        padding-bottom: 80px !important;
      }
    }
  }
}
@media screen and (max-width: 529px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-Checkout-ShippingAddress {
        .ecwid-btn--address_book_sign_in {
          margin: 0;
        }
      }
    }
  }
}
