html#ecwid_html {
  body#ecwid_body.page-internal {
    background: $gray-bg;
    .mod-content-editor {
      margin-top: 60px;
      position: relative;
    }
    .ec-footer {
      display: none;
    }
    div.ecwid-ProductBrowser-auth-anonim {
      margin-right: 0;
      display: none;
      a {
        font-size: 18px;
        text-decoration: underline;
      }
    }
    .ecwid {
      color: $black;
      .ecwid-lte-600px {
        div.ecwid-productBrowser {
          padding: 60px 15px 20px;
          background: $white;
        }
        .ecwid-productBrowser.ecwid-productBrowser-ProductPage {
          padding: 0;
          background: transparent;
          .product-details {
            padding: 0 15px 30px;
          }
        }
      }
      div.ecwid-productBrowser {
        padding: 60px 15px 20px;
        background: $white;
      }
      .ecwid-btn {
        @include font($os, 15px, $orange, 700);
        border-radius: 0;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        box-shadow: none !important;
        padding: 0 10px;
        min-height: 35px;
        overflow: hidden;
      }
      .ecwid-btn--changeOptions {
        border: 3px solid $orange;
        background: transparent;
        min-height: 36px !important;
      }
      .ecwid-btn--primary {
        color: $white;
      }
      .ecwid-btn--checkout {
        width: 180px;
        &::before {
          @extend .icomoon;
          content: "\e92b";
          margin-right: 15px;
        }
      }
      .ecwid-btn--changeAddress {
        @include font($font-family-base, 15px, $blue, 400);
        border: 0;
        text-decoration: underline;
        text-transform: none;
        padding: 0;
      }
      .details-product-purchase__add-more {
        .form-control__button {
          @include font($os, 15px !important, $white, 700);
          background: $orange;
          border: 0;
          text-transform: uppercase;
          width: auto;
          padding: 0 15px;
          min-height: 35px !important;
          letter-spacing: 1.1px;
          &::before {
            font-family: $icomoon !important;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            content: "\e92b";
            margin-right: 15px;
          }
        }
      }
      .ecwid-btn--secondary:not(.ecwid-btn--changeAddress) {
        border: 3px solid $orange;
      }
    }
    .ec-size {
      &.ec-size--l {
        .ec-store {
          .form-control--large {
            .form-control__button {
              font-size: 15px;
            }
          }
          .details-product-purchase__add-more {
            .form-control__button {
              background: $orange;
              border-radius: 0;
              width: auto;
              padding: 0 15px;
            }
          }
        }
      }
    }
  }
}


@include media-breakpoint-up(xl) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid {
        .ecwid-btn--secondary:not(.ecwid-btn--changeAddress) {
          &:hover,
          &:active,
          &:focus {
            background: $orange;
            border-width: 3px;
            color: $white;
          }
        }
        .ecwid-btn--changeAddress {
          &:hover,
          &:active,
          &:focus {
            background: transparent;
            border-width: 0;
            color: $blue;
          }
        }
        .form-control--primary,
        .details-product-purchase__add-more {
          .form-control__button {
            overflow: hidden;
            &::after {
              @include position(absolute, $top:0, $right:0, $index: -1);
              @include sizeEx(100%);
              content: "";
              background: $orange-hover;
              transition: transform .3s cubic-bezier(.75, 0, .125, 1);
              transform: translate3d(-100%, 0, 0);
            }
            &:hover{
              &::after {
                transform: translate3d(0, 0, 0);
              }
            }
          }
        }
        .ecwid-btn--checkout {
          &::after {
            @include position(absolute, $top:0, $right:0, $index: -1);
            @include sizeEx(100%);
            content: "";
            background: $orange-hover;
            transition: transform .3s cubic-bezier(.75, 0, .125, 1);
            transform: translate3d(-100%, 0, 0);
          }
          &:hover{
            color: $white;
            &::after {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
    }
  }
}
