$number-per-row-lg: 5;
html#ecwid_html {
  body#ecwid_body.page-internal {
    background: $gray-bg;
    .ecwid-fieldEnvelope-error {
      .ecwid-fieldEnvelope-label {
        display: none !important;
      }
      .ecwid-fieldEnvelope-around {
        box-shadow: 2px 2px 0 $red, -2px -2px 0 $red, 2px -2px 0 $red, -2px 2px 0 $red;
      }
    }
    .mod-content-editor {
      position: relative;
      margin-top: 60px;
      // >.container {
      //   max-width: none;
      // }
    }
    .mod-shop-header {
      &~.mod-content-editor {
        margin-top: 0;
      }
    }
    .page-check-detail {
      .mod-content-editor {
        margin-top: 140px;
      }
    }
    select {
      appearance: none;
    }
    .ec-footer {
      display: none;
    }
    div.ecwid-ProductBrowser-auth-anonim {
      margin-right: 0;
      display: none;
      a {
        font-size: 18px;
        text-decoration: underline;
      }
    }
    .ecwid {
      color: $black;
      .ecwid-lte-600px {
        div.ecwid-productBrowser {
          padding: 60px 15px 20px;
          background: $white;
        }
        .ecwid-productBrowser.ecwid-productBrowser-ProductPage {
          padding: 0;
          background: transparent;
          .product-details {
            padding: 0 15px 30px;
          }
        }
      }
      div.ecwid-productBrowser {
        padding: 60px 15px 20px;
        background: $white;
      }
      .ecwid-btn {
        @include font($os, 15px, $orange, 700);
        border-radius: 0;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        box-shadow: none !important;
        padding: 0 10px !important;
        min-height: 40px;
        overflow: hidden;
      }
      .ecwid-btn--changeOptions {
        border: 3px solid $orange;
        background: transparent;
        min-height: 36px !important;
      }
      .ecwid-btn--primary {
        color: $white;
        border: 0 !important;
      }
      .ecwid-btn--checkout {
        width: 180px;
        &::before {
          @extend .icomoon;
          content: "\e92b";
          margin-right: 15px;
        }
      }
      .ecwid-btn--changeAddress {
        @include font($font-family-base, 15px, $blue, 400);
        border: 0;
        text-decoration: underline;
        text-transform: none;
        padding: 0;
      }
      .details-product-purchase__add-more {
        .form-control__button {
          @include font($os, 15px !important, $white, 700);
          background: $orange;
          border: 0;
          text-transform: uppercase;
          width: auto;
          padding: 0 17px;
          min-height: 40px !important;
          letter-spacing: 1.1px;
          transform: none !important;
          &::before {
            font-family: $icomoon !important;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            content: "\e92b";
            margin-right: 15px;
          }
        }
      }
      .ecwid-btn--secondary:not(.ecwid-btn--changeAddress) {
        border: 3px solid $orange;
        &:focus,
        &:focus:active {
          border: 3px solid $orange;
        }
        &:hover {
          background: $orange;
        }
      }
      .mod-promotion {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        color: $white;
        letter-spacing: .4px;
        line-height: 1.22;
        font-family: $os;
        padding: 70px 0 0;
        margin: 110px 0;
        position: relative;
        // display: none;
        .container {
          position: relative;
          z-index: 1;
          margin: 0 auto;
          padding: 0 15px;
        }
        .icon-wrap {
          @include sizeEx(26px);
          display: inline-flex;
          margin-bottom: 25px;
          justify-content: center;
          img {
            @include sizeEx(auto, 27px);
            align-self: center;
          }
        }
        .promo-overlay {
          @extend .d-none, .d-lg-block;
        }
        .promo-item {
          text-align: center;
          margin-top: 20px;
          margin-bottom: 80px;
          padding: 0;
        }
        p {
          text-transform: uppercase;
          margin-bottom: 0;
          letter-spacing: 2px;
        }
        &.position {
          @include position(absolute, $left: 0, $right: 0);
          width: 100%;
          max-width: 2000px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .ec-related-products {
        &~.mod-promotion {
          margin-bottom: 0;
        }
      }
      .promo-overlay {
        position: absolute;
        opacity: .05;
      }
    }
    .ec-size {
      &.ec-size--l {
        .ec-store {
          .form-control--large {
            .form-control__button {
              font-size: 15px;
            }
          }
          .details-product-purchase__add-more {
            .form-control__button {
              background: $orange;
              border-radius: 0;
              width: auto;
              padding: 0 15px;
            }
          }
        }
      }
    }
    .item-breadCrumb {
      @include font($font-family-base, 15px, $border-gray, 500);
      display: inline-block;
      margin: 20px 16px;
      width: 158px;
      padding-bottom: 22px;
      border-bottom: solid 2px $border-gray;
      p {
        margin: 0;
      }
      &.active {
        border-bottom: solid 4px $blue;
        color: $blue;
      }
      &.done-action {
        border-bottom-color: $black;
        color: $black;
      }
    }
    .mod-promotion {
      display: none;
    }
    .page-title__name {
      display: none;
    }
  }
  .ecwid-productBrowser-head {
    display: none !important;
  }
}
#ecwid_body {
  .mod-content-editor {
    margin: 0 auto;
  }
  &.page-category {
    .mod-banner,
    .mod-shop-product {
      display: block;
    }
    .mod-content-editor,
    .ecwid {
      display: none;
    }
    .mod-shop-header {
      display: block;
    }
  }
  .mod-banner,
  .mod-shop-product {
    display: none;
  }
}

// .mod-banner,
// .mod-shop-product {
//   &~.mod-content-editor {
//     .ecwid {
//       display: none;
//     }
//   }
// }
@media screen and (min-width: 510px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid {
        .ecwid-lte-600px {
          .ecwid-productBrowser.ecwid-productBrowser-ProductPage {
            padding: 0;
            background: transparent;
            .product-details {
              padding: 60px 15px 30px;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid {
        .mod-promotion {
          display: block;
          .container {
            max-width: 720px;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid {
        .mod-promotion {
          .container {
            max-width: 960px;
            padding: 0 45px;
          }
        }
        .promo-item {
          max-width: (100% / $number-per-row-lg);
          flex: 0 0 (100% / $number-per-row-lg);
        }
        .promo-overlay {
          @include position(absolute, $left: 0, $top:0, $bottom: 0);
          @include sizeEx($height:100%, $width: 265px);
          background: url("../images/promotion-overlay.png") left center no-repeat;
          background-size: cover;
          opacity: .05;
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid {
        .mod-promotion {
          .container {
            max-width: 1140px;
            width: 100%;
          }
        }
        .ecwid-btn--secondary:not(.ecwid-btn--changeAddress) {
          &:hover,
          &:active,
          &:focus {
            background: $orange;
            border-width: 3px;
            color: $white;
          }
        }
        .ecwid-btn--changeAddress {
          &:hover,
          &:active,
          &:focus {
            background: transparent;
            border-width: 0;
            color: $blue;
          }
        }
        .form-control--primary,
        .details-product-purchase__add-more {
          .form-control__button {
            overflow: hidden;
            &::after {
              @include position(absolute, $top:0, $right:0, $index: -1);
              @include sizeEx(100%);
              content: "";
              background: $orange-hover;
              transition: transform .3s cubic-bezier(.75, 0, .125, 1);
              transform: translate3d(-101%, 0, 0);
            }
            &:hover{
              &::after {
                transform: translate3d(0, 0, 0);
              }
            }
          }
        }
        .ecwid-btn--checkout {
          &::after {
            @include position(absolute, $top:0, $right:0, $index: -1);
            @include sizeEx(100%);
            content: "";
            background: $orange-hover;
            transition: transform .3s cubic-bezier(.75, 0, .125, 1);
            transform: translate3d(-101%, 0, 0);
          }
          &:hover{
            color: $white;
            &::after {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
    }
  }
}

@include media-custom-up(1500) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid {
        .mod-promotion {
          .container {
            max-width: 1430px;
          }
        }
      }
    }
  }
}
