.ecwid-productBrowser-OrdersPage {
  .ecwid-Orders-SearchPanel {
    input {
      @include position(relative, 1px);
      @include font($os, 18px, $black-two, 700, null);
      @include sizeEx(100%, 43px !important);
      border: 0 !important;
      padding: 0 20px !important;
      border-radius: 0;
      box-sizing: border-box !important;
      background: $menu-gray !important;
      text-transform: uppercase;
      border-bottom: solid 3px $white !important;
      &:focus {
        border-bottom: solid 3px $color-c6 !important;
      }
    }
  }
}

html#ecwid_html {
  body#ecwid_body {
    .ecwid-DateRangeBox {
      background-color: $menu-gray !important;
      border: 0 !important;
    }
    .ecwid-DateRangeBox-range {
      padding: 5px 0 3px 30px !important;
    }
    .ecwid-DateRangeBox-icon {
      width: 45px !important;
      border: 0 !important;
    }
    div.ecwid-Orders-EmptyList {
      background-color: $menu-gray !important;
    }
  }
}

