html#ecwid_html {
  body#ecwid_body.page-internal {
    .ecwid-Checkout-EmailBlock {
      .ecwid-Checkout-blockTitle {
        span {
          @include position(relative, $top: -6px);
          display: inline-block !important;
          margin-left: 5px;
          .ecwid-btn--sign_in {
            padding-left: 40px !important;
            padding-right: 40px !important;
          }
        }
      }
    }
    .ecwid-Checkout-block-title {
      margin-bottom: 38px !important;
    }
    .ecwid-AddressForm-fields-disabled {
      .gwt-TextBox,
      .gwt-ListBox {
        background-color: $white;
        color: $border-gray;
      }
    }
    .ecwid-AddressForm-fields-topPanel {
      > table > tbody >tr > td {
        text-align: left !important;
      }
      .ecwid-btn {
        padding: 0 !important;
      }
      .gwt-HTML {
        @include position(relative, $top: 1px);
      }
      .gwt-HTML,
      label::after,
      label::before {
        cursor: pointer;
      }
    }
    .ecwid-amexPaymentForm {
      .ecwid-AddressForm-secureLockIcon {
        @include position(absolute !important, $left: auto !important, $top: auto !important, $bottom: 0 !important, $right: 0 !important);
        margin: 0 !important;
      }
    }
    .ecwid-PaymentMethodsBlock-PaymentOption {
      label {
        display: inline-block !important;
        cursor: pointer;
      }
    }
    .ecwid-amexPaymentForm,
    .ecwid-ppReview-block {
      border-top: 0 !important;
      background-color: $menu-gray !important;
    }
    div.ecwid-PaymentMethodsBlock-PaymentOption-htmlBlock {
      img {
        margin-bottom: 5px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-productBrowser-CheckoutPaymentDetailsPage {
        &::before {
          @include font($os, rem(30), $black-two, 700);
          @include position(relative);
          display: block;
          letter-spacing: 2px;
          content: "PAYMENT DETAILS";
          text-transform: uppercase;
          margin-top: 70px;
        }
      }
      .ecwid-Checkout-blockTitle {
        margin-top: 45px !important;
        margin-bottom: 32px !important;
      }
      .ecwid-Checkout-EmailBlock {
        .ecwid-Checkout-blockTitle {
          margin-top: 45px !important;
          margin-bottom: 18px !important;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .ecwid-productBrowser-CheckoutPlaceOrderExternalFormPage {
    .ecwid-ppReview-sidebar-ver {
      width: 100% !important;
    }
    .ecwid-ppReview-block {
      margin: 3px 0 !important;
    }
  }
}

@media screen and (max-width: 419px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-Checkout-EmailBlock {
        .ecwid-Checkout-blockTitle {
          span {
            margin-left: 0 !important;
            margin-top: 24px;
            .ecwid-btn--sign_in {
              margin-bottom: 24px !important;
            }
          }
        }
      }
    }
  }
}