html#ecwid_html {
  body#ecwid_body.page-internal {
    .ecwid-Checkout-block-title {
      margin-bottom: 38px !important;
    }
    .ecwid-AddressForm-fields-disabled {
      .gwt-TextBox,
      .gwt-ListBox {
        background-color: $white;
        color: $border-gray;
      }
    }
    .ecwid-AddressForm-fields-topPanel {
      > table > tbody >tr > td {
        text-align: left !important;
      }
      .ecwid-btn {
        cursor: pointer !important;
        padding: 0 !important;
      }
      .gwt-HTML {
        @include position(relative, $top: 1px);
      }
    }
    .ecwid-amexPaymentForm {
      .ecwid-AddressForm-secureLockIcon {
        @include position(absolute !important, $left: auto !important, $top: auto !important, $bottom: 0 !important, $right: 0 !important);
        margin: 0 !important;
        overflow: hidden;
      }
    }
    .ecwid-PaymentMethodsBlock-PaymentOption {
      label {
        display: inline-block !important;
        cursor: pointer;
      }
    }
    .ecwid-amexPaymentForm,
    .ecwid-ppReview-block {
      border-top: 0 !important;
      background-color: $menu-gray !important;
    }
    div.ecwid-PaymentMethodsBlock-PaymentOption-htmlBlock {
      img {
        margin-bottom: 5px;
      }
    }
  }
}

