// #ecwid-store-13653034 {
//   background: $white;
// }
#ecwid_body {
  .ec-likely__icon {
    @extend .icomoon;
    &::before {
      font-size: 22px;
    }
  }
  .ec-likely__icon--facebook {
    @extend .icon-facebook;
  }
  .ec-likely__icon--twitter {
    @extend .icon-twitter;
  }
  .ec-likely__icon--gplus {
    @extend .icon-pinterest-p;
  }
  .ec-likely__icon--pinterest {
    @extend .icon-google;
  }
  .ec-likely__widget {
    svg {
      display: none;
    }
  }
}
html#ecwid_html {
  body#ecwid_body.page-internal {
    .ec-size {
      .ec-store {
        div.grid-product__button-hover {
          .form-control__button--icon-center {
            height: 35px;
            padding-bottom: 1px;
          }
        }
        .details-product-purchase__add-buttons {
          .form-control--primary {
            .form-control__button {
              @include font($os, 15px, $white, 700);
              background: $orange;
              border: 0;
              text-transform: uppercase;
              min-height: 40px;
              margin: 0;
              box-shadow: none;
              letter-spacing: 1.1px;
              &::before {
                @extend .icomoon;
                content: "\e92b";
                margin-right: 15px;
              }
              &:hover{
                background: $orange;
                border: 0;
              }
            }
          }
        }
        .details-product-purchase__qty-label {
          @include font($os, 15px, $black, 700);
          text-transform: uppercase;
          letter-spacing: 1.1px;
          margin-right: 14px;
          vertical-align: middle;
          text-align: center !important;
        }
        .details-product-purchase__qty-field {
          text-align: center !important;
          input {
            @include font($os, 15px, $black, 700);
            box-shadow: none !important;
            border-color: $color-c5 !important;
            text-align: center !important;
            width: 75px;
            letter-spacing: 1.1px;
          }
        }
        .grid__products {
          margin: 0 -30px;
        }
        .product-details-module {
          margin-bottom: 47px !important;
        }
        .product-details-module__title {
          display: none;
        }
        .product-details__product-title {
          @include font(null, 26px, $black !important, $weight: 700);
          text-transform: uppercase;
          margin-bottom: 15px;
          &+.ec-breadcrumbs {
            margin-top: 0;
          }
        }
        .grid__products--appearance-hover {
          .grid-product__picture {
            filter: blur(0) !important;
          }
        }
        .grid-product__shadow {
          background: transparent !important;
        }
        .product-details__product-price {
          @include font($size: 24px !important, $color: $orange, $weight: 500 );
        }
        .product-details-module__title,
        .product-details__product-description {
          @include font($font-family-base, 15px !important,$black-two, 400);
          line-height: 1.87;
          letter-spacing: .4px;
        }
        .form-control--primary {
          .form-control__button {
            @include font($os, 15px !important, $white, 700);
            width: auto;
            padding: 0 15px;
            min-height: 40px !important;
            overflow: hidden;
            text-transform: uppercase;
            background: $orange;
            letter-spacing: 1.1px;
            border: 0;
            border-radius: 0;
            transform: none !important;
          }
          .form-control__button-text {
            .svg-icon {
              display: none;
            }
          }
        }
        .ec-likely__button {
          @include font($font-family-base, 15px,$black-two, 400);
          letter-spacing: .4px;
          padding-right: 0;
        }
        .ec-likely__widget {
          background: transparent !important;
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            span {
              color: $color-c6;
            }
          }
        }
        .ec-likely__icon {
          margin-right: 7px;
        }
        .ec-footer {
          a {
            color: $black;
            &:visited {
              color: $orange;
            }
          }
        }
        .details-gallery__thumb-img-wrapper-inner {
          padding: 10px 12px;
        }
        .details-gallery__thumb-img {
          background-size: contain;
          &::after {
            box-shadow: inset 0 0 0 2px $gray-bg;
            opacity: 1;
            z-index: 1;
            display: none;
          }
        }
        .details-gallery__thumb--active {
          .details-gallery__thumb-img::after {
            box-shadow: inset 0 0 0 3px $black;
          }
        }
        .details-gallery__thumbs.details-gallery__thumbs--aspect-ratio-auto {
          .details-gallery__thumb--aspect-ratio-1 {
            margin: 0 22px;
          }
        }
        .details-product-purchase--checkout {
          .details-product-purchase__checkout {
            margin-top: 21px !important;
          }
        }
        .ec-related-products {
          margin: 70px auto 40px;
          background: #fff;
          .grid__products--classic {
            padding: 40px 0 0;
          }
          .ec-related-products__title {
            @include font($os, 30px, $black, 700);
            text-transform: uppercase;
            margin: 0;
            position: relative;
            text-align: center !important;
            &::after {
              @include sizeEx(79px,5px);
              content: "";
              display: block;
              background: $color-c6;
              margin: 25px auto 0;
            }
          }
          .grid__products {
            position: relative;
            display: block;
          }
          .grid-product {
            width: 100% !important;
          }
          .grid-product__title-inner {
            @include font($os, 18px, $black, 700);
            text-transform: uppercase;
          }
          .grid-product__price-amount {
            @include font($os, 18px !important, $orange, 500 !important);
          }
          .ec-related-products__products {
            overflow: visible;
          }
          .slick-slide {
            float: left !important;
          }
          .slick-arrow {
            @include position(absolute, 50%, $index: 1);
            @include font(null, 30px, $black);
            display: block;
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: none;
            outline: none;
            transform: translate(0, -50%);
          }
          .slick-prev {
            left: -100px;
          }
          .slick-next {
            right: -100px;
          }
          .grid__products--appearance-frame {
            &:not(.grid__products--appearance-hover) {
              .grid-product__wrap-inner {
                box-shadow: none;
                background: none;
              }
            }
            .grid-product__wrap-inner {
              .grid-product__title {
                margin-top: 25px;
              }
              .grid-product__price {
                margin-top: 10px;
                padding: 0;
              }
            }
          }
          .grid-product__wrap-inner {
            padding: 30px;
          }
        }
        .product-details--small-images {
          .details-gallery__thumb {
            max-width: 100%;
          }
        }
        .details-gallery__images-carousel {
          transition: transform .4s cubic-bezier(0, 0, .77, 1);
        }
      }
      &.ec-size--s {
        .ec-store {
          .product-details-module__content--collapsed::after {
            background-image: linear-gradient(180deg, rgba(235, 235, 235, 0) 0%, $white .95);
          }
        }
      }
    }
    .ecwid-productBrowser-ProductPage {
      position: relative;
      &::before {
        content: "";
        display: block;
        @include sizeEx(36px);
        @include position(absolute, $top: 1px, $left: 50%, $index: 1);
        position: absolute;
        background-color: $color-c6;
        transform-origin: center;
        transform: translateX(-50%) translateY(-35%) rotate(45deg);
      }
      .ec-store__content-wrapper {
        max-width: 2000px !important;
      }
      .ec-store {
        .details-product-purchase--checkout {
          .details-product-purchase__add-buttons {
            width: auto;
            display: inline-block;
          }
          .form-control {
            width: auto;
            margin-top: 0 !important;
          }
          .form-control__button {
            margin: 0;
          }
          .details-product-purchase__controls {
            margin-top: 20px;
            >div {
              display: inline-block;
              vertical-align: top;
              margin: 0 20px 20px 0;
            }
          }
        }
        .details-product-share__title {
          display: none;
        }
        .product-details__action-panel {
          margin-bottom: 20px !important;
        }
      }
    }
    .ecwid {
      .ecwid-productBrowser.ecwid-productBrowser-ProductPage {
        padding: 0;
        background: transparent;
        .product-details {
          background: $white;
          padding: 76px 40px 10px;
          position: relative;
        }
        .product-details,
        .ec-footer {
          max-width: 1140px;
          margin: 0 auto;
          width: 100%;
        }
        .ec-related-products {
          max-width: 1140px;
          width: 100%;
          padding-top: 20px;
        }
      }
    }
  }
}
.page-product {
  .mod-content-editor {
    >.container {
      max-width: none;
    }
    .ec-store__content-wrapper {
      display: flex;
      flex-flow: column;
    }
    .product-details {
      order: 0;
    }
    .ec-related-products {
      order: 2;
    }
  }
}

@media screen and (min-width: 510px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ec-size {
        .ec-store {
          .product-details__sidebar {
            width: 42.5% !important;
          }
          .product-details__gallery {
            width: 57.5% !important;
          }
          .details-gallery__thumb-img-wrapper-inner {
            box-shadow: inset 0 0 0 2px $gray-bg;
          }
          .details-gallery__thumb--active {
            .details-gallery__thumb-img-wrapper-inner {
              box-shadow: inset 0 0 0 3px $black;
            }
          }
          .details-gallery__thumbs--preview {
            &.details-gallery__thumbs--aspect-ratio-auto {
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ec-size {
        .ec-store {
          .ec-related-products {
            display: block;
            margin: 110px auto 40px;
            background: transparent;
            .ec-related-products__title {
              text-align: left !important;
              &::after {
                margin: 25px 0 0;
              }
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-productBrowser-ProductPage {
        &::before {
          @include sizeEx(57px);
          top: -1px;
        }
      }
      .ec-size {
        .ec-store {
          .ec-related-products {
            .grid-product__wrap-inner {
              .grid-product__image {
                transition: .25s all;
                transform: scale(1) !important;
              }
              &:hover {
                .grid-product__image {
                  box-shadow: 9px 15.6px 43.2px 2.8px rgba(93, 93, 93, .49);
                }
              }
            }
            .slick-arrow {
              transition: .25s all ease-in-out;
              &:hover {
                color: $orange;
              }
            }
          }
          .details-gallery__thumb-img-wrapper-inner {
            box-shadow: inset 0 0 0 2px $gray-bg;
            padding: 27px 12px;
          }
        }
        &.ec-size--s {
          .ec-store {
            .details-gallery__thumb-img-wrapper {
              padding: 0 24px 8px;
            }
          }
        }
        &.ec-size--l {
          .ec-store {
            .product-details__product-title {
              @include font(null, 30px, $black !important, $weight: 700);
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ec-size {
        .ec-store {
          .grid__products--appearance-frame {
            .grid-product__wrap {
              padding: 0;
            }
          }
          .ec-related-products__products {
            padding: 0 25px;
          }
        }
      }
    }
  }
}

@include media-custom-down(1500) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ec-size {
        .ec-store {
          .grid__products {
            margin: 0;
          }
          .ec-related-products {
            .slick-prev {
              left: 0;
            }
            .slick-next {
              right: 0;
            }
          }
        }
      }
    }
  }
}
