// #ecwid-store-13653034 {
//   background: $white;
// }
#ecwid_body {
  .ec-likely__icon {
    @extend .icomoon;
    &::before {
      font-size: 22px;
    }
  }
  .ec-likely__icon--facebook {
    @extend .icon-facebook;
  }
  .ec-likely__icon--twitter {
    @extend .icon-twitter;
  }
  .ec-likely__icon--gplus {
    @extend .icon-pinterest-p;
  }
  .ec-likely__icon--pinterest {
    @extend .icon-google;
  }
  .ec-likely__widget {
    svg {
      display: none;
    }
  }
}
html#ecwid_html {
  body#ecwid_body.page-internal {
    .ec-size {
      .ec-store {
        .product-details-module {
          margin-bottom: 40px;
        }
        .product-details__product-title {
          @include font(null, 26px, $black !important, $weight: 700);
          text-transform: uppercase;
          margin-bottom: 15px;
          &+.ec-breadcrumbs {
            margin-top: 0;
          }
        }
        .product-details__product-price {
          @include font($size: 24px !important, $color: $orange, $weight: 500 );
        }
        .product-details-module__title,
        .product-details__product-description {
          @include font($font-family-base, 15px,$black-two, 400);
          line-height: 1.87;
          letter-spacing: .4px;
        }
        .form-control--primary {
          .form-control__button {
            @include font($os, 15px, $white, 700);
            width: auto;
            padding: 0 15px;
            min-height: 35px;
            overflow: hidden;
            text-transform: uppercase;
            background: $orange;
            letter-spacing: 1.1px;
            border: 0;
            border-radius: 0;
          }
          .form-control__button-text {
            &::before {
              @extend .icomoon;
              content: "\e92b";
              margin-right: 15px;
            }
            .svg-icon {
              display: none;
            }
          }
        }
        .ec-likely__button {
          @include font($font-family-base, 15px,$black-two, 400);
          letter-spacing: .4px;
        }
        .ec-likely__widget {
          background: transparent;
        }
        .ec-likely__icon {
          margin-right: 5px;
        }
        .ec-footer {
          a {
            color: $black;
            &:visited {
              color: $orange;
            }
          }
        }
        .details-gallery__thumb-img {
          &::after {
            box-shadow: inset 0 0 0 2px $gray-bg;
            opacity: 1;
            z-index: 1;
          }
        }
        .details-gallery__thumb--active {
          .details-gallery__thumb-img::after {
            box-shadow: inset 0 0 0 3px $black;
          }
        }
        .details-gallery__thumbs.details-gallery__thumbs--aspect-ratio-auto {
          .details-gallery__thumb--aspect-ratio-1 {
            margin: 0 22px;
          }
        }
        .details-product-purchase--checkout {
          .details-product-purchase__checkout {
            margin-top: 21px !important;
          }
        }
      }
      &.ec-size--s {
        .ec-store {
          .product-details-module__content--collapsed::after {
            background-image: linear-gradient(180deg, rgba(235, 235, 235, 0) 0%, $white .95);
          }
        }
      }
    }
    .ecwid-productBrowser-ProductPage {
      position: relative;
      &::before {
        content: "";
        display: block;
        @include sizeEx(36px);
        @include position(absolute, $top: -5px, $left: 50%);
        position: absolute;
        background-color: $color-c6;
        transform-origin: center;
        transform: translateX(-50%) translateY(-35%) rotate(45deg);
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ecwid-productBrowser-ProductPage {
        &::before {
          @include sizeEx(57px);
          top: -8px;
        }
      }
    }
  }
}
@include media-breakpoint-down(xl) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      .ec-size {
        .ec-store {
          .form-control--primary {
            .form-control__button {
              &::before {
                @include position(absolute, $top:0, $right:0, $index: -1);
                @include sizeEx(100%);
                content: "";
                background: $orange-hover;
                transition: transform .3s cubic-bezier(.75, 0, .125, 1);
                transform: translate3d(-100%, 0, 0);
              }
              &:hover{
                &::before {
                  transform: translate3d(0, 0, 0);
                }
              }
            }
          }
        }
      }
    }
  }
}
