@include media-breakpoint-up(lg) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      table.ecwid-Checkout-blockTitle {
          margin-left: 0;
      }
      .ecwid-productBrowser-CheckoutShippingAddressPage .ecwid-productBrowser-head-panel~div {
          margin: 0 -15px;
      }
      .ecwid-productBrowser-CheckoutShippingAddressPage {
        &::before {
          @include font($os, rem(30), $black-two, 700);
          @include position(relative);
          display: block;
          letter-spacing: 2px;
          content: "SHIPPING DETAILS";
          text-transform: uppercase;
          margin-top: 70px;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  html#ecwid_html {
    div.ecwid-AddressForm {
      table.ecwid-fieldEnvelope {
        margin: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  html#ecwid_html {
    body#ecwid_body.page-internal {
      &.ecwid-customer-loggedOut {
        .ecwid-btn--address_book_sign_in {
          display: block !important;
          margin: 23px 0 0 !important;
        }
      }
      div.ecwid-Checkout-blockTitle,
      table.ecwid-Checkout-blockTitle {
        margin-left: 0;
      }
    }
  }
}
