html#ecwid_html {
  body#ecwid_body.page-internal {
    .ecwid {
      div.ecwid-productBrowser {
        padding: 60px 20px;
      }
    }
    .ec-size {
      .ec-store {
        h1 {
          text-transform: uppercase;
        }
        .signin__description {
          @include font($font-family-base, 15px !important, $black, 400, null);
        }
        .form-control__button {
          margin-top: 20px;
        }
        .signin__page {
          //margin-top: 30px;
        }
        .ec-signin {
          max-width: none !important;
        }
        .ec-page-title {
          padding: 0 !important;
        }
        .signin__email {
          .form-control {
            display: flex;
            flex-direction: column;
            background-color: initial;
          }
          input {
            @include font($os, 18px, $black-two, 700, null);
            @include sizeEx(100%, 38px !important);
            border: 0;
            padding: 0 20px 1px !important;
            border-radius: 0;
            box-sizing: border-box;
            background: $menu-gray !important;
            text-transform: uppercase;
            border-bottom: solid 3px $white !important;

            &:focus {
              border-bottom: solid 3px $color-c6 !important;
            }
          }
          &~.form__msg--error {
            display: none !important;
          }
          .form-control__label {
            @include position(relative, $bottom: auto !important, $top: auto);
            @include font($font-family-base, 15px !important, $border-gray !important, 400 !important);
            transform: none !important;
            opacity: 1 !important;
            background: $white !important;
            padding: 0 !important;
            border: 0 !important;
            order: -1;
          }
          .form-control--error {
            input {
              border-bottom: solid 3px $red !important;
            }
          }
          .form-control__placeholder {
            display: none !important;
          }
          &.has-text {
            .form-control__label {
              color: $black !important;
            }
          }
        }
      }
    }
  }
}
