/* Override bootstrap variables */

@import "base/setting";
// @import "bootstrap/scss/bootstrap";

/* Import bootstrap scss - only used */

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
// $theme-colors: map-remove($theme-colors, "info", "secondary", "dark");
@import "bootstrap/scss/print";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
//@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
//@import "bootstrap/scss/transitions";
@import "bootstrap/scss/input-group";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
//@import "bootstrap/scss/pagination";
@import "bootstrap/scss/utilities";


/* import libs */

// @import "slick-carousel/slick/slick.scss";
// @import "lib/bootstrap-select";
@import "lib/font-iconmoon";
// @import "lib/slick-theme";

/* base */
@import "base/mixins";
@import "base/base";
@import "base/button";
@import "base/space";
@import "base/custom";
@import "base/form";

/* modules */
@import "modules/global/*.scss";
@import "modules/*.scss";
@import "pages/*.scss";
