.disclaimer-msg {
  @include position(absolute, 100%);
  width: 100%;
  background: $gray-800;
  padding: 20px 40px;
  display: none;
  p {
    @include font(null, rem(15), $white);
    margin: 0;
  }
  a:not([href]) {
    color: $orange;
  }
  .disclaimer-btn-wrap {
    @include position(absolute, $right: 20px, $top: 50%);
    @include sizeEx(20px);
    cursor: pointer;
    transform: translateY(-50%);
    span.icon-close2 {
      @include sizeEx(15px);
      display: block;
      color: $white;
    }
    &:hover {
      span.icon-close2 {
        color: $orange;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .disclaimer-msg {
    z-index: -1;
  }
}

@include media-breakpoint-down(md) {
  .disclaimer-msg {
    p {
      text-align: center;
    }
    .disclaimer-btn-wrap {
      @include position($right: 15px, $top: 10px);
      transform: none;
    }
  }
}