#footer {
  padding-top: 20px;
  background-color: $black;
  .container {
    padding: 0;
  }
  .icomoon {
    &:hover {
      color: $color-c6;
    }
  }
}

#logo-footer {
  width: 86px;
  margin: 0 auto 40px;
}

.footer-top {
  padding: 0 15px;
}
.footer-item-col {
  @extend .col-md-3, .col-6;
  color: $white;
  h5 {
    @include font($os, 14px, $white, 700);
    @extend .text-uppercase;
    line-height: 1.8;
    margin-bottom: 18px;
    &.active {
      color: $color-c6;
    }
    >a {
      @include position(relative, $index:0);
      transition: color .5s;
      transition-timing-function: cubic-bezier(.2, 1, .3, 1);
      &::before {
        @include position(absolute, $top: 0, $left: -7.5px, $index: -1);
        @include sizeEx(calc(100% + 15px), 100%);
        content: "";
        padding: 0 6px;
        background: $color-c6;
        transform: scale3d(0, 1, 1);
        transform-origin: 0% 50%;
        transition: transform .5s;
        transition-timing-function: cubic-bezier(.2, 1, .3, 1);
      }
      &:hover {
        color: $black;
        &::before {
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }
  a {
    letter-spacing: 1.1px;
    line-height: 1.8;
    vertical-align: top;
  }
  .social {
    @extend .text-md-right;
    position: relative;
    top: -2px;
    margin: 0;
    padding: 0;
    li {
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.footer-menu {
  margin-bottom: 50px;
  li {
    margin-bottom: 18px;
    line-height: 1.8;
  }
  a {
    @include font(null, 14px, $border-gray);
    text-decoration: none;
  }
}

.footer-copyright {
  font-size: rem(10);
  margin-bottom: 0;
  .text-center {
    border-top: 1px solid $border-gray;
    padding: 31px 15px 25px;
  }
  p {
    @include font(null, 13px, $border-gray);
    margin: 0;
    line-height: 1.54;
    letter-spacing: 1px;
  }
  a {
    color: inherit;
    &:hover {
      color: $link-color;
    }
  }
}

.cont-footer {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  .col-logo,
  .col-menu {
    padding: 0 15px;
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@include media-breakpoint-up(md) {
  #footer {
    .container {
      padding: 0 15px;
    }
  }
  .footer-top {
    padding: 0;
  }
}

@include media-breakpoint-up(lg) {
  #footer {
    padding-top: 65px;
  }
  .footer-copyright {
    padding: 0 15px;
    .text-center {
      padding: 26px 0 46px;
    }

    a {
      &:hover {
        color: lighten($border-gray, 20);
      }
    }
  }
  #logo-footer {
    margin: 0;
  }
  .cont-footer {
    .col-logo {
      max-width: 20%;
      flex: 0 0 20%;
    }
    .col-menu {
      max-width: 80%;
      flex: 0 0 80%;
    }
  }
  .footer-item-col {
    .social {
      text-align: right;
    }
  }
  .footer-menu {
    margin-bottom: 0;
    a {
      &:hover {
        color: lighten($border-gray, 20);
      }
    }
  }
  .footer-top {
    margin-bottom: 19px;
  }
}
