#header {
  @include position(static, 0, 0, null, 0, 9999);
  @extend %add-tr;
  background-color: $black;
  &.pin-header {
    box-shadow: 2px 9px 18px -6px rgba(0, 0, 0, .22);
  }
  &.visibility-hide {
    visibility: hidden;
  }
}

#header-logo {
  @extend .navbar-brand;
  width: 100%;
  max-width: 200px;
  margin: 0;
}

@include media-breakpoint-up(lg) {
  #header {
    .navbar {
      padding: 0 15px;
    }
  }

  #header-logo {
    @include sizeEx(120px, auto);
    padding: 27px 0;
  }
}

@include media-breakpoint-down(lg) {
  html.is-open-menu,
  html.is-open-menu body {
    overflow: hidden;
  }
  html.is-open-menu {
    body {
      @include position(absolute, 0, 0, null, 0, null);
    }
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #header {
    position: absolute;
  }
}

