#main-menu {
  @extend .navbar-collapse;
  @include sizeEx(0,100vh !important);
  display: block;
  transition: width .2s;
  ul {
    margin: 0;
    list-style: none;
  }

  @include position($type: fixed, $right: 0, $top: 0);
  background-color: $menu-gray;

  li {
    color: $black;
  }

  .icomoon {
    position: relative;
    font-size: rem(25);
    line-height: 0;
  }
  &.is-open-menu {
    width: 295px;
  }
}

.navbar {
  padding: .6rem 1rem;
}

#header-logo {
  @include sizeEx(110px, auto);
}

.cart-badge {
  @include position(absolute, $top: -20px, $right: -12px);
  @include sizeEx(18px, 18px);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  background-color: $color-c6;
  transform: rotate(45deg) translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  z-index: -1;
  b {
    @include font($os, rem(12), $black, 700);
    align-self: center;
    transform: rotate(-45deg);
  }
}

.cart-btn {
  display: flex !important;
  align-items: center;

  > i {
    padding: 0 0 0 28px;
  }
}

.navbar-social {
  padding: 53px 0;

  > li {
    float: left;
    padding: 0 15px;
    border-top: none;
    a {
      color: $black;
    }
  }
}

.menu-wrap-outer {
  padding-top: 64px;
}

.menu-wrap-inner {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 64px;
}

.menu-style {
  @extend .navbar-nav;
  padding: 0;
  width: 295px;

  .active {
    color: $color-c6;
  }

  > li {
    font-size: rem(26px);
    font-weight: 700;
    text-transform: uppercase;
    border-top: solid 1px $border-gray;
    > a {
      padding: 34px 15px 34px 20px;
      color: $black;
    }
  }

  li {
    margin: 0;
    position: relative;
    color: $gray-900;
    line-height: 1.2em;
    a {
      display: block;
      text-decoration: none;
    }
    &:hover,
    &.active {
      color: $link-color;
    }
  }
}

.is-open-child {
  .main-menu-dropdown {
    display: block;
  }
  > .nav-item-arrows {
    transform: rotate(180deg);
    transform-origin: center;
  }
}

.main-menu-dropdown {
  border: none;
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  font-size: 1em;
  .container {
    padding: 0;
  }
  .nav-item-arrows {
    top: -5px;
  }
  ul {
    li {
      color: $gray-900;
    }
    a {
      padding: 10px 15px;
    }
  }
  li {
    text-transform: none;
    font-size: .85em;
    li {
      text-transform: none;
    }
  }
  .menu-child {
    display: none;
  }
  .is-open-menu-child {

    .menu-child {
      display: block;
    }
    .nav-item-arrows {

      transform: rotate(180deg);
      transform-origin: center;
    }
  }
}

.hamburger-menu {
  @extend .navbar-toggler;
  padding: 0;
  cursor: pointer;
  z-index: 9999;

  .icon-bar {
    display: block;
    @include sizeEx(34px, 3px);
    background: $white;
    position: relative;
    margin-left: auto;
    + .icon-bar {
      margin-top: 7px;
    }
  }

  &.is-open-menu {
    position: fixed;
    @include position($top: 20px, $right: 10px);

    .icon-bar {
      background: $black;
      border-width: 2px;

      &:first-child {
        transform: rotate(45deg);
        transform-origin: top left;
        @include position($top: -3px, $left: 3px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-46deg);
        transform-origin: left top;
        top: 1px;
      }
    }
  }
}

.nav-item-arrows {
  @include position(absolute, 0, -8px, null, null, 1);
  color: inherit;
  font-size: 1em;
  padding: 16px;
  cursor: pointer;
}

// min-width 768px
@include media-breakpoint-up(lg) {
  #main-menu {
    @include position(initial, $top: unset, $right: unset);
    background-color: transparent;
    justify-content: flex-end;
    height: auto !important;
  }

  #header-logo {
    @include sizeEx(120px, auto);
  }

  .menu-wrap-outer {
    padding: 0;
    width: 100%;
  }

  .menu-wrap-inner {
    padding: 0;
    height: unset;

    display: flex;
    justify-content: space-between;
    overflow: visible;
  }

  .menu-style {
    position: relative;
    width: unset;

    > li {
      font-size: 1em;
      border-top: none;

      > a {
        padding: 18px 15px;
        color: $white;

        position: relative;
        transition: color .5s;
        transition-timing-function: cubic-bezier(.2, 1, .3, 1);

        &::before {
          @include position(absolute, $top: 25%, $left: 10%);
          @include sizeEx(80%,50%);
          content: "";
          z-index: -1;
          background: $color-c6;
          transform: scale3d(0, 1, 1);
          transform-origin: 0% 50%;
          transition: transform .5s;
          transition-timing-function: cubic-bezier(.2, 1, .3, 1);
        }
        &:hover {
          color: $black;
          &::before {
            transform: scale3d(1, 1, 1);
          }
          .cart-badge {
            background-color: darken($color-c6, 20);
          }
        }
      }
      &:hover {
        .main-menu-dropdown {
          display: block;
        }
      }
    }
  }

  .main-menu-ul {
    padding: 0;
    @include sizeEx(100%, auto);

    .mega-dropdown {
      position: static;
    }
  }
  .main-menu-dropdown {
    min-width: 200px;
    width: 100%;
    margin: 0;
    font-size: 1em;
    border: none;
    background-color: $white;
    box-shadow: 2px 9px 18px -6px rgba(0, 0, 0, .22);
    .menu-child {
      display: block;
    }
  }
  .navbar {
    position: static;
  }

  .navbar-social {
    display: none;
  }
}

@include media-breakpoint-up(xl) {
  .menu-wrap-outer {
    margin-left: 200px;
  }
  .cart-btn {
    margin-right: -40px;
  }
  .menu-center {
    li {
      > a {
        padding: 22px 42px;
      }
    }
  }
  .menu-right {
    margin-left: 75px;
    li {
      > a {
        padding: 22px 35px;
      }
    }
    li:last-child {
      > a {
        padding-right: 0;
      }
    }
  }
}

@media (min-width: 2000px) {
  .menu-right {
    margin-left: 0;
  }
}
