#main-menu {
  @extend .navbar-collapse;
  ul {
    margin: 0;
    list-style: none;
  }

  position: fixed;
  right: 0;
  top: 0;

  li {
    color: $black;
  }
}

.main-menu-ul {
  @extend .navbar-nav;

  background-color: $menu-gray;
  padding: 64px 0 0 0;
  width: 295px;

  ul {
    padding-left: 0;
  }
  .row>ul,
  .menu-child {
    padding-left: 15px;
  }
  >li {
    font-size: rem(26px);
    font-weight: bold;
    text-transform: uppercase;
    border-top: solid 1px $border-gray;
    >a {
      padding: 34px 15px 34px 20px;
      color: $black;

      &:hover {
        color: lighten($black, 50);
      }
    }
  }
  li {
    margin: 0;
    position: relative;
    color: $gray-900;
    line-height: 1.2em;
    a {
      display: block;
      text-decoration: none;
    }
    &:hover,
    &.active {
      color: $link-color;
    }
  }
}

.is-open-child {
  .main-menu-dropdown {
    display: block;
  }
  >.nav-item-arrows {
    transform: rotate(180deg);
    transform-origin: center;
  }
}

.main-menu-dropdown {
  border: none;
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  font-size: 1em;
  .container {
    padding: 0;
  }
  .nav-item-arrows {
    top: -5px;
  }
  ul {
    li {
      color: $gray-900;
    }
    a {
      padding: 10px 15px;
    }
  }
  li {
    text-transform: none;
    font-size: .85em;
    li {
      text-transform: none;
    }
  }
  .menu-child {
    display: none;
  }
  .is-open-menu-child {
    .menu-child {
      display: block;
    }
    .nav-item-arrows {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
}

.hamburger-menu {
  @extend .navbar-toggler;
  padding: 0;
  cursor: pointer;
  z-index: 9999;
  .icon-bar {
    display: block;
    width: 34px;
    height: 3px;
    background: $white;
    position: relative;
    margin-left: auto;
    +.icon-bar {
      margin-top: 7px;
    }
  }
  &.is-open-menu {
    .icon-bar {
      background: $black;
      &:first-child {
        transform: rotate(45deg);
        transform-origin: top left;
        top: 5px;
        left: 2px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-46deg);
        transform-origin: left top;
        top: 9px;
      }
    }
  }
}

.nav-item-arrows {
  @include position( absolute, 0, -8px, null, null, 1);
  color: inherit;
  font-size: 1em;
  padding: 16px;
  cursor: pointer;
}

// min-width 768px
@include media-breakpoint-up(lg) {
  #main-menu {
    position: initial;
    top: unset;
    right: unset;
  }

  .main-menu-ul {
    padding: 0;
    >li {
      text-transform: uppercase;
      font-size: 1em;
      >a {
        padding: 18px 15px;
        color: $white;
      }
      &:hover {
        .main-menu-dropdown {
          display: block;
        }
      }
    }
    .mega-dropdown {
      position: static;
    }
  }
  .main-menu-dropdown {
    min-width: 200px;
    width: 100%;
    margin: 0;
    font-size: 1em;
    border: none;
    background-color: $white;
    box-shadow: 2px 9px 18px -6px rgba(0, 0, 0, .22);
    .menu-child {
      display: block;
    }
  }
  .navbar {
    position: static;
  }
}

@include media-breakpoint-up(xl) {
  .main-menu-ul>li {
    >a {
      padding: 22px 25px;
    }
  }
}
