#main-menu {
  @include sizeEx(auto);
  display: block;
  position: static;
  transition: width .2s;
  background-color: transparent;
  justify-content: flex-end;
  .navbar {
    position: static;
  }
  ul {
    margin: 0;
    list-style: none;
  }
  li {
    color: $black;
  }
  .icomoon {
    position: relative;
    font-size: rem(25);
    line-height: 0;
  }
  li > a {
    letter-spacing: 1.5px;
  }
}

.navbar {
  padding: .6rem 1rem;
  height: 50px;
}

.menu-wrap-inner {
  padding: 0;
  height: auto;
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.menu-wrap-outer {
  padding: 0;
  width: 100%;
}

.menu-style {
  @extend .navbar-nav;
  flex-direction: row;
  padding: 0;
  .active {
    a {
      color: $color-c6;
    }
  }

  > li {
    font-size: rem(26px);
    font-weight: 700;
    text-transform: uppercase;
    border-top: solid 1px $border-gray;
    > a {
      padding: 34px 15px 34px 20px;
      color: $black;
    }
  }

  li {
    margin: 0;
    position: relative;
    color: $gray-900;
    line-height: 1.2em;
    a {
      display: block;
      text-decoration: none;
    }
    &:hover,
    &.active {
      color: $link-color;
    }
  }

  .main-menu-ul {
    padding: 0;
    @include sizeEx(100%, auto);
  }
}

.menu-style {
  position: relative;
  width: auto;
  > li {
    font-size: 1em;
    border-top: none;
    > a {
      padding: 8px 25px;
      margin: 10px auto;
      color: $white;
      position: relative;
      transition: color .5s;
      transition-timing-function: cubic-bezier(.2, 1, .3, 1);
      &::before {
        @include position(absolute, $top: calc(50% - 18px), $left: 9px, $index: -1);
        @include sizeEx(calc(100% - 20px), 35px);
        content: "";
        z-index: -1;
        background: $color-c6;
        transform: scale3d(0, 1, 1);
        transform-origin: 0% 50%;
        transition: transform .5s;
        transition-timing-function: cubic-bezier(.2, 1, .3, 1);
      }
      &:hover {
        color: $black;
        &::before {
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }
}
