*:focus,
button:focus,
input:focus,
*,
input,
button,
*:active,
input:active,
button:active,
.bootstrap-select .btn:focus,
option {
  outline: none !important;
  outline: 0 !important;
}

html {
  margin: 0 auto !important;
  overflow-x: hidden;
  background-color: $white;
  &[class] {
    margin-top: 0 !important;
  }
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  a {
    font-style: normal;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $link-color;
      text-decoration: none !important;
    }
  }
}

ol,
ul {
  li {
    margin-bottom: 10px;
  }
}

img {
  max-width: 100%;
}

blockquote {
  font-size: 1em;
  font-style: italic;
}

p {
  letter-spacing: .4px;
}

label {
  margin-bottom: 0;
}

.table-responsive {
  margin: 20px 0;
}

.bold,
b,
strong {
  font-weight: 700;
}

@include media-breakpoint-up(lg) {
  // min-width: 992px
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1430px;
  }
}
