.btn {
  text-decoration: none !important;
  white-space: normal;
  cursor: pointer;
  text-transform: uppercase;
  color: $white;
  height: 35px;
  line-height: 35px;
  padding: 0 50px;
  letter-spacing: 1.1px;
  border: 0;
  &.focus,
  &:focus {
    box-shadow: none;
  }
}

.btn-form {
  color: $black;
  background-color: $white;
}


@include media-breakpoint-up(sm) {
  //min-width: 481px
}
