#wrapper {
  position: relative;
  width: 100%;
}

.grayscale {
  filter: grayscale(100%);
}

.touch {
  * {
    cursor: pointer;
  }
}

%icomoon {
  font-family: $icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $os;
}

.clear {
  display: block;
  height: 0 !important;
  padding: 0 !important;
  clear: both;
}

.d-table,
.d-sm-table,
.d-md-table,
.d-lg-table {
  table-layout: fixed;
}

.text-center,
%text-center {
  ul,
  ol {
    padding-left: 0;
    li {
      list-style-position: inside;
    }
  }
  ul {
    display: table;
    margin-right: auto;
    margin-left: auto;
  }
}
.page-internal {
  #main-content {
    padding-top: 63px;
  }
}

.mCS-scroller-theme {
  .mCSB_container {
    margin-right: 40px;
  }
  .mCSB_dragger_bar,
  .mCSB_draggerRail {
    width: 7.5px !important;
  }
  .mCSB_dragger_bar {
    background-color: $menu-gray !important;
  }
  .mCSB_draggerRail {
    background-color: $white;
  }
}

@include media-breakpoint-up(lg) {
  /* font heading */

  h1,
  .h1 {
    font-size: rem(55.7);
  }

  h2,
  .h2 {
    font-size: rem(30);
  }

  .style-h2 {
    font-size: rem(50);
  }

  h3,
  .h3 {
    font-size: rem(18);
  }

  h4,
  .h4 {
    font-size: rem(16);
  }

  h5,
  .h5 {
    font-size: rem(14);
  }

  h6,
  .h6 {
    font-size: rem(12);
  }

  .page-internal {
    #main-content {
      padding-top: 93px;
      max-width: 2000px;
      margin: 0 auto;
      overflow: hidden;
    }
  }

  .ie .page-internal {
    #main-content {
      padding-top: 92px;
    }
  }
}

@media only screen and (max-device-width: 1024px) {
  .touch {
    * {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #header {
    position: absolute;
  }
}
