$white: #fff;
a::after {
  content: " ";
}

a[href]::after {
  content: none !important;
}

a {
  page-break-inside: avoid;
  text-decoration: none !important;
}

body {
  // font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: visible;
  overflow-y: visible;
  background: $white !important;
  color: #000 !important;
}

#content,
#page,
body,
html,
#wrapper,
.container,
.group-arrows {
  width: 100% !important;
  margin: 0 !important;
  float: none !important;
  padding: 0 !important;
  max-width: none !important;
}

#banner {
  padding-top: 0 !important;
  .d-table {
    display: block !important;
    height: auto !important;
    h1,
    p {
      br {
        display: none;
      }
    }
  }
}

.col-md-5,
.col-md-6,
.col-md-9,
.col-md-11,
.col-5,
.col-6,
.col-7 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

#header > nav {
  position: relative !important;
  text-align: center !important;
  background-color: transparent !important;
  > .slide,
  > .hamburger-menu {
    display: none;
  }
  .col-md-2,
  .col-md-3,
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  #header-logo {
    display: block;
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    text-align: center !important;
    max-width: 100% !important;
    width: 100% !important;
    margin-bottom: 50px;
    img {
      max-width: 200px !important;
      text-align: center;
      filter: invert(100%);
      display: inline-block;
    }
  }
}

#footer {
  display: none;
}

@page {
  margin: 1cm;
}

#main-content {
  padding-top: 0 !important;
}

article {
  page-break-before: always;
}

body,
p,
li,
.page-home {
  font-size: 18px !important;
}

h1,
.h1 {
  font-size: 50px !important;
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: 40px !important;
}

h3,
.h3 {
  font-size: 30px !important;
}

h4,
.h4 {
  font-size: 20px !important;
}

h5,
.h5 {
  font-size: 18px !important;
}

h6,
.h6 {
  font-size: 16px !important;
}

blockquote {
  page-break-inside: avoid;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  page-break-after: avoid;
  page-break-inside: avoid;
  margin-top: 0 !important;
  margin-bottom: 15px !important;
}

img {
  page-break-inside: avoid;
  page-break-after: avoid;
  max-width: 500px !important;
}

.d-table {
  height: auto !important;
}

// table,
// pre {
//   page-break-inside: avoid;
// }

ul,
ol,
dl {
  page-break-before: avoid;
}

article a[href^="#"]::after {
  content: "";
}

.embed-youtube,
.embed-responsive {
  position: absolute;
  height: 0;
  overflow: hidden;
}

.btn,
.btn-border,
.read-more,
.mod-form,
#header .col-menu,
.col-langue {
  display: none;
}

address,
dt,
dd,
blockquote {
  font-size: 18px !important;
}

code,
pre {
  font-family: "Courier New", Courier, mono;
}

ul,
ol {
  list-style: square;
  margin-left: 18pt;
  margin-bottom: 20pt;
}

.slick-list {
  .slick-slide {
    margin: 0 auto !important;
  }
}

div,
section,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  opacity: 1 !important;
  width: auto !important;
  transform: none !important;
  height: auto !important;
  position: static !important;
  &::before,
  &::after {
    background: none;
  }
}

.slick-dotted:not(.accordion),
.slick-dots,
.slick-arrow {
  display: none !important;
}

.section-frame1,
.section-frame2,
.section-frame3,
.section-frame4 {
  margin-bottom: 30pt;
}

.section-frame1 {
  img {
    display: none;
  }
  .show-mb {
    display: none !important;
  }
}

.section-frame4 {
  margin-bottom: 0;
  .fruit-frame4,
  .image-product {
    display: none !important;
  }
  h2 {
    float: left;
  }
  .number {
    display: block;
    float: left;
    font-size: 40px;
    font-weight: 700;
    margin-left: 20px;
  }
  ul {
    display: inline-block;
    width: 100% !important;
  }
}

.mod-banner {
  .product-box-outer {
    max-width: 300px !important;
    img {
      max-width: 400px !important;
    }
  }
}

.mod-insta-link {
  display: none !important;
}

.form-group {
  display: none !important;
}

.mod-shop-product {
  [class*="-overlay"] {
    display: none !important;
  }
  .shop-product-right,
  .shop-product-left {
    // float: left;
    // width: 50% !important;
    margin-bottom: 30px !important;
    img {
      width: 100%;
    }
  }
}

.mod-infor-contact {
  .social {
    display: none !important;
  }
}

.mod-tab-benefits {
  .col-left {
    display: none !important;
  }
  .tab-item {
    margin-bottom: 40px;
  }
  .tab-content {
    display: block !important;
  }
}

.mod-promotion {
  text-transform: uppercase;
  display: none !important;
  img {
    display: none !important;
  }
  p {
    margin: 0 !important;
  }
}

.mod-product-image {
  text-align: center;
  .image-sm-wrap {
    display: none !important;
  }
}

.mod-content-benefits {
  .decor-bar {
    display: none !important;
  }
}

.mod-faq {
  .faq-answer {
    margin-bottom: 20pt;
  }
}

.mod-cta {
  display: none;
}

.mod-quote {
  margin-top: 20px;
  img {
    display: none;
  }
}

.mod-news-feed {
  .news-feed-logo {
    max-width: 100px;
    margin-bottom: 10px;
  }
  .news-feed-image {
    margin: 30px auto;
  }
  .news-feed-post,
  .news-feed-quote {
    margin-bottom: 50px;
  }
}

#sidebar,
.list-social,
.extra,
.wpcf7-response-output,
.response-success-send,
.response-fail-send,
.mod-news-feed .first-col-right,
.pineapple-frame4,
.orange-frame4,
.fruit-frame4,
.image-frame1,
.img-production-frame1,
.bg-image-frame3,
.rotate-image,
.bg-blue,
.navigation-homepage {
  display: none !important;
}
.image-frame1,
.container-frame1,
.img-production-frame1,
.cont-frame2,
.style-subhead,
.description-iframe3 {
  transform: none !important;
  position: static !important;
}
.bg-orange,
#fullpage {
  div,
  section {
    height: auto !important;
    min-height: auto !important;
    transform: none !important;
    position: static !important;
    padding: 0 !important;
  }
  .scrollmagic-pin-spacer {
    margin-bottom: 50px !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  .section-frame2 {
    .item {
      display: flex !important;
      align-items: center !important;
      padding: 20px 0 !important;
      span {
        padding-left: 20px !important;
      }
    }
    .icon {
      width: 36px !important;
      position: relative !important;
      img {
        position: absolute;
        left: 50%;
        top: calc(50% + 2px);
        display: block;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    .list-item-frame2::after {
      clear: both;
      display: block;
      content: "";
    }
  }
}
.subhead-frame4-title p {
  font-size: 40px !important;
}
#ecwid_body.page-category .ecwid,
#ecwid_body.page-category .mod-content-editor {
  display: none !important;
}
#ecwid_body .mod-banner,
#ecwid_body .mod-shop-product {
  display: none !important;
}
#ecwid_body.page-category .mod-banner,
#ecwid_body.page-category .mod-shop-product {
  display: block !important;
}
html#ecwid_html {
  body#ecwid_body.page-internal {
    .mod-promotion,
    .page-title__name {
      display: none;
    }
    .ec-size {
      .ec-store {
        .details-gallery__images-spacer-inner {
          padding-top: 0 !important;
        }
      }
    }
    .form-control__placeholder,
    .details-product-purchase__controls {
      display: none !important;
    }
    .ec-footer,
    .product-details__description {
      display: none !important;
    }
    .ecwid-Checkout {
      .ecwid-productBrowser-head-panel {
        display: none !important;
      }
    }
    .ecwid {
      min-height: auto !important;
    }
    div.ecwid-productBrowser {
      padding: 0 !important;
    }
    .product-details__sidebar {
      margin: 0 !important;
    }
    .details-gallery--one-image {
      float: none !important;
      margin: 0 auto !important;
    }
    div.ecwid-productBrowser-cart-EnterCouponBox div.ecwid-productBrowser-cart-EnterCouponBox-couponCodeContainer {
      width: 175px !important;
    }
    td.ecwid-productBrowser-cart-itemsTable-cell {
      padding: 10px 50px !important;
      vertical-align: middle !important;
    }
    td.ecwid-productBrowser-cart-itemsTable-cell-descr,
    td.ecwid-productBrowser-cart-itemsTable-cell-thumbnail {
      padding: 10px 0 !important;
    }
    td.ecwid-productBrowser-cart-itemsTable-cell-removeItem {
      padding: 0 !important;
    }
  }
}
.mod-shop-header {
  h1 {
    text-align: center;
  }
}
