.section-frame6 {
  padding-top: 0 !important;
  display: none;
  height: auto !important;
  .mod-cta {
    max-width: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .section-frame6 {
    .mod-cta {
      padding-top: 60px;
      .bg-green-cta {
        padding-right: 63%;
      }
      .form-cta {
        margin-top: 43px;
      }
      h2 {
        margin-bottom: 14px;
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .section-frame6 {
    .mod-cta {
      padding: 60px 0 26px;
      .bg-green-cta {
        transform: skew(-45deg);
        padding-right: 67.5%;
        &::after {
          transform: skew(45deg);
        }
      }
      .form-cta {
        max-width: 450px;
      }
    }
  }
}