.section-frame4 {
  color: $white;
  background: $orange;
  .rotate-image {
    background: $color-ffc6;
    top: 24%;
  }
  .bg-orange {
    @include position(absolute, 0, null, 0, 0);
    @include sizeEx(100%, 55%);
    background: $orange;
    &::before,
    &::after {
      @include sizeEx(50%, 4000px);
      @include position(absolute, 100%, null, null, null);
      content: "";
      display: block;
      background: $orange;
    }
    &::before {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 0;
    }
    &::after {
      right: 0;
      transform: rotate(-45deg);
      transform-origin: 0 0;
    }
  }
}

.mda-notice {
  position: relative;
  display: flex;
  flex-direction: column;
  .mda-content {
    text-align: center;
    p {
      margin: 0;
      @include font($font-family-base, rem(15), $black);
    }
    br {
      display: none;
    }
  }
}

.title-frame4 {
  h2 {
    p {
      margin-bottom: 0;
    }
  }
}

.bg-image-frame4 {
  @include position(absolute, 0, null, null, 0);
  @include sizeEx(100%, auto);
  padding-top: 70%;
  background: $color-ff;
}

.subhead-frame4 {
  width: 100%;
  h2 {
    padding: 16px 25px 16px 15px;
    display: inline-block;
    position: relative;
    &::before {
      @include position(absolute, 0, 0, null, null);
      @include sizeEx(2000%, 100%);
      content: "";
      display: block;
      background: $black;
    }
    span {
      @include position(relative, $index: 1);
    }
  }
  h3 {
    margin-bottom: 18px;
  }
}

.cont-frame4 {
  position: relative;
  padding: 90px 0 50px;
  .image-product {
    margin: 85px 0 0 -17%;
    img {
      margin: 0 auto;
      display: block;
    }
  }
}

.subhead-frame4-title {
  .number {
    @include sizeEx(71px);
    @include position(absolute, 0, null, null, 100%);
    @include font($os, 30px, null, 700);
    background: $black;
  }
  .number1 {
    margin-left: 10px;
  }
  .number2 {
    margin-left: 90px;
  }
  .number3 {
    margin-left: 170px;
  }
}

.cont-text-frame4 {
  @include position(relative, $index: 1);
  max-width: 1000px;
  width: 100%;
  margin: 72px auto 0;
}

.list-item-frame4 {
  ul {
    list-style: none;
    margin: 0;
    li {
      @include font($os, 18px, $black, 700);
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0;
      margin-bottom: 20px;
      position: relative;
      padding-left: 50px;
      &:last-child {
        margin-bottom: 0;
      }
      &::before,
      &::after {
        @extend .icomoon;
        display: block;
        content: "";
        font-size: 29px;
      }
      &::before {
        @include position(absolute, 0, 0, 0, 0);
        content: "\e92c";
      }
      &::after {
        @include position(absolute, 0, 0, 0, 0);
        content: "\e92d";
        margin: auto;
        color: $white;
      }
    }
  }
}

.fruit-frame4 {
  @include position(absolute, null, null, -21%, -15%);
  width: 50%;
  img {
    width: 100%;
  }
}
.orange-frame4 {
  @include position(absolute, 3%, -70px);
}
.pineapple-frame4 {
  @include position(absolute, $bottom: 14%, $left: -31%, $index: 1);
  width: 63%;
  transform: rotate(7deg);
  img {
    width: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .cont-text-frame4 {
    max-width: none;
  }
  .mda-notice {
    flex-direction: row;
    max-width: 555px;
    margin-left: auto;
    margin-top: -50px;
    .mda-logo {
      width: 30%;
      padding-right: 10px;
      border-right: solid 2px $black;
    }
    .mda-content {
      width: 70%;
      text-align: left;
      padding-left: 10px;
      br {
        display: inline;
      }
    }
    .mda-logo-wrapper {
      @include position(relative, $top: 50%);
      transform: translateY(-50%);
    }
  }
  .subhead-frame4-title {
    padding: 0;
    display: inline-block;
    position: relative;
  }
  .section-frame4 {
    height: 100%;
    .rotate-image {
      width: 80%;
    }
    .bg-rotate-image {
      overflow: hidden;
      &::after {
        content: "";
        @include position(absolute, $right: 25%, $top: -10%, $index: 5);
        @include sizeEx(30%, 100%);
        background: url("../images/background-white.png") top left no-repeat;
        background-size: 50% auto;
        transform-origin: top;
        transform: rotate(43.5deg);
      }
    }
    .bg-orange {
      @include sizeEx(45.4%, 100%);
      padding-top: 93px;
      margin-top: 0;
      &::before,
      &::after {
        @include sizeEx(4000px,
        50%);
        @include position(absolute,
        auto,
        null,
        100%,
        100%);
      }
      &::before {
        @include position(null,
        0,
        auto,
        auto,
        null);
        height: 75%;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      &::after {
        bottom: 0;
        height: 30%;
        transform: rotate(45deg);
      }
    }
  }
  .bg-image-frame4 {
    @include sizeEx(45%,
    100%);
    padding-top: 0;
  }
  .subhead-frame4 {
    @include position(relative,
    null,
    null,
    null,
    null);
    width: 100%;
    padding-top: 0;
    margin: 0;
    h2 {
      padding: 16px 32px 16px 0;
    }
  }
  .cont-frame4 {
    padding: 130px 0 65px;
    .image-product {
      @include position(relative,
      null,
      56px,
      20px,
      null);
      margin: 0;
      img {
        margin: 0 0 0 auto;
      }
    }
  }
  .title-frame4 {
    padding-left: 53px;
  }
  .list-item-frame4 {
    padding-right: 65px;
  }
}

@media only screen and (min-width: 1501px) and (min-height: 900px) {
  .section-frame4 {
    .title-frame4 {
      padding-left: 255px;
    }
    .list-item-frame4 {
      padding-right: 88px;
    }
    .cont-frame4 {
      top: 12.8%;
      .col-image-product-frame4 {
        margin-top: 24px;
      }
      >.container {
        max-width: 1600px;
      }
    }
  }
  .mda-notice {
    flex-direction: row;
    margin-top: -50px;
    .mda-logo {
      width: 24%;
      padding-right: 10px;
      border-right: solid 2px $black;
      display: flex;
      align-items: center;
    }
    .mda-logo-wrapper {
      position: static;
      transform: none;
      width: 100%;
    }
    .mda-content {
      width: 60%;
      text-align: left;
      padding-left: 10px;
    }
  }
}

@media only screen and (min-width: 1501px) and (max-height: 1000px) {
  .col-image-product-frame4 {
    .image-product,
    .mda-notice {
      @include position(relative, $top: -70px);
    }
  }
}

@media only screen and (max-width: 1920px) and (max-height: 900px) {
  .fruit-frame4 {
    bottom: -20%;
  }
}
@media only screen and (max-width: 1500px) and (max-height: 900px) {
  .fruit-frame4 {
    width: 44%;
    bottom: -17%;
    left: -13%;
  }
  .section-frame4 {
    .rotate-image {
      width: 90%;
    }
    .bg-rotate-image::after {
      right: 35%;
    }
  }
}
@media only screen and (max-width: 1500px) and (min-width: 992px) and (min-height: 1000px) {
  .cont-frame4 {
    .image-product {
      right: 89%;
      bottom: -50%;
      width: 150%;
    }
  }
  .mda-notice {
    @include position($right: 52%, $bottom: -50%);
    .mda-logo-wrapper {
      max-width: 250px;
      margin: 0 auto 20px;
    }
  }
}

@media only screen and (max-width: 1500px) and (min-width: 992px) and (max-height: 1200px) {
  .cont-frame4 {
    .image-product {
      right: 77%;
      bottom: -31%;
      width: 135%;
    }
  }
  .mda-notice {
    @include position($right: 52%, $bottom: -20%);
    margin-top: 0;
    .mda-logo-wrapper {
      max-width: 250px;
      margin: 0 auto 20px;
    }
  }
}
@media only screen and (max-width: 1440px) and (max-height: 900px) {
  .cont-frame4 {
    padding: 75px 0 65px;
    .image-product {
      @include position(relative, null, 56px, 20px, null);
      margin: 0;
      width: 384px;
    }
  }
  .mda-notice {
    margin-top: -30px;
    right: 0;
    bottom: 0;
  }
}
@media only screen and (max-height: 900px) {
  .fruit-frame4 {
    width: 35%;
    .list-item-frame4 {
      padding-right: 89px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .subhead-frame4-title {
    position: relative;
    display: inline-block;
    z-index: 1;
    .number {
      @include sizeEx(65px);
    }
  }
  .mda-notice {
    max-width: 600px;
    margin: 0 auto 20px;
    .mda-logo-wrapper {
      max-width: 200px;
      margin: 0 auto 10px;
    }
  }
  .subhead-frame4.style-subhead {
    h2 {
      padding-left: 60px;
    }
  }
  .list-item-frame4 {
    ul {
      padding-left: 60px;
    }
  }
  .section-frame4 {
    .rotate-image {
      @include position(absolute, 0, $left: 0);
      @include sizeEx(100%);
    }
    .bg-rotate-image {
      @include position(absolute, 0, null, 0, 0);
      @include sizeEx(100%, 55%);
      background: $orange;
      &::before,
      &::after {
        @include sizeEx(50%, 4000px);
        @include position(absolute, 100%, null, null, null);
        content: "";
        display: block;
        background: $orange;
      }
      &::before {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 0;
      }
      &::after {
        right: 0;
        transform: rotate(-45deg);
        transform-origin: 0 0;
      }
    }
  }
  .cont-frame4 {
    padding-bottom: 0;
  }
}
@include media-breakpoint-down(md) {
  .list-item-frame4 {
    ul {
      padding-left: 37px;
    }
  }
  .mda-notice {
    max-width: 300px;
  }
  .subhead-frame4.style-subhead {
    h2 {
      padding-left: 36px;
    }
  }

  .col-image-product-frame4 {
    margin-top: -8px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@include media-breakpoint-down(sm) {
  .subhead-frame4.style-subhead {
    h2 {
      padding-left: 0;
    }
  }
  .list-item-frame4 {
    ul {
      padding-left: 0;
    }
  }
}
