.section-frame2 {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}
.subhead-frame2 {
  width: 100%;
  padding-top: 70px;
  h2 {
    padding: 16px 15px;
    display: inline-block;
    position: relative;
    &::before {
      @include position(absolute, 0, -100%, null, null);
      @include sizeEx(1000%, 100%);
      content: "";
      display: block;
      background: $black;
    }
    span {
      @include position(relative, $index: 1);
    }
  }
  h3 {
    margin-bottom: 18px;
  }
}
.title-frame2 {
  margin: 0 -15px;
  p {
    margin-bottom: 0;
  }
}

.list-item-frame2 {
  max-width: 280px;
  margin: 0 auto;
  .item {
    padding: 20px 0;
    border-bottom: 2px solid $black;
    &:last-child {
      border-bottom: 0;
    }
  }
  .icon {
    position: relative;
    width: 36px;
    padding-right: 36px;
    padding-top: 36px;
    margin: 0 13px;
    img {
      position: absolute;
      left: 50%;
      top: calc(50% + 2px);
      display: block;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  span {
    font-family: $os;
    padding-left: 20px;
    line-height: 1.22;
    letter-spacing: 1.4px;
  }
}
.cont-frame2 {
  @include position(relative, $index: 1);
  .row {
    margin: 0;
  }
}
.subhead-frame2-title {
  text-align: center;
}
@include media-breakpoint-up(md) {
  .list-item-frame2 {
    max-width: 500px;
  }
}
@include media-breakpoint-up(lg) {
  .section-frame2 {
    .bg-rotate-image {
      overflow: hidden;
      &::after {
        content: "";
        @include position(absolute, $right: 41%, $top: -10%, $index: 5);
        @include sizeEx(19%, 100%);
        background: url("../images/background-white.png") top left no-repeat;
        background-size: 100% auto;
        transform-origin: top;
        transform: rotate(43.5deg);
      }
    }
  }
  .subhead-frame2 {
    @include position(absolute, 31%, null, null, -100px, 2);
    padding-top: 0;
    h2 {
      padding: 16px 34px 16px 0;
      &::before {
        @include position(absolute, 0, 10px, null, null);
        @include sizeEx(2000%, 100%);
        content: "";
        display: block;
        background: $black;
      }
    }
  }
  .subhead-frame2-title {
    padding-left: 60px;
    text-align: left;
  }
  .title-frame2 {
    margin: 0;
  }
  .cont-frame2 {
    @include position(absolute,45px, null, null);
    @include sizeEx(100%, 100vh);
    .col-list-frame2 {
      width: 40%;
    }
  }

  .rotate-image {
    @include position(absolute, 46.5px, 26%, null, null);
    @include sizeEx(60%,100%);
    background: $blue;
    transform: rotate(-43.5deg) translateX(50%) translateY(50%);
    .bg-rotate-image {
      @include position(absolute, 0, -100vw, -100vw, 0);
      background-color: inherit;
    }
  }
  .list-item-frame2 {
    max-width: 280px;
  }
  // .bg-blue {
  //   @include sizeEx(20%, 100%);
  //   @include position(absolute, null, 0, 0, null);
  //   content: "";
  //   display: block;
  //   background: $blue;
  // }
}

@include media-breakpoint-up(xl) {
  .subhead-frame2 {
    left: 0;
  }
  .list-item-frame2 {
    margin: 0 31% 0 auto;
  }
}

@media only screen and (min-width: 992px) and (max-height: 639px) {
  .section-frame3 {
    .description-iframe3 {
      margin-right: 0;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .subhead-frame2-title {
    padding-left: 118px;
  }
  .subhead-frame2 {
    h2 {
      &::before {
        right: -110px;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .section-frame2 {
    background: $blue !important;
    .subhead-frame2 {
      position: relative;
      z-index: 6;
    }
    .animation-frame2 {
      position: static;
    }
    .cont-frame2 {
      padding: 50px 0 71px;
    }
    .title-frame2 {
      overflow: hidden;
    }
    &::after {
      content: "";
      @include position(absolute, $right: 0, $top: 0, $index: 5);
      @include sizeEx(50%, 100%);
      background: url("../images/background-white.png") center left no-repeat;
      background-size: cover;
    }
  }
}

@include media-breakpoint-down(md) {
  .section-frame2 {
    .cont-frame2 {
      padding: 22px 0 58px;
    }
  }
}

@media only screen and (max-height: 600px) {
  .cont-frame2 {
    height: 100%;
  }
}

@include media-breakpoint-down(sm) {
  .section-frame2 {
    .title-frame2 {
      h2 {
        width: 100%;
      }
    }
  }
}