.section-frame2 {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}
.subhead-frame2 {
  width: 100%;
  padding-top: 70px;
  h2 {
    padding: 16px 15px;
    display: inline-block;
    position: relative;
    &::before {
      @include position(absolute, 0, 0, null, null);
      @include sizeEx(100%, 100%);
      content: "";
      display: block;
      background: $black;
    }
    span {
      @include position(relative, $index: 1);
    }
  }
  h3 {
    margin-bottom: 18px;
  }
}
.title-frame2 {
  margin: 0 -15px;
}

.list-item-frame2 {
  max-width: 280px;
  margin: 0 auto;
  .item {
    padding: 20px 0;
    border-bottom: 2px solid $black;
    &:last-child {
      border-bottom: 0;
    }
  }
  .icon {
    width: 36px;
    margin: 0 13px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  span {
    font-family: $os;
    padding-left: 20px;
    line-height: 1.22;
    letter-spacing: 1.4px;
  }
}
.cont-frame2 {
  @include position(relative, $index: 1);
  .row {
    margin: 0;
  }
}
@include media-breakpoint-down(lg) {
  .section-frame2 {
    background: $blue !important;
  }
}
@include media-breakpoint-up(lg) {
  .subhead-frame2 {
    @include position(absolute, 20%, null, null, 0, 2);
    padding-top: 0;
    h2 {
      padding: 16px 34px 16px 0;
      &::before {
        @include position(absolute, 0, 0, null, null);
        @include sizeEx(2000%, 100%);
        content: "";
        display: block;
        background: $black;
      }
    }
  }
  .subhead-frame2-title {
    padding-left: 67px;
  }
  .title-frame2 {
    margin: 0;
  }
  .cont-frame2 {
    @include position(absolute,45px, null, null);
    @include sizeEx(100%, 100vh);
    .col-list-frame2 {
      width: 40%;
    }
  }
  .rotate-image {
    @include position(absolute, 46.5px, 26%, null, null);
    @include sizeEx(60%,100%);
    background: $blue;
    transform: rotate(-43.5deg) translateX(50%) translateY(50%);
  }
  .bg-blue {
    @include sizeEx(20%, 100%);
    @include position(absolute, null, 0, 0, null);
    content: "";
    display: block;
    background: $blue;
  }
}
@media only screen and (min-width: 992px) and (max-height: 639px) {
  .section-frame3 {
    .description-iframe3 {
      margin-right: 0;
    }
  }
}

