
.section-frame3 {
  color: $white;
  .title-frame3 {
    margin-bottom: 27px;
  }
  .bg-orange {
    position: relative;
    background: $red;
    margin-top: 70%;
    &::before,
    &::after {
      @include sizeEx(50%, 4000px);
      @include position(absolute, null, null, 100%, null);
      content: "";
      display: block;
      background: $red;
    }
    &::before {
      left: 0;
      transform: rotate(-45deg);
      transform-origin: 100% 100%;
    }
    &::after {
      right: 0;
      transform: rotate(45deg);
      transform-origin: 0% 100%;
    }
  }
}
.bg-image-frame3 {
  @include position(absolute, 0, null,null, 0);
  @include sizeEx(100%,auto);
  padding-top: 70%;
  .bg-image-desktop,
  .bg-image-mobile {
    @include position(absolute, 0, null, null, 0);
    @include sizeEx(100%);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-image-mobile {
    background-position: center top;
  }
  .bg-image-desktop {
    background-position: 50% 50%;
  }
}
.subhead-frame3 {
  @include position(relative, $index: 1);
  &::after {
    content: "";
    @include position(absolute, $right: 0, $top: -150%, $index: 5);
    @include sizeEx(50%, 300%);
    background: url("../images/bg-transparent2.png") left no-repeat;
    background-size: cover;
  }
}

.subhead-frame3-title {
  padding: 50px 15px;
  max-width: 600px;
  margin: 0 auto;
  p {
    margin-bottom: 27px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.description-iframe3 {
  @include position(absolute, null, 100%, 80px, null, 1);
  max-width: 170px;
  width: 100%;
  p {
    font-size: rem(13);
    margin: 0;
    font-style: italic;
  }
  .name {
    font-weight: 700;
    font-style: normal;
  }
}
@include media-breakpoint-up(lg) {
  .subhead-frame3-title {
    max-width: 425px;
    width: 100%;
    padding: 0;
    margin-left: 5%;
    p {
      margin-bottom: 26px;
    }
  }
  .description-iframe3 {
    margin-right: calc(50vh - 170px - 200px);
  }
  .section-frame3 {
    padding-left: 70px;
    height: 100%;
    .bg-orange {
      @include position(absolute, 0, 0, 0, null);
      width: calc(55% + 20px);
      background: $red;
      padding-top: 93px;
      margin-top: 0;
      &::before,
      &::after {
        @include sizeEx(4000px, 50%);
        @include position(absolute, null, 100%, null, null);
      }
      &::before {
        top: 0;
        left: auto;
        bottom: auto;
        transform: rotate(45deg);
      }
      &::after {
        bottom: 0;
        transform: rotate(-45deg);
        transform-origin: 100% 0%;
      }
    }
    .title-frame3 {
      margin-top: 10px;
    }
  }
  .bg-image-frame3 {
    @include sizeEx(100%, 100%);
    padding-top: 0;
  }
  .subhead-frame3 {
    height: 100%;
    padding-left: 70px;
    &::after {
      content: "";
      @include position($right: 0, $top: 0);
      @include sizeEx(50%, 100%);
    }
  }
}

@media screen and (min-width: 1500px) {
  .section-frame3 {
    .subhead-frame3-title {
      max-width: 485px;
      margin: -50px 0 0 62px;
    }
  }
}
