
.section-frame3 {
  color: $white;
  .title-frame3 {
    margin-bottom: 27px;
  }
  .bg-orange {
    position: relative;
    background: $red;
    margin-top: 70%;
    &::before,
    &::after {
      @include sizeEx(50%, 4000px);
      @include position(absolute, null, null, 100%, null);
      content: "";
      display: block;
      background: $red;
    }
    &::before {
      left: 0;
      transform: rotate(-45deg);
      transform-origin: 100% 100%;
    }
    &::after {
      right: 0;
      transform: rotate(45deg);
      transform-origin: 0% 100%;
    }
  }
}
.bg-image-frame3 {
  @include position(absolute, 0, null,null, 0);
  @include sizeEx(100%,auto);
  padding-top: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}
.subhead-frame3 {
  @include position(relative, $index: 1);
}

.subhead-frame3-title {
  padding: 35px 15px 65px;
}
.description-iframe3 {
  @include position(absolute, null, 100%, 80px, null, 1);
  max-width: 170px;
  width: 100%;
  p {
    margin: 0;
    font-style: italic;
  }
  .name {
    font-weight: 700;
    font-style: normal;
  }
}
@include media-breakpoint-up(lg) {
  .subhead-frame3-title {
    max-width: 420px;
    width: 100%;
    padding: 0;
  }
  .section-frame3 {
    padding-left: 70px;
    height: 100%;
    .bg-orange {
      @include position(absolute, 0, 0, 0, null);
      width: 55%;
      background: $red;
      padding-top: 93px;
      margin-top: 0;
      &::before,
      &::after {
        @include sizeEx(4000px, 50%);
        @include position(absolute, null, 100%, null, null);
      }
      &::before {
        top: 0;
        left: auto;
        bottom: auto;
        transform: rotate(45deg);
      }
      &::after {
        bottom: 0;
        transform: rotate(-45deg);
        transform-origin: 100% 0%;
      }
    }
    .title-frame3 {
      margin-top: 10px;
    }
  }
  .bg-image-frame3 {
    @include sizeEx(45%, 100%);
    padding-top: 0;
  }
  .subhead-frame3 {
    height: 100%;
    padding-left: 70px;
  }
}
@include media-custom-up(1500) {
  .description-iframe3 {
    margin-right: 20%;
  }
}
@media only screen and (min-width: 992px) and (max-height: 639px) {
  .section-frame3 {
    .description-iframe3 {
      margin-right: 0;
    }
  }
}
