<section class="module mod-news-feed container-xl lazyload-image">
  <div class="container">
    <div class="row">
      {% for post in news_feed.list_news_feed %}
        {% if loop.index == 1 %}
          <div class="first-col-left col-12 col-lg-6">
            <div class="news-feed-post">
              <a href="{{ post.link }}"></a>
              <div class="news-feed-image">
                <img data-src="{{ post.image }}" alt="{{ post.image }}">
              </div>
              <div class="news-feed-logo">
                <img data-src="{{ post.logo }}" alt="{{ post.logo }}">
              </div>
              <h2>
                {{ post.title }}
              </h2>
              <div class="news-feed-content">
                {{ post.body }}
              </div>
            </div>
            <div class="news-feed-quote">
              <a href="{{ news_feed.quote_link }}"></a>
              {{ news_feed.quote }}
            </div>
          </div>
          <div class="first-col-right col-12 col-lg-6 order-first order-lg-0">
            <div class="twitter-feed" style="background-image: url(images/twitter-feed.jpg);"></div>
          </div>
        {% else %}
          <div class="news-feed-post-col col-12 col-lg-6">
            <div class="news-feed-post">
              <a href="{{ post.link }}"></a>
              <div class="news-feed-logo">
                <img src="" data-src="{{ post.logo }}" alt="{{ post.logo }}">
              </div>
              <h2>
                {{ post.title }}
              </h2>
              <div class="news-feed-content">
                {{ post.body }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>