<section class="module mod-banner lazyload-image">
  <div class="banner-background">
    <div class="banner-bg-desktop d-none d-lg-block" style="background-image: url({{ banner.bg_img_desktop }}); background-position: {{ banner.bg_position_desktop }};"></div>
    <div class="banner-bg-mobile d-lg-none" style="background-image: url({{ banner.bg_img_mobile }}); background-position: {{ banner.bg_position_mobile }};"></div>
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="banner-content">
            <h1 {% if banner.button_text %}class="small-h1"{% endif %}>
              {{ banner.title }}
            </h1>
            {% if banner.button_text %}
              <a class="btn btn-custom btn-custom-primary" href="{{ banner.button_link }}">
                <span>{{ banner.button_text }}</span>
                <span>{{ banner.button_text }}</span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% if banner.icon_green %}
      <div class="green-kite {% if banner.product_image %}d-none d-lg-inline-block{% endif %}"></div>
    {% endif %}
    {% if banner.product_image %}
      <div class="product-box-outer container">
        <div class="product-box-inner">
          <img data-src="{{ banner.product_image }}" src="" alt="Product">
        </div>
      </div>
    {% endif %}
  </div>
</section>
