<section class="module mod-news-feed lazyload-image">
  <div class="container">
    <div class="row">
      {% for post in news_feed.list_news_feed %}
        {% if loop.index == 1 %}
          <div class="first-col-left">
            <div class="news-feed-image">
              <img src="images/ajax-loader.svg" data-src="{{ post.image }}" alt="Featured image">
            </div>
            <div class="news-feed-post">
              <div class="news-feed-logo">
                <img src="images/ajax-loader.svg" data-src="{{ post.logo }}" alt="News logo">
              </div>
              <h2>
                {{ post.title }}
              </h2>
              <div class="news-feed-content">
                {{ post.body }}
              </div>
            </div>
            <div class="news-feed-quote">
              {{ news_feed.quote }}
            </div>
          </div>
          <div class="first-col-right">
            <div class="twitter-feed" style="background-image: url('images/twitter-feed.jpg')"></div>
          </div>
        {% else %}
          <div class="news-feed-post-col">
            <div class="news-feed-post">
              <div class="news-feed-logo">
                <img src="images/ajax-loader.svg" data-src="{{ post.logo }}" alt="News logo">
              </div>
              <h2>
                {{ post.title }}
              </h2>
              <div class="news-feed-content">
                {{ post.body }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>