<section class="module mod-banner lazyload-image">
  <div class="banner-background" style="background-image: url({{ banner.background_image }}); background-position: {{ banner.position_background_image }};">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="banner-content">
            <h1>
              {{ banner.title }}
            </h1>
            {% if banner.button_text %}
              <a class="btn btn-primary" href="{{ banner.button_link }}">
                {{ banner.button_text }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% if banner.icon_green %}
      <div class="green-kite {% if banner.product_image %}d-none d-lg-inline-block{% endif %}"></div>
    {% endif %}
    {% if banner.product_image %}
      <div class="product-box-outer container">
        <div class="product-box-inner">
          <img data-src="{{ banner.product_image }}" src="" alt="Product">
        </div>
      </div>
    {% endif %}
  </div>
</section>
