<div class="module mod-infor-contact">
    <div class="container">
        <div class="wrapper">
            <div class="list-social">
              <h6>Social</h6>
              {% include "modules/global/social.html" %}
            </div>
            {% if infor_contact.email %}
              <div class="email">
                <h6>Email</h6>
                <p><a href="mailto:{{ infor_contact.email }}">{{ infor_contact.email }}</a><p>
              </div>
            {% endif %}
            {% if infor_contact.title %}
              <div class="extra">
                <h6>FAQ</h6>
                <p>Have you read our FAQs yet?</p>
                {% if infor_contact.button.text %}
                    <a class="btn btn-custom-primary" href="{{ infor_contact.button.link }}"><span>Faq</span><span>Faq</span></a>
                {% endif %}
              </div>
            {% endif %}
        </div>
    </div>
</div>