<section class="module mod-faq" data-module="faq">
  <div class="container">
    {% for category in faq_data.categories %}
      <div class="row faq-cat">
        <div class="col-left">
          <h2>
            {{ category.title }}
          </h2>
        </div>
        <div class="col-right">
          {% for item in category.items %}
            <div class="faq-item faq-closed">
              <h4>{{ item.question }}</h4>
              <div class="faq-answer">
                {{ item.answer }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>