<section class="module mod-insta-link {% if title != 'Home' %}container-xl insta-universal{% endif %}">
  <div class="insta-link-wrap">
    <div class="list-insta">
      {% for list in list_instagram %}
      <div class="row row-insta{{loop.index}}">
        {% for col in list.col_instagram %}
        <div class="col-insta col-insta{{loop.index}} col-lg-6">
          <div class="row-col-insta row">
            <div class="col-item col-large">
              {% for item in col.list_item %}
                {% if loop.index == 1 %}
                <div class="item-insta item-insta{{loop.index}}">
                  <div class="box-img-insta" style="background-image: url({{item.image}});">
                    <img src="images/bg-transparent.png" alt="images/bg-transparent.png">
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="col-item col-small">
              <div class="row-item-insta row">
                {% for item in col.list_item %}
                  {% if loop.index > 1 %}
                  <div class="item-insta item-insta{{loop.index}}">
                    <div class="box-img-insta" style="background-image: url({{item.image}});">
                      <img src="images/bg-transparent.png" alt="images/bg-transparent.png">
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="hover-overlay">
        <div class="d-table">
            <div class="d-table-cell align-middle">
              <a href="{{ insta_link.link }}">
                <i class="icomoon icon-instagram" aria-hidden="true"></i>
                <span>{{ insta_link.text }}</span>
              </a>
            </div>
        </div>
    </div>
  </section>
