.scrollmagic-pin-spacer {
  overflow: hidden;
  #frame5 {
    position: relative !important;
  }
}

html:not(.touch) {
  .bg-image-frame3 {
    background-attachment: fixed;
  }
  .section-frame2 {
    background-attachment: fixed;
  }
}

@media only screen and (min-width: 992px) and (min-height: 651px) {
  .section.section-frame1 {
    .container-frame1 {
      bottom: -100%;
    }
    .img-production-frame1 {
      bottom: -100%;
    }
  }
}
