.scrollmagic-pin-spacer {
  overflow: hidden;
  #frame5 {
    position: relative !important;
  }
}

@media only screen and (min-width: 992px) and (min-height: 651px) {
  html:not(.touch) {
    .bg-image-frame3 {
      background-attachment: fixed;
    }
    .section-frame2 {
      background-attachment: fixed;
    }
    .section.section-frame5 {
      .list-insta {
        background-attachment: fixed;
        background-position: 50% 0%;
        background-image: url("../images/frame4.jpg");
        background-size: 100% auto;
        >div {
          opacity: 0;
        }
      }
    }
  }
  .section.section-frame1 {
    .container-frame1 {
      bottom: -100%;
    }
    .img-production-frame1 {
      bottom: -100%;
    }
  }
}