.scrollmagic-pin-spacer {
  overflow: hidden;
  #frame5 {
    position: relative !important;
  }
}
html:not(.touch) {
  .bg-image-frame3 {
    background-attachment: fixed;
  }
  .section-frame2 {
    background-attachment: fixed;
  }
}