$tab-arrow-size: (91.2 / 2) * 1.414px;

.mod-tab-benefits {
  background: $gray-bg;
  padding: 50px 0 40px;
  .container {
    padding: 0;
    >.row {
      align-items: center;
    }
  }
  .col-left,
  .col-right {
    @extend .col-12, .col-lg-6;
    position: relative;
    padding: 0;
  }
  .col-left {
    @extend .d-none, .d-lg-block;
  }
  .is-open-tab {
    h3 {
      &::after {
        @include position(absolute, $left: 50%, $bottom: -20px, $index: -1);
        @include sizeEx(60px);
        content: "";
        background: $black;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }
  h3 {
    @include position(relative, $index: 0);
    text-transform: uppercase;
    width: 100%;
    padding: 18px 0;
    text-align: center;
    margin: 0;
    color: $white;
    cursor: pointer;
  }
  .tab-item {
    margin: 10px 0;
    >h3 {
      @extend .d-lg-none, .d-block;
      background: $black;
    }
  }
  .tab-content {
    display: none;
    background: $white;
    margin: 0 18px 30px;
    padding: 50px 21px 40px;
    letter-spacing: 1.1px;
    line-height: 2;
    h4 {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 45px;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .mod-tab-benefits {
    padding: 95px 0 175px;
    h3.is-open-tab {
      z-index: 1;
      &::after {
        @include position(absolute, $top: 50%, $right:0 !important, $index: -1);
        @include sizeEx($tab-arrow-size);
        content: "";
        transform-origin: center;
        transform: translateY(-49%) translateX(49.5%) rotate(45deg);
      }
    }
    .col-left {
      h3 {
        height: 91px;
        text-align: left;
        margin: 19px 0;
        padding: 33px;
        line-height: 1.2;
        background: transparent;
        display: flex;
        align-items: center;
        font-size: rem(30);
        z-index: 1;
        &:hover {
          &::after {
            @include position(absolute, $top: 50%, $right:0 !important, $index: -1);
            @include sizeEx($tab-arrow-size);
            content: "";
            transform-origin: center;
            transform: translateY(-49%) translateX(49.5%) rotate(45deg);
          }
          &::after,
          &::before {
            background: $black-two;
          }
        }
        &::after {
          @include position(absolute, $top: 50%, $right:50px, $index: -1);
          @include sizeEx($tab-arrow-size);
          content: "";
          background: $black;
          transform-origin: center;
          transform: translateY(-49%) translateX(49.5%) rotate(45deg);
          transition: right .2s;
        }
        &::before {
          @include position(absolute, $top: 0, $right: 0, $index: -1);
          @include sizeEx(4000px, 100%);
          content: "";
          background: $black;
        }
      }
    }
    .col-right {
      &::before {
        @include position(absolute, $top: 0, $left:0);
        @include sizeEx(4000px, 100%);
        content: "";
        background: $white;
      }
    }
    .tab-content {
      position: relative;
      margin: 59px 0;
      padding: 0 0 0 81px;
      background: transparent;
    }
    .tab-content-scroll {
      height: 410px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .mod-tab-benefits {
    .container {
      max-width: map-get($grid-breakpoints, lg);
    }
  }
}
