.mod-shop-header {
  @include position(relative, $index: 0);
  padding: 46px 0;
  text-align: center;
  h1 {
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  p {
    letter-spacing: .4px;
    margin-bottom: 0;
  }
  &::before {
    @include position(absolute, 0, 0, $index: -1);
    @include sizeEx(100%, 65px);
    content: "";
    background: $color-c6;
  }
  .container {
    *:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .mod-shop-header {
    &::before {
      height: 69px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .mod-shop-header {
    padding: 64px 0;
    h1 {
      margin-bottom: 7px;
    }
    &::before {
      height: 97px;
    }
  }
}
