.section-frame1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cont-frame1 {
  max-width: 395px;
  padding: 0 15px;
}
.cont-frame1-primary {
  max-width: 230px;
  margin-left: auto;
}
