.mod-form-contact {
  position: relative;
  background-color: $orange;
  padding: 50px 20px 45px;
  input:-webkit-autofill {
    box-shadow: 0 0 0 100px $orange inset !important;
    -webkit-text-fill-color: $white;
  }
  h2 {
    text-align: center;
    color: $white;
    margin-bottom: 54px;
  }
  .btn-form-wrap {
    width: 100%;
    margin-top: 35px;
    text-align: center;
  }
  .btn {
    display: inline-block;
    padding: 0 45px;
    color: $black;
  }
  .form-group {
    color: $white;
    margin-bottom: 25px;
    label {
      @include position(absolute, $left:0, $top:0, $index: 1);
      display: block;
      letter-spacing: .4px;
      font-size: rem(15);
      transform: translateY(15px);
      cursor: text;
      transition: .25s all;
      &.up {
        cursor: none;
        font-weight: 400;
        font-size: 15px;
        transform: translateY(-21px);
        transition: .25s all;
      }
    }
    &.error {
      .form-control {
        border-bottom: 2px solid $red;
      }
      .messages-error {
        display: none;
      }
    }
  }
  .form-control {
    @include position(relative, $index: 0);
    height: 76px;
    appearance: none;
    border: none;
    border-bottom: solid 2px $white;
    text-transform: uppercase;
    font-size: rem(18);
    font-weight: 700;
    &:focus {
      border-bottom: solid 2px $white;
    }
  }
  textarea.form-control {
    height: 93px;
  }
  .parsley-errors-list{
    position: absolute;
    right: 0;
    bottom: -10px;
    font-size: 12px;
    color: #f15e2d;
    font-style: normal;
    padding: 2px 6px;
    margin-top: 2px;
    list-style-type: none;
    li{
      padding: 2px 6px;
      background: #fff;
      border-radius: 3px;
      box-shadow: 1px 1px 3px #f15e2d;
    }
  }
}

@include media-breakpoint-up(lg) {
  .mod-form-contact {
    padding: 48px 80px 47px;
    .btn-form-wrap {
      text-align: right;
      margin-top: 51px;
    }
    .form-control {
      &:focus {
        border-bottom: solid 4px $white;
      }
    }
    .form-group {
      &.error {
        .form-control {
          &:focus {
            border-bottom: 4px solid $red;
          }
        }
      }
    }
  }
}
