.mod-faq {
  position: relative;
  max-width: 2000px;
  margin: 64px 0 0;
  .col-left,
  .col-right {
    padding: 0;
  }
  .col-right {
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .container {
    overflow-x: hidden;
  }
  h4 {
    font-family: $font-family-base;
    line-height: 1.33;
    font-size: rem(17.7);
    &::after {
      font-weight: 100;
    }
  }
  h2 {
    @include position(relative, $index: 0);
    width: 100%;
    margin: 0;
    padding: 18px 0;
    font-size: rem(26);
    text-transform: uppercase;
    text-align: center;
    color: $white;
    &::before {
      @include position(absolute, $right: 0, $top: 0, $index: -1);
      @include sizeEx(4000px, 100%);
      content: "";
      background: $black;
    }
  }
}
.faq-cat {
  width: 100%;
  margin: 0 !important;
}
.faq-item {
  padding: 0 15px;
  transition: .4s all ease-in-out;
  position: relative;
  &::before {
    @include sizeEx(100%, 2px);
    content: "";
    display: block;
    background: $border-gray;
    transition: .2s all ease-in-out;
    transform: scaleY(0);
  }
  h4 {
    cursor: pointer;
    margin: 0;
    position: relative;
    padding-right: 70px;
    &::after {
      @include position(absolute, $top: 50%, $right: 0);
      @include font($icomoon, 35px, $black);
      transform: translateY(-50%);
      content: "\e931";
    }
  }
}
.faq-content {
  padding: 25px 0;
  position: relative;
  border-bottom: solid 2px $border-gray;
  border-left-color: $orange;
  transition: .4s all ease-in-out;
}
.faq-opened {
  padding: 0;
  margin-top: -2px;
  &::before {
    transform: scaleY(1);
  }
  .faq-content {
    background-color: $menu-gray;
    border-left: solid 5px $orange;
    padding-left: 40px;
    padding-right: 15px;
    border-bottom: 0;
  }
  h4 {
    color: $orange;
    &::after {
      content: "\e930";
    }
  }
}
.faq-answer {
  line-height: 1.87;
  letter-spacing: .4px;
  display: none;
  padding-right: 70px;
  margin-top: 20px;
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .mod-faq {
    margin: 110px auto 30px;
    > .container {
      padding: 0;
    }
    h2 {
      padding: 28.5px 0;
      font-size: rem(30);
      left: -40px;
      &::before {
        right: -55px;
      }
    }
    .container {
      overflow-x: visible;
    }
    .col-right {
      margin-top: 0;
      padding: 0 0 0 105px;
    }
  }
  .faq-cat {
    margin-bottom: 75px !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  .faq-content {
    padding: 30px 20px 25px 0;
  }
  .faq-item {
    padding: 0;
    &:first-child {
      .faq-content {
        padding-top: 0;
      }
    }
  }
  .faq-opened {
    border-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    &::before {
      content: none;
    }
    &:first-child {
      .faq-content {
        padding-top: 30px;
      }
    }
    .faq-content {
      border-bottom: solid 2px $border-gray;
      padding-right: 20px;
    }
    h4 {
      margin-bottom: 20px;
    }
  }
}
@include media-breakpoint-up(xl) {
  .faq-item {
    h4 {
      &:hover {
        color: $orange;
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .mod-faq {
    .container {
      padding: 0;
      margin: auto;
    }
  }
}
