.mod-product-image {
  position: relative;
  text-align: center;
  //padding-bottom: 40px;
  //margin-bottom: 50px;
  .btn {
    padding: 0 20px;
  }
  .btn-wrap {
    @include position(absolute, $left:0, $right:0, $bottom: 10%);
  }
  .image-sm-wrap {
    @extend .d-md-none;
  }
  .image-lg-wrap {
    @extend .d-none;
    @extend .d-md-block;
    text-align: center;
  }
}

@include media-breakpoint-up(lg) {
  .mod-product-image {
    position: relative;
    .btn-wrap {
      bottom: 12%;
    }
    &~.mod-group-quote-cta {
      margin-top: -6%;
    }
  }
}

@media (min-width: 2000px) {
  .mod-product-image {
    &~.mod-group-quote-cta {
      margin-top: -150px;
    }
  }
}
