.mod-shop-product {
  margin: 129px 0 44px;
  >.container {
    position: relative;
  }
  h2 {
    position: relative;
    text-transform: uppercase;
    margin: 0;
    color: $white;
  }
  .btn {
    padding: 0 33px;
  }
}

.shop-product-wrap {
  display: flex;
  flex-direction: column;
}

.shop-product-left,
.shop-product-right {
  width: 100%;
  text-align: center;
  position: relative;
}

.shop-product-cap-overlay {
  @include position(absolute, $bottom: 0, $right:0);
  max-width: 290px;
  transform: translateX(50%) translateY(20%);
}

.shop-product-pa-overlay {
  @extend .d-lg-none;
  @include position(absolute, $bottom: 0, $left:0);
  max-width: 290px;
  transform: translate(-50%, 20%);
}

.shop-product-orange-overlay {
  @extend .d-lg-none;
  @include position(absolute, $top: 0, $right:0);
  transform: translate(20%, -30%);
  max-width: 40%;
}

.shop-product-paorange-overlay {
  @extend .d-none, .d-lg-block;
  @include position(absolute, $bottom: 0, $left:0);
  max-width: 460px;
  transform: translateX(-60%) translateY(3%);
}

.shop-product-left {
  .shop-product-title {
    @include position(absolute, $top: 0, $left:0);
    transform: translateY(-50%);
    &::before {
      @include sizeEx(2000px, 100%);
      @include position(absolute, $right: 0, $top:0);
      content: "";
      background: $black;
    }
  }
  .btn {
    margin-top: 37px;
  }
  h2 {
    padding: 16px 25px 16px 0;
  }
}

.shop-product-title {
  @include position(relative, $index: 1);
  h2 {
    text-align: left;
  }
}

.shop-product-image-wrap {
  @include position(relative, $index: 0);
}

.shop-product-image {
  width: 100%;
}

.shop-product-right {
  margin-top: 100px;
  .shop-product-title {
    @include position(absolute, $top: 0, $left: 40%);
    transform: translateY(-50%);
    &::before {
      @include sizeEx(2000px, 100%);
      @include position(absolute, $left: 0, $top:0);
      content: "";
      background: $black;
    }
  }
  .btn {
    margin-top: 30px;
  }
  h2 {
    padding: 16px 0 16px 25px;
  }
}

@media (max-width: 330px) {
  .shop-product-right {
    .shop-product-title {
      left: 30%;
    }
  }
}

@include media-breakpoint-up(lg) {
  .shop-product-cap-overlay {
    @include position(absolute, $bottom: 0, $right:0, $index: 1);
    max-width: 290px;
    transform: translateX(50%) translateY(0%);
  }
  .shop-product-paorange-overlay {
    max-width: 460px;
    transform: translateX(-60%) translateY(22%);
    z-index: 1;
  }
  .mod-shop-product {
    margin: 189px 0 159px;
  }
  .shop-product-wrap {
    position: relative;
    flex-direction: row;
  }
  .shop-product-image {
    z-index: -1;
  }
  .shop-product-right,
  .shop-product-left {
    width: 50%;
    transition: .3s;
    margin-top: 0;
    z-index: 0;

    * {
      transition: .3s;
    }
    .btn {
      margin-top: 30px;
    }
    &:hover {
      z-index: 50;
      .shop-product-image {
        background-blend-mode: multiply;
        position: relative;
        transform: scale(1.1);
      }
      .btn {
        // margin-top: 50px;
        transform: translateY(60px);
      }
      .shop-product-title {
        //transform: translateY(-80%);
        margin-top: -5%;
      }
      [class*="-overlay"] {
        margin-bottom: -25px;
      }
    }
  }
  .shop-product-right {
    margin-left: 15px;
    &:hover {
      transform: translateX(-2.5%);
      .shop-product-image {
        box-shadow: 9px 2.8px 43.2px 15.6px rgba(93, 93, 93, .49);
      }
    }
    .shop-product-title {
      left: 47%;
      margin-left: -72px;
      h2 {
        padding: 29px 0 29px 72px;
      }
    }
  }
  .shop-product-left {
    margin-right: 15px;
    .shop-product-title {
      h2 {
        padding-left: 36px;
      }
    }
    &:hover {
      transform: translateX(2.5%);
      .shop-product-image {
        box-shadow: 9px 15.6px 43.2px 2.8px rgba(93, 93, 93, .49);
      }
    }
    h2 {
      padding: 29px 72px 29px 0;
    }
  }
}
