.mod-shop-header {
  @include position(relative, $index: 0);
  padding: 50px 0;
  text-align: center;
  h1 {
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  p {
    letter-spacing: .4px;
    margin-bottom: 0;
  }
  &::before {
    @include position(absolute, 0, 0, $index: -1);
    @include sizeEx(100%, 41%);
    content: "";
    background: $color-c6;
  }
}

@include media-breakpoint-up(lg) {
  .mod-shop-header {
    padding: 80px 0;
    h1 {
      margin-bottom: 7px;
    }
    &::before {
      @include sizeEx(100%, 44%);
    }
  }
}