// module 'Mod Insta Link'
.mod-insta-link {
  @include font($os, rem(30), $white, 700);
  line-height: 40px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
  background-color: $white;
  height: 100%;
  p,
  span {
    letter-spacing: 4.8px;
    display: block;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
  .hover-overlay {
    @include position(absolute, $top: 0, $left: 0);
    @include sizeEx(100%, 101%);
    background-color: rgba($black, .7);
    opacity: 1;
  }
  .d-table {
    @include sizeEx(100%);
  }
  .d-table-cell {
    text-align: center;
  }
  .icomoon {
    font-size: rem(35);
  }
  .row-col-insta,
  .row-item-insta {
    margin: 0;
  }
  .col-insta {
    padding: 0;
    .col-item {
      max-width: 50%;
      flex: 50%;
    }
  }
}

.col-small {
  .item-insta {
    max-width: 50%;
    flex: 50%;
  }
}
.box-img-insta {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.insta-link-wrap {
  padding: 6px;
  .row-insta1,
  .row-insta2 {
    margin: 0;
  }
  img {
    width: 100%;
  }
}
.item-insta {
  padding: 4px;
}
.col-insta2 {
  @extend .d-none;
  @extend .d-lg-block;
}
.row-insta1 {
  .col-insta1 {
    .item-insta3 {
      .box-img-insta {
        background-color: $color-c6;
      }
    }
    .item-insta4 {
      .box-img-insta {
        background-color: $color-e5;
      }
    }
  }
  .col-insta2 {
    .item-insta3 {
      .box-img-insta {
        background-color: $color-9d;
      }
    }
    .item-insta4 {
      .box-img-insta {
        background-color: $orange;
      }
    }
  }
}
.row-insta2 {
  .row-col-insta {
    @extend .flex-row-reverse;
  }
  .col-insta1 {
    .item-insta2 {
      .box-img-insta {
        background-color: $red;
      }
    }
    .item-insta5 {
      .box-img-insta {
        background-color: $color-9d;
      }
    }
  }
  .col-insta2 {
    .item-insta5 {
      .box-img-insta {
        background-color: $color-e2;
      }
    }
  }
}
.insta-universal {
  .row-insta2 {
    @extend .d-lg-none;
  }
}

@include media-breakpoint-up(lg) {
  .mod-insta-link {
    line-height: 75px;
    p,
    span {
      font-size: rem(36);
    }
    .icomoon {
      font-size: rem(62);
    }
    .hover-overlay {
      a {
        transition: .25s;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
  .insta-universal {
    .insta-link-wrap {
      padding: 12px;
    }
  }
}


