#fullpage {
  padding-top: 63px;
}
.section {
  position: relative;
  overflow: hidden;
  .section-frame1 {
    h3 {
      color: $black;
    }
  }
  .btn {
    padding: 0 21px;
  }
  .fp-tableCell {
    display: block;
    // position: relative;
  }
}
.fp-section.fp-table,
.fp-slide.fp-table {
  display: block;
}
.section-frame2 {
  h2 {
    font-size: 26px;
  }
}
.style-subhead {
  h1,
  h2 {
    @extend .text-uppercase;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.3;
  }
  h2,
  .h2 {
    @include font(null, 30px, $white, null);
  }
  h3 {
    @include font($font-family-base, null, $white, 400);
    letter-spacing: 1.2px;
    font-size: 16px;
  }
}
#fp-nav {
  top: auto;
  bottom: 67px;
  right: 25px;
  margin-top: 0 !important;
  &::after {
    @include position(absolute, 100%, 0, null, 0);
    @include sizeEx(3px, 52px);
    content: "";
    display: block;
    margin: 15px auto 0;
    background: $color-e5;
  }
  &.blue {
    &::after {
      background: $color-9d;
    }
    a {
      color: $color-9d;
      &.active {
        color: $blue;
        background: $color-9d;
      }
    }
  }
  &.red {
    &::after {
      background: $orange;
    }
    a {
      color: $orange;
      &.active {
        color: $red;
        background: $orange;
      }
    }
  }
  &.orange {
    &::after {
      background: $orange;
    }
    a {
      color: $orange;
      &.active {
        color: $color-ff;
        background: $orange;
      }
    }
  }
  &.gray {
    &::after {
      background: $border-gray;
    }
    a {
      color: $border-gray;
      &.active {
        color: $white;
        background: $border-gray;
      }
    }
  }
  &.green {
    top: 67px;
    bottom: auto;
    &::after {
      background: $white;
      top: auto;
      bottom: 100%;
      margin: 0 auto 15px;
    }
    a {
      color: $white;
      &.active {
        color: $color-c6;
        background: $white;
      }
    }
  }
  ul {
    li {
      @include sizeEx(27px);
      text-align: center;
      margin: 2px 0;
      a {
        @include font($os, 18px, $color-e5, 600);
        line-height: 27px;
        span {
          @include sizeEx(auto !important);
          position: static;
          background: transparent;
          margin: 0 !important;
        }
        &.active {
          color: $color-c6;
          background: $color-e5;
        }
      }
    }
  }
}
.section-frame2,
.section-frame3,
.section-frame4,
.section-frame6 {
  .fp-tableCell {
    &::before {
      @include position(absolute, 0, 0, null, null, 1);
      @include sizeEx(100%);
      background: url("../images/bg-opacity.png") right top no-repeat;
      content: "";
      display: block;
    }
  }
}
@include media-breakpoint-down(lg) {
  .subhead-frame2,
  .subhead-frame4 {
    &.style-subhead {
      h2 {
        font-size: 26px;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .section {
    padding-top: 93px;
    height: 100vh;
  }
  .style-subhead {
    h3 {
      letter-spacing: 1.4px;
      font-size: 18px;
    }
  }
  .section-frame2 {
    h2 {
      font-size: 30px;
    }
  }
}
