.mod-content-editor {
  margin: 40px auto;

  img {
    margin: 30px auto;
  }
}

@include media-breakpoint-up(lg) {
  .mod-content-editor {
    margin: 50px auto;
    img {
      margin: 30px auto 50px;
    }
    p {
      margin-bottom: 30px;
    }
  }
}
