.mod-our-story {
  position: relative;
  max-width: 2000px;
  overflow-x: hidden;
  margin: 60px auto 0;
  h3 {
    font-family: $font-family-base;
    font-weight: 400;
    margin-bottom: 29px;
  }
  p {
    margin-bottom: 40px;
    img {
      display: inline !important;
    }
  }
  .pic-wrap {
    @extend .col-9, .offset-3, .col-lg-10, .offset-lg-2;
    padding: 0;
  }
  .centered-row {
    @extend .row;
    align-items: center;
    margin-top: 125px;
  }
  .solid-bg {
    @include position(absolute, $top: -25%, $right: 35%);
    width: 4000px;
    height: 85%;
    background: $color-c6;
  }
  .col-left,
  .col-right {
    @extend .col-12;
  }
  .col-left {
    @extend .col-lg-5, .text-right;
    margin-bottom: 53px;

    img {
      position: relative;
    }
  }
  .col-right {
    @extend .col-lg-5, .offset-lg-1;
    line-height: 2;
    letter-spacing: 1.1px;
    * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.os-headline-wrap {
  @extend .text-center;
  margin: 0 auto 43px;
  max-width: 360px;
  .line {
    display: inline-block;
    width: 80px;
    border-top: solid 5px $color-c6;
    line-height: 0;
  }
}

.os-headline {
  @include font($os, rem(26), $black-two, 700);
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 1.8px;
  line-height: 1.4;
}

@include media-breakpoint-up(sm) {
  .mod-our-story {
    .centered-row {
      margin-top: 200px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .os-headline {
    font-size: rem(30);
    max-width: 370px;
  }
  .mod-our-story {
    margin: 110px 0 70px;
    .centered-row {
      margin-top: 7.5%;
    }
    .col-left,
    .col-right {
      padding: 0;
    }
    .col-left {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-down(lg) {
  .mod-our-story {
    .col-left {
      padding: 0;
    }
  }
}
