$number-per-row-lg: 5;

.mod-promotion {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  letter-spacing: .4px;
  line-height: 1.22;
  font-family: $os;
  padding: 70px 0 30px;
  margin: 65px 0 50px;
  position: relative;

  &::before {
    @include position(absolute, 0,0,0,0);
    content: "";
    background-color: $black;
    opacity: .83;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  .icon-wrap {
    @include sizeEx(26px);
    margin-bottom: 25px;
  }
  .promo-item {
    text-align: center;
    margin: 20px 0 61px;
    padding: 0 10px;
  }
  p {
    margin-bottom: 0;
    letter-spacing: 2.5px;
  }
}

@include media-breakpoint-up(lg) {
  .mod-promotion {
    > .container {
      padding: 0 45px;
    }
  }
  .promo-item {
    max-width: (100% / $number-per-row-lg);
    flex: 0 0 (100% / $number-per-row-lg);
  }
  .promo-overlay {
    @include position(absolute, $left: 0, $top:0, $bottom: 0);
    @include sizeEx($height:100%, $width: 265px);
    background: url("../images/promotion-overlay.png") left center no-repeat;
    background-size: cover;
    opacity: .05;
  }
}
