// css mod-cta
.banner-background {
  @include background-size(cover);
  position: relative;
  &::before {
    @include position(absolute, $top:0, $left:0);
    @include sizeEx(100%);
    content: "";
    background-color: rgba($black, .6);
  }
  .d-table {
    @include sizeEx(100%, 241px);
    position: relative;
    .d-table-cell {
      vertical-align: middle;
    }
  }
  .btn {
    margin: 31px 0 0 5px;
    padding: 0 33px;
  }
}

.banner-content {
  margin: 91px 0 81px;
  color: $white;
  text-transform: uppercase;
  max-width: 600px;
  h1 {
    letter-spacing: 2.5px;
    line-height: 1.1;
    margin: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}

.green-kite {
  @include sizeEx(36px);
  @include position(absolute, $bottom: -5px, $left: 50%);
  display: inline-block;
  background-color: $color-c6;
  transform-origin: center;
  transform: translateX(-50%) translateY(35%) rotate(45deg);
}

.product-box-inner {
  @include position(absolute, $right: 0, $bottom: 0);
  transform: translate(-4%, 64%);
  max-width: 270px;
  width: auto;
}

.product-box-outer {
  position: relative;
}

@include media-breakpoint-up(lg) {
  .banner-background {
    .d-table {
      height: 335px;
    }
  }
  .banner-content {
    margin: 102px auto 94px 60px;
    .btn {
      margin-top: 40px;
    }
    .small-h1 {
      font-size: rem(50.4);
    }
  }
  .product-box-inner {
    @include position(absolute, $right: 26px, $bottom: 0);
    max-width: 500px;
    width: 44%;
    transform: translateY(33%);
  }
  .green-kite {
    @include sizeEx(57px);
    bottom: -8px;
  }
}
