.mod-faq {
  position: relative;
  max-width: 2000px;
  margin: 64px 0 0;
  .col-left,
  .col-right {
    @extend .col-12;
    padding: 0;
  }
  .col-left {
    @extend .col-lg-4;
  }
  .col-right {
    @extend .col-lg-8;
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .container {
    overflow-x: hidden;
  }
  h4 {
    font-family: $font-family-base;
    line-height: 1.33;
    letter-spacing: 1.3px;
    font-size: rem(17.7);
    &::after {
      font-weight: 100;
    }
  }
  h2 {
    @include position(relative, $index: 0);
    width: 100%;
    margin: 0;
    padding: 18px 0;
    font-size: rem(26);
    text-transform: uppercase;
    text-align: center;
    color: $white;
    &::before {
      @include position(absolute, $right: 0, $top: 0, $index: -1);
      @include sizeEx(4000px, 100%);
      content: "";
      background: $black;
    }
  }
}

.faq-cat {
  width: 100%;
  margin: 0 !important;
}

.faq-item {
  padding: 0 16px;
  position: relative;
  transition: .25s, margin-bottom .1s, padding-bottom .1s, padding-right 0s;
  h4 {
    transition: padding 0s, color .25s, margin 0s;
    cursor: pointer;
    &::after {
      font-family: $icomoon;
      font-size: 35px;
      color: $black !important;
    }
  }
}
.faq-closed {
  border-top: none;
  margin-top: 0;
  h4 {
    border-bottom: solid 2px $border-gray;
    padding: 20px 70px 27px 0;
    margin: 0;
    &::after {
      @include position(absolute, $right: 0, $top: 50%);
      transform: translateY(-52%) translateX(-25%);
      content: "\e931";
    }
    &:hover {
      color: $orange;
    }
  }
}
.faq-opened {
  padding: 0 15px 36px 49px;
  background-color: $menu-gray;
  // border-top: solid 2px $border-gray;
  border-left: solid 5px $orange;
  h4 {
    position: relative;
    border-bottom: solid 2px transparent;
    color: $orange;
    padding-top: 34px;
    &::after {
      @include position(absolute, $right: 0, $top: 45px);
      transform: translateY(-50%);
      content: "\e930";
    }
  }
  h4,
  .faq-answer {
    padding-right: 50px;
  }
}
.faq-answer {
  line-height: 1.87;
  letter-spacing: .4px;
  display: none;
}

@include media-breakpoint-up(lg) {
  .mod-faq {
    margin: 110px auto 30px;
    > .container {
      padding: 0;
    }
    h2 {
      padding: 28.5px 0;
      font-size: rem(30);
      letter-spacing: 1.8px;
      left: -40px;
      &::before {
        right: -55px;
      }
    }
    .container {
      overflow-x: visible;
    }
    .col-right {
      margin-top: 0;
      padding: 0 0 0 105px;
    }
  }
  .faq-cat {
    margin-bottom: 75px !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  .faq-closed {
    padding: 0;
    border-top: solid 2px $border-gray;
    margin-bottom: -2px;
    &:first-child {
      border-top: 0;
      h4 {
        padding: 0 70px 25px 4px;
        &::after {
          @include position(absolute, $right: 0, $top: 25%);
          transform: translateY(-46%) translateX(-45%);
        }
      }
    }
    h4 {
      padding: 28px 70px 29px 4px;
      &::after {
        right: 7px;
      }
    }
  }
  .faq-opened {
    margin-top: 2px;
    padding-left: 36px;
    padding-bottom: 29px;
    h4 {
      padding-left: 3px;
      padding-top: 35px;
      &::after {
        top: 42px;
        right: 0;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .mod-faq {
    .container {
      padding: 0;
      margin: auto;
    }
  }
}
