.mod-infor-contact {
  position: relative;
  margin-top: 42px;
  .wrapper {
    border-left: solid 2px rgba($border-gray, .3);
  }
  a {
    position: relative;
    &:hover {
      .icomoon {
        color: $orange;
      }
    }
  }
  .icomoon {
    font-size: 32px;
    margin-right: 10px;
  }
  p {
    color: $border-gray;
  }
  .email {
    a {
      @include font($os, rem(30), null, 700);
      text-transform: uppercase;
      line-height: 20px;
      letter-spacing: 1.6px;
      color: $black;
      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }
  }
  ul {
    margin-bottom: 0;
  }
  .list-social,
  .extra,
  .email {
    @include position(relative, $index: 1);
    margin-bottom: 45px;
    padding-left: 30px;
    h6 {
      @include font($font-family-base, rem(15), $border-gray, 400);
      letter-spacing: .4px;
    }
    &:hover {
      &::before {
        border-left: 5px solid $orange;
      }
    }
    &::before {
      @include position(absolute, 0, null, null, -3px, $index: 0);
      @include sizeEx(100%);
      content: "";
      transition: .25s;
    }
  }
  .list-social {
    h6 {
      margin-bottom: 25px;
    }
    .social {
      padding-left: 0;
    }
  }
  .extra {
    margin-bottom: 0;
    p {
      @include font(null, rem(17.7),$black, 700);
      margin-top: -5px;
      line-height: 1.05;
      letter-spacing: 1.3px;
    }
    .btn-custom {
      margin-top: 10px;
      padding: 0 55px;
      width: 139px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .mod-infor-contact {
    margin-top: 15px;
    .list-social,
    .email,
    .extra {
      position: relative;
      padding-left: 43px;
      margin-bottom: 46px;
      h6 {
        margin-bottom: 17px;
      }
    }
    .list-social {
      position: relative;
      h6 {
        margin-bottom: 27px;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .mod-infor-contact {
    .container {
      padding: 0;
    }
  }
}
