.mod-shop-product {
  padding: 160px 0 30px;
  >.container {
    position: relative;
  }
  h2 {
    font-size: rem(26);
    position: relative;
    text-transform: uppercase;
    margin: 0;
    color: $white;
  }
  .btn-custom {
    padding: 0 30px;
  }
}
.shop-product-left,
.shop-product-right {
  width: 100%;
  position: relative;
  > a {
    @include position(absolute, $top: 0, $left: 0, $index:5);
    @include sizeEx(100%);
  }
}

.shop-product-cap-overlay {
  @include position(absolute, $bottom: 0, $right:0);
  max-width: 290px;
  transform: translateX(50%) translateY(35%) scale(.65) translateZ(0);
}

.shop-product-pa-overlay {
  @include position(absolute, $bottom: 0, $left:0);
  max-width: 290px;
  transform: translate(-55%, 36.5%) scale(.85) translateZ(0);
}

.shop-product-paorange-overlay {
  @include position(absolute, $bottom: 0, $left:0);
  max-width: 460px;
  transform: translateX(-60%) translateY(3%) translateZ(0);
}

.shop-product-left {
  .shop-product-title {
    @include position(absolute, $top: 0, $left:0);
    transform: translateY(-50%) translateZ(0);
    &::before {
      @include sizeEx(2000px, 100%);
      @include position(absolute, $right: 0, $top:0);
      content: "";
      background: $black;
    }
  }
  .btn-custom {
    margin-top: 37px;
  }
  h2 {
    padding: 17px 25px 18px 0;
  }
}

.shop-product-title {
  @include position(relative, $index: 1);
  h2 {
    text-align: left;
  }
}

.shop-product-image-wrap {
  @include position(relative, $index: 0);
  a {
    display: block;
  }
}

.shop-product-image {
  width: 100%;
}

.shop-product-right {
  margin-top: 85px;
  .shop-product-title {
    @include position(absolute, $top: 0, $left: 53%);
    transform: translateY(-50%) translateZ(0);
    &::before {
      @include sizeEx(2000px, 100%);
      @include position(absolute, $left: 0, $top:0);
      content: "";
      background: $black;
    }
  }
  .btn-custom {
    margin-top: 30px;
  }
  h2 {
    padding: 17px 0 18px 25px;
  }
}

@media (max-width: 370px) {
  .mod-shop-product {
    h2 {
      font-size: rem(20);
    }
  }
  .shop-product-right {
    .shop-product-title {
      left: 40%;
    }
  }
}

@include media-breakpoint-up(lg) {
  .shop-product-cap-overlay {
    @include position(absolute, $bottom: 0, $right:0, $index: 1);
    max-width: 210px;
    transform: translateX(40%) translateY(70px) scale(1.1) translateZ(0);
  }
  .shop-product-paorange-overlay {
    max-width: 460px;
    transform: translateX(-60%) translateY(35%) translateZ(0);
    z-index: 1;
  }
  .mod-shop-product {
    padding: 195px 0 55px;
    > .container {
      padding: 0;
    }
  }
  .shop-product-wrap {
    position: relative;
  }
  .shop-product-right,
  .shop-product-left {
    width: 50%;
    transition: .3s;
    margin-top: 0;
    z-index: 0;
    padding-bottom: 50px;
    h2 {
      font-size: rem(30);
    }
    * {
      transition: .3s;
    }
    .btn-custom {
      margin-top: 30px;
      transition: .3s;
    }
    &:hover {
      z-index: 50;
      .shop-product-image {
        background-blend-mode: multiply;
        position: relative;
        transform: scale(1.1);
      }
      .btn-custom {
        transform: translateY(32px);
        color: map-get(map-get($hover-colors, primary), hover-color);
        box-shadow: none !important;
        &::before {
          transform: translate3d(0, 0, 0);
        }
        span:nth-child(1) {
          width: .0001%;
        }
        span:nth-child(2) {
          width: 100%;
        }
      }
      .shop-product-title {
        margin-top: -5%;
      }
      [class*="-overlay"] {
        margin-bottom: -25px;
      }
    }
  }
  .shop-product-right {
    margin-left: 15px;
    .btn-custom {
      padding: 0 19px;
    }
    &:hover {
      transform: translateX(-2.5%) translateZ(0);
      .shop-product-image {
        box-shadow: -9px 15.6px 43.2px 2.8px rgba(93, 93, 93, .49);
      }
      > a {
        @include sizeEx(130%, 110%);
        @include position($left: -5%, $top: -5%);
      }
    }
    > a {
      @include position(absolute, $top: 0, $left: 0, $right: auto, $index: 5);
      @include sizeEx(105%, 100%);
    }
    .shop-product-title {
      left: 47%;
      margin-left: -72px;
      h2 {
        padding: 28px 0 30px 72px;
      }
    }
  }
  .shop-product-left {
    margin-right: 15px;
    .shop-product-title {
      h2 {
        padding-left: 36px;
      }
    }
    &:hover {
      transform: translateX(2.5%) translateZ(0);
      .shop-product-image {
        box-shadow: 9px 15.6px 43.2px 2.8px rgba(93, 93, 93, .49);
      }
      > a {
        @include sizeEx(130%, 110%);
        @include position($right: -5%, $top: -5%);
      }
    }
    > a {
      @include position(absolute, $top: 0, $right: 0, $left: auto, $index: 5);
      @include sizeEx(105%, 100%);
    }
    h2 {
      padding: 28px 72px 30px 0;
    }
  }
}

@include media-breakpoint-up(xl) {
  .shop-product-cap-overlay {
    max-width: 240px;
    transform: translateX(38%) translateY(60px) scale(1.2) translateZ(0);
  }
}

@media (min-width: 1500px) {
  .shop-product-cap-overlay {
    transform: translateX(43%) translateY(60px) scale(1.2) translateZ(0);
  }
}

@media (min-width: 1500px) and (max-width: 1600px) {
  .shop-product-cap-overlay {
    transform: translateX(15%) translateY(60px) scale(1.2) translateZ(0);
  }
}
