.mod-featured-news-post {
  color: $white;
  > .container {
    position: relative;
    padding: 56px 26px 49px;
    background-color: $orange;
    text-align: center;
    a {
      &:not(.btn) {
        @include position(static, $top:0, $left:0 , $index: 1);
        @include sizeEx(100%);
      }
    }
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: rem(26);
    a{
      &:hover, &:focus{
        color: $white;
      }
    }
  }
  .btn-custom {
    margin-top: 12px;
    padding: 0 30px;
  }
}
.featured-news-logo {
  width: 133px;
  display: inline-block;
  margin-bottom: 20px;
}
@include media-breakpoint-up(lg) {
  .mod-featured-news-post {
    h2 {
      font-size: rem(30);
    }
    > .container {
      padding: 60px 0 65px;
      &:hover {
        .btn-custom {
          box-shadow: none !important;
          &::before {
            transform: translate3d(0, 0, 0);
          }
          span:nth-child(1) {
            width: .0001%;
          }
          span:nth-child(2) {
            width: 100%;
          }
        }
      }
    }
  }
}
