.mod-group-quote-cta {
  position: relative;
  .bg-green-quote {
    @include position(absolute, $bottom: 0, $right: -50%);
    display: block;
    overflow: hidden;
    mix-blend-mode: multiply;
    z-index: 1;
    background: $color-e5;
    transform: skewX(-45deg);
    padding: 0 65% 100% 0;
    &::after {
      @include position(absolute, $bottom: 0, $right: 0, $index: 1);
      @include sizeEx(100%, 70%);
      background: url("../images/bg-transparent2.png") right top no-repeat;
      content: "";
      display: block;
      transform: skewX(45deg);
      transform-origin: 0 100%;
    }
  }
  &.not-quote {
    overflow: hidden;
    .bg-green {
      display: none;
    }
    .mod-cta {
      &::before,
      &::after {
        content: "";
      }
    }
  }
  .mod-cta {
    @include position(relative, $index: 2);
  }
}
@include media-breakpoint-up(lg) {
  .mod-group-quote-cta {
    overflow: visible;
    .bg-green-quote,
    .bg-green-cta {
      padding-right: 62%;
    }
  }
}

@media (min-width: 1900px) {
  .mod-group-quote-cta {
    .bg-green-cta,
    .bg-green-quote {
      padding-right: 58%;
    }
  }
}