#email_cta {
  text-transform: uppercase;
}

.bg-green-cta {
  @include position(absolute, $bottom: 0, $right: -50%);
  display: block;
  overflow: hidden;
  z-index: 1;
  background: $color-e5;
  transform: skewX(-45deg);
  padding: 0 65% 100% 0;
  &::after {
    @include position(absolute, $bottom: 0, $right: 0, $index: 1);
    @include sizeEx(100%, 70%);
    background: url("../images/bg-transparent2.png") right top no-repeat;
    content: "";
    display: block;
    transform: skewX(45deg);
    transform-origin: 0 100%;
  }
}

.mod-cta {
  position: relative;
  background: $color-c6;
  height: 300px;
  overflow: hidden;
  padding: 14px 0 0;
  &::before,
  &::after {
    display: block;
  }
  &::before {
    @include position(absolute, $top: 0, $left: 40%);
    @include sizeEx(100%);
    transform: skewX(-45deg);
    background: $color-e5;
  }
  &::after {
    @include position(absolute, $bottom: 0, $right: 0, $index: 1);
    @include sizeEx(110px, 100%);
    background: url("../images/bg-transparent2.png") center left no-repeat;
  }
  .container {
    @include sizeEx(100%);
    @include position(relative, $index: 1);
  }
  h2 {
    @extend .style-h2;
    color: $black;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  p {
    color: $black;
    letter-spacing: 1.2px;
    font-size: rem(16);
    line-height: 1.3;
  }
  .form-control {
    background-color: rgba($white, .85);
    height: 54px;
    color: $black;
    padding-right: 135px;
    border: 1px solid transparent;
    &:focus {
      border-bottom: 3px solid $color-c6;
      padding-bottom: 3px;
    }
  }
  .form-group {
    &.error {
      .form-control {
        border: 1px solid $red;
      }
      .messages-error {
        display: none;
      }
    }
  }
  .btn {
    @include position(absolute, 10px, 10px, null, null);
    padding: 0 20px;
  }
}

.form-cta {
  position: relative;
  display: block;
  max-width: 380px;
  width: 100%;
  margin: 20px auto 0;
}
@include media-breakpoint-up(lg) {
  .form-cta {
    margin-top: 32px;
  }
  .mod-cta {
    padding: 38px 0 14px;
    &::before {
      left: 50%;
    }
    &::after {
      width: 220px;
    }
    p {
      font-size: rem(18);
      margin-bottom: 0;
      letter-spacing: 1.4px;
    }
    h2 {
      letter-spacing: 1.2px;
      margin-bottom: 18px;
    }
  }
}

@media (min-width: 1500px) {
  .form-cta {
    max-width: 510px;
  }
}
