.mod-our-story {
  position: relative;
  overflow-x: hidden;
  margin: 60px auto 22px;
  h3 {
    font-family: $font-family-base;
    font-weight: 400;
    margin-bottom: 22px;
    font-size: rem(18);
  }
  p {
    margin-bottom: 30px;
    line-height: 1.9;
    img {
      display: inline !important;
    }
  }
  .pic-wrap {
    padding: 0;
  }
  .centered-row {
    align-items: center;
    margin-top: 125px;
  }
  .solid-bg {
    @include position(absolute, $top: -100px, $right: 35%);
    width: 4000px;
    height: 85%;
    background: $color-c6;
  }
  .col-left {
    position: relative;
    flex: 0 0 90%;
    max-width: 90%;
    margin-left: 10%;
    margin-bottom: 53px;
  }
  .col-right {
    line-height: 2;
    letter-spacing: 1.1px;
    * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .img-content {
    @include sizeEx(100%);
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-bottom: 135%;
  }
}

.os-headline-wrap {
  margin: 0 auto 43px;
  max-width: 600px;
  .line {
    display: block;
    width: 80px;
    border-top: solid 5px $color-c6;
    line-height: 0;
    margin: 20px auto;
  }
}

.os-headline {
  @include font($os, rem(26), $black-two, 700);
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 1.8px;
  line-height: 1.4;
}

@include media-breakpoint-up(sm) {
  .mod-our-story {
    .centered-row {
      margin-top: 125px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .os-headline {
    font-size: rem(30);
    max-width: 370px;
  }
  .mod-our-story {
    margin: 110px auto 70px;
    .centered-row {
      margin-top: 5.5%;
    }
    .img-content {
      padding-bottom: 134.5%;
    }
    .col-left,
    .col-right {
      padding: 0;
    }
    .col-left {
      flex: 0 0 40%;
      max-width: 40%;
      margin-right: 10%;
      margin-left: 0;
      margin-bottom: 0;
    }
    .col-right {
      padding-top: 10px;
      padding-right: 80px;
    }
    .solid-bg {
      @include position($top: -100px, $right: 20%);
    }
  }
}

@include media-breakpoint-up(xl) {
  .mod-our-story {
    .col-left {
      flex: 0 0 41%;
      max-width: 41%;
      margin-right: 9%;
    }
    .img-content {
      padding-bottom: 140%;
    }
    .solid-bg {
      @include position($top: -22.5%, $right: 33.5%);
      height: 76%;
    }
  }
}

@include media-breakpoint-down(lg) {
  .mod-our-story {
    .col-left {
      padding: 0;
    }
  }
}

@media (min-width: 1500px) {
  .mod-our-story {
    .col-left {
      flex: 0 0 41%;
      max-width: 41%;
      margin-right: 9%;
    }
    .img-content {
      padding-bottom: 140%;
    }
    .solid-bg {
      @include position($top: -19%, $right: 33.5%);
      height: 76%;
    }
  }
}
