
.section-frame3 {
  .bg-orange {
    @include position(absolute, 0, 0, 0, null);
    width: 60%;
    background: $red;
    &::before,
    &::after {
      @include sizeEx(4000px, 50%);
      @include position(absolute, null, 100%, null, null);
      content: "";
      display: block;
      background: $red;

    }
    &::before {
      top: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
    &::after {
      bottom: 0;
      transform: rotate(-45deg);
      transform-origin: 100% 0%;
    }
  }
}
.bg-image-frame3 {
  @include position(absolute, 0, null,null, 0);
  @include sizeEx(40%, 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}
