.mod-product-image {
  position: relative;
  text-align: center;
  .btn {
    padding: 0 40px;
  }
  .btn-wrap {
    @include position(absolute, $left:0, $right:0, $bottom: 80px);
  }
  .image-sm-wrap {
    @extend .d-md-none;
    img {
      width: 100%;
    }
  }
  .image-lg-wrap {
    @extend .d-none;
    @extend .d-md-block;
    text-align: center;
  }
}

@include media-breakpoint-up(sm) {
  .mod-product-image {
    .btn-wrap {
      bottom: 120px;
    }
  }
}

@include media-breakpoint-up(md) {
  .mod-product-image {
    .btn-wrap {
      bottom: 40px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .mod-product-image {
    .btn-wrap {
      bottom: 80px;
    }
  }
}
