// css mod-cta
.banner-background {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;

  &::before {
    @include position(absolute, $top:0, $left:0);
    content: '';
    background-color: rgba($black, 0.6);
    @include sizeEx(100%,100%);
  }

  .d-table {
    position: relative;
    @include sizeEx(100%, 343px);


    .d-table-cell {
      text-align: left;
      padding: 64px 0;
    }
  }

  .btn {
    margin-left: 5px;
  }
}

.green-kite {
  position: absolute;
  display: inline-block;
  @include sizeEx(55px, 55px);
  background-color: $color-c6;
  transform: rotate(45deg) translateY(50%);
  bottom:-8px;
}

.banner-content {
  color: $white;
  text-transform: uppercase;
  max-width: 556px;
}

.product-box-inner {
  @include position(absolute, $right: 0, $bottom: 0);
  transform: translateY(60%);
  max-width: 223px;
  width: auto;
}

.product-box-outer {
  position: relative;
}

@include media-breakpoint-up(lg) {
  .product-box-inner {
    @include position(absolute, $right: 0, $bottom: 0);
    max-width: 410px;
    width: 40%;
    transform: translateY(30%);
  }
}