.mod-cta {
  background: $color-c6;
  height: 300px;
  overflow: hidden;
  // &::before {
  //   @include position(absolute, $top: 0, $left: 50%);
  //   @include sizeEx(100%);
  //   transform: skewX(-45deg);
  //   background: $color-e5;
  //   content: "";
  //   display: block;
  // }
  .container {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    @include sizeEx(100%);
    @include position(relative, $index: 1);
  }
  h2 {
    @extend .style-h2;
    text-transform: uppercase;
  }
  p {
    letter-spacing: 1.4px;
  }
  .form-control {
    background-color: $white;
    height: 54px;
    color: $black;
    padding-right: 120px;
  }
  .btn {
    @include position(absolute, 10px, 10px, null, null);
    padding: 0 20px;
  }
}
.cta-content {
  @extend .text-center;
}
.form-cta {
  position: relative;
  display: block;
  max-width: 380px;
  width: 100%;
  margin: 20px auto 0;
}
@include media-breakpoint-up(lg) {
  .form-cta {
    margin-top: 30px;
  }
}
