// module 'Mod Insta Link'
.mod-insta-link {
  @include font($os, rem(30), $white, 700);
  line-height: 40px;
  letter-spacing: .7px;
  text-transform: uppercase;
  position: relative;
  a {
    @include position(absolute, 0, 0, 0, 0, 1);
  }
  .hover-overlay {
    @include position(absolute, $top: 0, $left: 0);
    @include sizeEx(100%);
    background-color: rgba($black, .7);
    opacity: 1;
  }
  .d-table {
    @include sizeEx(100%);
  }
  .d-table-cell {
    text-align: center;
  }
  .icomoon {
    font-size: rem(35);
  }
}
.col-insta {
  @extend .col-lg-6;
  padding: 0;
  .col-item {
    max-width: 50%;
    flex: 50%;
  }
}
.col-small {
  .item-insta {
    max-width: 50%;
    flex: 50%;
  }
}
.box-img-insta {
  @include background-size(cover);
}
.row-col-insta,
.row-item-insta {
  @extend .row;
  margin: 0;
}
.insta-link-wrap {
  padding: 6px;
  .row-insta1,
  .row-insta2 {
    margin: 0;
  }
  img {
    width: 100%;
  }
}
.item-insta {
  padding: 4px;
}
.col-insta2 {
  @extend .d-none;
  @extend .d-lg-block;
}
.row-insta1 {
  .col-insta1 {
    .item-insta3 {
      .box-img-insta {
        background: $color-c6;
      }
    }
  }
  .col-insta2 {
    .item-insta3 {
      .box-img-insta {
        background: $color-9d;
      }
    }
    .item-insta4 {
      .box-img-insta {
        background: $orange;
      }
    }
  }
}
.row-insta2 {
  .row-col-insta {
    @extend .flex-row-reverse;
  }
  .col-insta1 {
    .item-insta2 {
      .box-img-insta {
        background: $red;
      }
    }
    .item-insta5 {
      .box-img-insta {
        background: $color-9d;
      }
    }
  }
  .col-insta2 {
    .item-insta5 {
      .box-img-insta {
        background: $color-e2;
      }
    }
  }
}
.insta-universal {
  .row-insta2 {
    @extend .d-lg-none;
  }
}

@include media-breakpoint-up(lg) {
  .mod-insta-link {
    line-height: 75px;
    p {
      font-size: rem(36);
    }
    .icomoon {
      font-size: rem(62);
    }
    .hover-overlay {
      transition: .25s;
      opacity: 0;
    }
    &:hover {
      .hover-overlay {
        opacity: 1;
      }
    }
  }
  .insta-universal {
    .insta-link-wrap {
      padding: 12px;
    }
  }
}


