.mod-content-benefits {
  position: relative;
  margin: 0 auto 60px;
  padding-top: 175px;
  h3 {
    font-family: $font-family-base;
    font-weight: 400;
    margin-bottom: 29px;
    font-size: rem(18);
  }
  p {
    margin-bottom: 30px;
  }
  .solid-bg {
    @include position(absolute, $top: -25%, $left: 35%, $index: 0);
    @include sizeEx(4000px, 76%);
    background: $color-c6;
  }
  .col-left,
  .col-right {
    @extend .col-12;
  }
  .col-left {
    @extend .col-lg-6, .order-lg-1;
    line-height: 2;
    letter-spacing: 1.1px;
    *:last-child {
      margin-bottom: 0;
    }
  }
  .col-right {
    @extend .col-lg-5, .offset-lg-1, .order-lg-2;
    margin-bottom: 53px;

    img {
      position: relative;
    }
  }
}

.decor-bar {
  @extend .d-none, .d-lg-flex;
  @include position(absolute, $right: 180%, $bottom: 100%);
  @include sizeEx(4000px, 177px);
  justify-content: flex-end;
  margin-top: 0;
  .img-wrap {
    @include position(absolute, $bottom: -10px, $right: -65px);
    width: 295px;
  }
  &::before {
    @include position(absolute, $bottom: 0, $left:0, $right: 0);
    content: "";
    height: 177px;
    background-color: $red;
  }
}

@include media-breakpoint-down(lg) {
  .mod-content-benefits {
    .col-right {
      padding: 0 28% 0 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .mod-content-benefits {
    margin-bottom: 120px;
    padding-top: 80px;
    > .container {
      padding: 0 60px 0 90px;
    }
    .col-left,
    .col-right {
      padding: 0;
    }
    .col-left {
      padding-top: 95px;
    }
    .col-right {
      margin-bottom: 0;
    }
    .solid-bg {
      transform: translate(6px, -17px);
    }
  }
  .decor-bar {
    transform: translate(-30px, -10px);
  }
}

@media (min-width: 1500px) {
  .mod-content-benefits {
    margin-top: 30px;
  }
}

@media (min-width: 1800px) {
  .mod-content-benefits {
    padding-top: 51px;
    .decor-bar {
      right: 168%;
    }
    .solid-bg {
      @include position(absolute, $left: 24%, $top: -19%);
      height: 57%;
    }
    > .container {
      padding: 0 40px 0 120px;
    }
    .col-left {
      flex: 0 0 47.5%;
      max-width: 47.5%;
    }
    .col-right {
      flex: 0 0 42.5%;
      max-width: 42.5%;
      margin-left: 10%;
    }
  }
}
