
.section {
  height: 100vh;
  position: relative;
  padding-top: 63px;
  h1,
  h2 {
    @extend .text-uppercase;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.3;
  }
  h2,
  .h2 {
    @include font(null, 30px, $white);
  }
  h3 {
    @include font($font-family-base, null, $white, 400);
    letter-spacing: 1.2px;
    font-size: 16px;
  }
  .section-frame1 {
    h3 {
      color: $black;
    }
  }
  .btn {
    padding: 0 21px;
  }
}
.section-frame2 {
  h2 {
    font-size: 26px;
  }
}
@include media-breakpoint-up(lg) {
  .section {
    padding-top: 93px;
    h3 {
      letter-spacing: 1.4px;
    }
  }
  .section-frame2 {
    h2 {
      font-size: 30px;
    }
  }
}
