.mod-content-benefits {
  position: relative;
  margin: 0 auto 60px;
  padding-top: 175px;
  h3 {
    font-family: $font-family-base;
    font-weight: 400;
    margin-bottom: 29px;
    font-size: rem(18);
  }
  p {
    margin-bottom: 30px;
  }
  .solid-bg {
    @include position(absolute, $top: -25%, $left: 35%, $index: 0);
    @include sizeEx(4000px, 76%);
    background: $color-c6;
  }
  .col-left,
  .col-right {
    @extend .col-12;
  }
  .col-left {
    @extend .col-lg-6, .order-lg-1;
    line-height: 2;
    letter-spacing: 1.1px;
    *:last-child {
      margin-bottom: 0;
    }
  }
  .col-right {
    @extend .col-lg-5, .offset-lg-1, .order-lg-2;
    margin-bottom: 53px;
  }
  .img-content {
    @include sizeEx(100%);
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-bottom: 138%;
  }
}

.decor-bar {
  @extend .d-none, .d-lg-flex;
  @include position(absolute, $right: 180%, $bottom: 100%);
  @include sizeEx(4000px, 177px);
  justify-content: flex-end;
  margin-top: 0;
  .img-wrap {
    @include position(absolute, $bottom: -10px, $right: -65px);
    width: 295px;
  }
  &::before {
    @include position(absolute, $bottom: 0, $left:0, $right: 0);
    content: "";
    height: 177px;
    background-color: $red;
  }
}

@include media-breakpoint-down(lg) {
  .mod-content-benefits {
    .col-right {
      padding: 0 28% 0 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .mod-content-benefits {
    margin-bottom: 120px;
    margin-top: -150px;
    padding-top: 230px;
    .img-content {
      padding-bottom: 139.5%;
    }
    .col-left,
    .col-right {
      padding: 0;
    }
    .col-left {
      padding-top: 95px;
      padding-left: 82px;
    }
    .col-right {
      margin-bottom: 0;
      padding-right: 47px;

      max-width: 40%;
      flex: 0 0 40%;
      margin-left: 10%;
    }
    .solid-bg {
      @include position($left: 31%, $top: -28.5%);
    }
  }
  .decor-bar {
    @include position($right: 184.5%, $bottom: 101%);
  }
}

@media (min-width: 1500px) {
  .mod-content-benefits {
    margin-top: -150px;
    padding-top: 231px;
    .img-content {
      padding-bottom: 100%;
    }
    .decor-bar {
      @include position($right: 168%, $bottom: 102%);
    }
    .solid-bg {
      @include position($left: 24%, $top: -26%);
      height: 76%;
    }
    .col-left {
      padding-top: 117px;
      padding-left: 106px;
      flex: 0 0 50%;
      max-width: 50%;
      justify-content: center;
    }
    .col-right {
      padding-right: 16px;
      flex: 0 0 41%;
      max-width: 41%;
      margin-left: 9%;
    }
  }
}
