.mod-featured-news-post {
  margin-top: 35px;
  color: $white;
  > .container {
    padding: 56px 0 49px;
    background-color: $orange;
    text-align: center;
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .btn {
    margin-top: 29px;
  }
}
.featured-news-logo {
  width: 133px;
  display: inline-block;
  margin-bottom: 20px;
}
@include media-breakpoint-up(lg) {
  .mod-featured-news-post {
    > .container {
      padding: 60px 0 65px;
    }
  }
}
