// css mod-cta
.banner-background {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  &::before {
    @include position(absolute, $top:0, $left:0);
    content: "";
    background-color: rgba($black, .6);
    @include sizeEx(100%,100%);
  }
  .d-table {
    position: relative;
    @include sizeEx(100%, 241px);
    .d-table-cell {
      text-align: left;
    }
  }
  .banner-content {
    margin-bottom: 28px;
    h1 {
      line-height: 1.1;
    }
  }
  .btn {
    margin-left: 5px;
    padding: 0 33px;
  }
}

.green-kite {
  @include sizeEx(36px);
  position: absolute;
  display: inline-block;
  background-color: $color-c6;
  transform-origin: center;
  transform: translateX(-50%) translateY(35%) rotate(45deg);
  bottom: -5px;
}

.banner-content {
  color: $white;
  text-transform: uppercase;
  max-width: 556px;
  *:last-child {
    margin-bottom: 0;
  }
}

.product-box-inner {
  @include position(absolute, $right: 0, $bottom: 0);
  transform: translateY(60%);
  max-width: 223px;
  width: auto;
}

.product-box-outer {
  position: relative;
}

@include media-breakpoint-up(lg) {
  .banner-background {
    .d-table {
      height: 343px;
    }
  }
  .banner-content {
    margin-left: 75px;
  }
  .product-box-inner {
    @include position(absolute, $right: 0, $bottom: 0);
    max-width: 410px;
    width: 40%;
    transform: translateY(30%);
  }
  .green-kite {
    @include sizeEx(57px);
    bottom: -8px;
  }
}
