.mod-contact-container {
  margin-top: 64px;
  .info-contact {
    margin-bottom: 68px;
  }
}

@include media-breakpoint-up(lg) {
  .mod-contact-container {
    margin: 100px 0;
    .row {
      padding: 0 75px;
    }
    .form-contact {
      position: relative;
      margin-top: -200px;
    }
    .info-contact {
      margin-bottom: 0;
    }
  }
}
