
.section-frame4 {
  color: $white;
  background: $color-ffc6;
  .bg-orange {
    @include position(absolute, 0, null, 0, 0);
    @include sizeEx(100%, 55%);
    background: $orange;
    &::before,
    &::after {
      @include sizeEx(50%, 4000px);
      @include position(absolute, 100%, null, null, null);
      content: "";
      display: block;
      background: $orange;
    }
    &::before {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 0;
    }
    &::after {
      right: 0;
      transform: rotate(-45deg);
      transform-origin: 0 0;
    }
  }
}
.bg-image-frame4 {
  @include position(absolute, 0, null,null, 0);
  @include sizeEx(100%,auto);
  padding-top: 70%;
  background: $color-ff;
}
.subhead-frame4 {
  width: 100%;
  margin-left: -15px;
  h2 {
    @extend .text-center;
    @extend .text-lg-left;
    padding: 16px 25px 16px 15px;
    display: inline-block;
    position: relative;
    &::before {
      @include position(absolute, 0, 0, null, null);
      @include sizeEx(100%, 100%);
      content: "";
      display: block;
      background: $black;
    }
    span {
      position: relative;
      z-index: 1;
    }
  }
  h3 {
    margin-bottom: 18px;
  }
}
.cont-frame4 {
  position: relative;
  z-index: 1;
  padding: 90px 0 50px;
  .image-product {
    margin: 85px 0 0 -20%;
    img {
      margin: 0 auto;
      display: block;
    }
  }
}
.subhead-frame4-title {
  .number {
    @extend .d-none;
    @extend .d-lg-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    @include sizeEx(71px);
    @include position(absolute, 0, null, null, 100%);
    @include font($os, 30px, null, 700);
    background: $black;
  }
  .number1 {
    margin-left: 10px;
  }
  .number2 {
    margin-left: 90px;
  }
  .number3 {
    margin-left: 170px;
  }
}
.cont-text-frame4 {
  max-width: 1000px;
  width: 100%;
  margin: 80px auto 0;
}
.list-item-frame4 {
  .item {
    @include font($os, 18px,$black, 700);
    @extend .text-uppercase;
    letter-spacing: .5px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  p {
    margin: 0;
  }
  .butlet {
    @include position(absolute, 2px, null, null, 0);
    @include sizeEx(29px);
    display: block;
    &::before,
    &::after {
      @extend .icomoon;
      display: block;
      content: "";
      font-size: 29px;
    }
    &::before {
      content: "\e92c";
    }
    &::after {
      @include position(absolute, 0, 0, 0, 0);
      content: "\e92d";
      margin: auto;
      color: $white;
    }
  }
}
.col-list-frame4 {
  @extend .col-lg-6;
  @extend .d-lg-flex;
  @extend .justify-content-lg-end;
}
.col-image-product-frame4 {
  @extend .col-lg-6;
}
.fruit-frame4 {
  @include position(absolute, null, null, 0, 0);
  @extend .d-none;
  @extend .d-lg-block;
  width: 30%;
}

@include media-breakpoint-up(lg) {
  .subhead-frame4-title {
    padding: 0;
    display: inline-block;
    position: relative;
  }
  .section-frame4 {
    height: 100%;
    .bg-orange {
      @include sizeEx(45.4%, 100%);
      padding-top: 93px;
      margin-top: 0;
      &::before,
      &::after {
        @include sizeEx(4000px, 50%);
        @include position(absolute, auto, null, 100%, 100%);
      }
      &::before {
        @include position(null, 0, auto, auto, null);
        height: 75%;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      &::after {
        bottom: 0;
        height: 30%;
        transform: rotate(45deg);
      }
    }
  }
  .bg-image-frame4 {
    @include sizeEx(45%, 100%);
    padding-top: 0;
  }
  .subhead-frame4 {
    @include position(relative, null, null, null, null);
    width: 100%;
    padding-top: 0;
    margin: 0;
    h2 {
      padding: 16px 32px 16px 0;
      &::before {
        @include position(absolute, 0, 0, null, null);
        @include sizeEx(2000%, 100%);
        content: "";
        display: block;
        background: $black;
      }
    }
  }
  .cont-frame4 {
    padding: 130px 0 65px;
    .image-product {
      @include position(relative, null, 65px, null, null);
      margin: 0;
      img {
        margin: 0 0 0 auto;
      }
    }
  }
  .title-frame4 {
    padding-left: 65px;
  }
  .list-item-frame4 {
    padding-right: 65px;
  }
}
