.mod-news-feed {
  margin-top: 60px;
  .btn {
    padding: 0 33px;
  }
  .first-col-right,
  .first-col-left {
    @extend .col-12, .col-lg-6;
  }
  .first-col-right {
    height: 1000px;
    margin-bottom: 55px;
  }
  .first-col-left {
    .news-feed-post {
      margin-bottom: 63px;
    }
    margin-bottom: 49px;
  }
  > .container {
    > .row {
      position: relative;
    }
  }
  h2 {
    font-size: rem(26px);
  }
}
.news-feed-image {
  @include position(relative, $index: 2);
  margin: 0 -15px 50px;
  overflow: hidden;
  img {
    transition: .25s;
    display: block;
    margin: 0 auto;
  }
}
.news-feed-post,
.news-feed-quote {
  > a {
    @include position(absolute, $top: 0, $left: 0, $index: 1);
    @include sizeEx(100%);
  }
}
.news-feed-post {
  text-align: center;
  padding: 0 15px;
  cursor: pointer;
  h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}
.news-feed-logo {
  display: inline-block;
  height: 34px;
  margin-bottom: 20px;
  img {
    @include sizeEx(auto, 100%);
  }
}
.news-feed-content {
  >* {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.news-feed-quote {
  position: relative;
  color: $white;
  overflow-x: hidden;
  text-align: center;
  padding: 90px 23px;
  margin: 0 -15px;
  &::before {
    @include sizeEx(4000px, 100%);
    @include position(absolute, $top:0, $right:0, $index:0);
    background: $red;
    content: "";
  }
  .btn {
    margin-top: 29px;
  }
  h2 {
    margin-bottom: 25px;
    text-transform: uppercase;
    line-height: 1.4;
  }
  p {
    letter-spacing: .4px;
  }
  h2,
  p {
    color: $white;
    position: relative;
  }
  >* {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.news-feed-post-col {
  @extend .col-12, .col-lg-6;
  margin-bottom: 69px;
}
.news-feed-post-col:last-child {
  margin-bottom: 66px;
}
.twitter-feed {
  @include sizeEx(100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@include media-breakpoint-up(lg) {
  .mod-news-feed {
    margin-top: 120px;
    h2 {
      font-size: rem(30);
    }
    > .container {
      padding: 0;
    }
    .first-col-left,
    .first-col-right {
      margin-bottom: 0;
    }
    .first-col-left {
      padding-right: 15px;
      .news-feed-post {
        margin-top: 0;
      }
    }
    .first-col-right {
      padding-left: 15px;
      height: auto;
    }
  }
  .news-feed-post {
    text-align: left;
    &:hover {
      .news-feed-image {
        img {
          transform: scale(1.2);
        }
      }
      .btn {
        box-shadow: none !important;
        &::before {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
  .news-feed-post-col {
    padding: 0 3px 0 15px;
    margin: 70px 0 80px;
  }
  .news-feed-post-col:nth-child(even) {
    .news-feed-post {
      padding: 0 15px 0 3px;
    }
  }
  .news-feed-quote {
    text-align: left;
    overflow-x: visible;
    padding: 80px 30px 90px;
    &::before {
      @include position(absolute, $top:0, $right:10px, $index:0);
    }
    &:hover {
      .news-feed-image {
        img {
          transform: scale(1.2);
        }
      }
      .btn {
        box-shadow: none !important;
        &::before {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}
